@charset "UTF-8";
/*
Error: Undefined variable: "$contentDay".
        on line 6 of C:\xampp\htdocs\pixelcrayons\version-4.0\assets\scss\banner-video.scss

1: .hire-main {
2:     .videobox {
3:       width: 36%;
4:       iframe {
5:         vertical-align: bottom;
6:         background-color: $contentDay;
7:         width: 100%;
8:         border: 0;
9:       }
10:      
11:       .client-videos {

Backtrace:
C:\xampp\htdocs\pixelcrayons\version-4.0\assets\scss\banner-video.scss:6
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/New folder/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/New folder/bin/sass:22:in `load'
D:/New folder/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Error: Undefined variable: "$contentDay".\a         on line 6 of C:xampphtdocspixelcrayonsversion-4.0\assetsscssºnner-video.scss\a\a 1: .hire-main {\a 2:     .videobox {\a 3:       width: 36%;\a 4:       iframe {\a 5:         vertical-align: bottom;\a 6:         background-color: $contentDay;\a 7:         width: 100%;\a 8:         border: 0;\a 9:       }\a 10:      \a 11:       .client-videos {';
}

/*# sourceMappingURL=banner-video.css.map */
