/*========== Variables ==========*/
/*======BG Colors ======*/
@media only screen and (min-width: 768px) {
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
  }
}
@media only screen and (min-width: 768px) {
  @font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Italic[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgba(65, 65, 65, 0.9);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 64px;
  line-height: 1.5;
  color: #ffb81d;
  font-weight: 700;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: #110302;
  margin: 0 0 15px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #110302;
  margin: 0 0 15px;
}

h4 {
  font-size: 20px;
  color: #110302;
  font-weight: 700;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
  color: #4B5563;
  line-height: 28px;
  font-weight: 500;
  margin: 0 0 15px;
}

a {
  color: rgba(65, 65, 65, 0.9);
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  font-size: 16px;
  line-height: 26px;
}

.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
}

.light-theme {
  background: #f6f8fb;
}

.dark-theme {
  background: #05247e;
}
.dark-theme .heading h2 {
  color: #ffffff;
}
.dark-theme .heading h2::after {
  background: #ffffff;
}
.dark-theme .heading p {
  color: #ffffff;
}
.dark-theme .heading a {
  color: #ffffff;
}

.width-100 {
  width: 100%;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.item-end {
  align-items: flex-end;
}

.align-right {
  text-align: right;
}

.justify-sb {
  justify-content: space-between;
}

.block {
  display: block;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.flex-1 {
  flex-basis: 100%;
}

.flex-2 {
  flex-basis: 50%;
}

.flex-3 {
  flex-basis: 33.33%;
}

.flex-4 {
  flex-basis: 25%;
}

.flex-5 {
  flex-basis: 20%;
}

.padding-t-120 {
  padding-top: 120px;
}

.padding-b-120 {
  padding-bottom: 120px;
}

.padding-t-70 {
  padding-top: 70px;
}

.padding-b-70 {
  padding-bottom: 70px;
}

.padding-t-60 {
  padding-top: 60px;
}

.padding-b-60 {
  padding-bottom: 60px;
}

.padding-t-50 {
  padding-top: 50px;
}

.padding-b-50 {
  padding-bottom: 50px;
}

.margin-t-100 {
  margin-top: 100px;
}

.margin-t-80 {
  margin-top: 80px;
}

.margin-t-70 {
  margin-top: 70px;
}

.margin-t-60 {
  margin-top: 60px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.learn-more {
  color: #016be3;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.learn-more::after {
  content: "";
  background: url(../images/service/know-more-arrow-icon.png) top center no-repeat;
  position: relative;
  width: 15px;
  height: 11px;
  background-size: 100%;
  top: 0;
  left: 6px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.learn-more:before {
  content: "";
  clear: both;
  display: block;
  background: #016be3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 1px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.learn-more:hover:before {
  opacity: 1;
}
.learn-more:hover::after {
  left: 10px;
}

::placeholder {
  color: #737373;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.cmn-btn {
  color: #016be3;
  border: 1.5px solid #016be3;
  border-radius: 3px;
  background: transparent;
  font-size: 18px;
  line-height: 36px;
  display: block;
  width: 100%;
  padding: 8px 0 12px;
  margin: 30px 0 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.cmn-btn:hover {
  background-color: #016be3;
  color: #fff;
}

.white-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  transition: 0.5s all ease-in-out;
}
.white-btn:hover {
  background-color: #fff;
  color: #016be3;
  border: 1px solid #fff;
}
.white-btn.blue {
  color: #016be3;
  border: 1.5px solid #016be3;
  font-weight: 500;
}
.white-btn.blue:hover {
  background-color: #016be3;
  color: #fff;
}
.white-btn.white {
  background-color: #fff;
  color: #000;
}
.white-btn.white:hover {
  background-color: #016be3;
  color: #000;
  border: 1.5px solid #016be3;
}

.heading h2 {
  position: relative;
  margin-bottom: 40px;
}
.heading h2:after {
  content: "";
  background: #016be3;
  width: 80px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -20px;
}
.heading p {
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: #414141;
  line-height: 29px;
}
.heading ul li {
  font-size: 18px;
  color: #414141;
  line-height: 29px;
}

.get-started {
  background: #05247e;
}
.get-started h2 {
  color: #fff;
}
.get-started p {
  margin-top: 15px;
  color: #fff;
}
.get-started p:first-child {
  margin-top: 0;
}
.get-started p a {
  color: #ffffff;
}

.breadcrumbs {
  position: relative;
  top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
  font-weight: 500;
}
.breadcrumbs a {
  display: inline-block;
  position: relative;
  color: rgba(197, 197, 215, 0.61);
  padding-right: 14px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.breadcrumbs a:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  width: 6px;
  height: 10px;
  background: url(../../assets/images/breadcrumbs-arrow.png) 0 1px no-repeat;
  background-size: 100%;
}
.breadcrumbs a:hover {
  color: #fff;
}

.service-breadcrumbs {
  color: #016be3;
}
.service-breadcrumbs a {
  color: #253053;
  transition: all 0.3s ease-in-out;
}
.service-breadcrumbs a:hover {
  color: #016be3;
}
.service-breadcrumbs {
  margin-bottom: 30px;
}

.for-home-client-logo {
  margin-top: 20px;
}
.for-home-client-logo i {
  width: 98px;
  height: 59px;
  background: url(../images/home/home-awards-icon.svg) 0 0 no-repeat;
  display: inline-block;
  background-size: cover;
}
.for-home-client-logo i:nth-child(1) {
  background-position: 0px 0px;
}
.for-home-client-logo i:nth-child(2) {
  background-position: -101px 0px;
}
.for-home-client-logo i:nth-child(3) {
  background-position: -203px 0;
}
.for-home-client-logo i:nth-child(4) {
  background-position: -304px 0;
}
.for-home-client-logo i:nth-child(5) {
  background-position: -406px 0;
}

.body-pop {
  position: relative;
  overflow: hidden;
}
.body-pop::after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #656565;
  opacity: 0.8;
}

.free-trail-pop-up {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}
.free-trail-pop-up.open-pop {
  display: grid;
}
.free-trail-pop-up .pop-up-inner {
  background-color: #ffffff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.free-trail-pop-up .pop-close {
  text-align: right;
  display: block;
  margin: 25px 25px 25px auto;
  color: #212121;
  background: url(../images/pop-close.png) 0 0 no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.free-trail-pop-up .pop-up-box {
  padding: 30px 100px 100px;
}
.free-trail-pop-up h2 {
  color: #212121;
}
.free-trail-pop-up p {
  margin-top: 10px;
  color: #656565;
}
.free-trail-pop-up p:first-of-type {
  margin-top: 20px;
}
.free-trail-pop-up .popup-green-btn {
  margin-top: 50px;
  padding: 23px 31px;
  color: #ffffff;
  background: #60b741;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.free-trail-pop-up .popup-green-btn:hover {
  background-color: #ffb81d;
}

.is-arrow {
  display: block;
  text-decoration: underline;
  color: #05164d;
  text-align: left;
  margin: 40px 0 0;
  font-weight: 400;
  font-size: 18px;
}
.is-arrow:after {
  content: "";
  background: url(../images/home-images/arrow.svg) no-repeat center;
  width: 11px;
  display: inline-block;
  height: 11px;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}
.is-arrow:hover {
  text-decoration: none;
}
.is-arrow:hover:after {
  margin-left: 15px;
}

.top-section {
  padding: 0 0 80px;
  text-align: center;
}
.top-section h6 {
  color: #0400F5;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.top-section p {
  font-size: 18px;
}
.top-section.text-left {
  padding: 0;
  text-align: left;
}

.gradient-bg {
  background: linear-gradient(270deg, #0b147c 21.77%, #4b1bac 100%);
}
.gradient-bg .top-section h2 {
  color: #ffffff;
}
.gradient-bg .top-section p {
  color: #bdb7b7;
}

.btn-container {
  margin-top: 30px;
}
.btn-container .cta-button {
  display: inline-flex;
  padding: 10px 20px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  background: #DFFB0B;
  color: #0400F5;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 50px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.0509803922);
}
.btn-container .cta-button:after {
  content: "";
  background: url(../images/home-images/bluegr-cta.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: inline-block;
  margin-left: 10px;
}
.btn-container .cta-button:hover {
  background: #0400F5;
  color: #ffffff;
}
.btn-container .cta-button:hover:after {
  background: url(../images/home-images/white-cta.svg) no-repeat;
  background-size: 100%;
}
.btn-container .cta-button.white {
  background: #DFFB0B;
  color: #0400F5;
}
.btn-container .cta-button.white:after {
  background: url(../images/home-images/bluegr-cta.svg) no-repeat;
  background-size: 100%;
}
.btn-container .cta-button.white:hover:after {
  background: url(../images/home-images/bluegr-hovercta.svg) no-repeat;
  background-size: 100%;
}
.btn-container .cta-button.white:hover {
  background: #ffffff;
  color: #0400F5;
}

.explore-btn {
  position: relative;
  color: #0400F5;
  font-weight: 500;
  text-decoration: underline;
}
.explore-btn:after {
  content: "";
  background: url(../images/explore-btn.svg) no-repeat center;
  width: 11px;
  position: absolute;
  height: 11px;
  margin-left: 8px;
  top: 6px;
  transition: all 0.3s ease-in-out;
}
.explore-btn:hover:after {
  margin-left: 15px;
}

.ppc-badge {
  margin: 20px 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1780px) {
  .container {
    max-width: 1520px;
  }
}
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1380px;
  }
  .padding-t-120 {
    padding-top: 100px;
  }
  .padding-b-120 {
    padding-bottom: 100px;
  }
  .margin-t-100 {
    margin-top: 80px;
  }
  .margin-t-80 {
    margin-top: 60px;
  }
  .free-trail-pop-up .popup-green-btn {
    margin-top: 40px;
    padding: 14px 20px;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 10px 60px 70px;
  }
  .free-trail-pop-up .pop-close {
    margin: 20px 20px 20px auto;
  }
  .free-trail-pop-up .pop-up-inner {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1260px;
  }
  h1 {
    font-size: 65px;
    line-height: 91px;
  }
}
@media only screen and (max-width: 1320px) {
  .container {
    max-width: 1120px;
  }
  .padding-t-100 {
    padding-top: 60px;
  }
  .padding-b-100 {
    padding-bottom: 60px;
  }
  .padding-t-120 {
    padding-top: 80px;
  }
  .padding-b-120 {
    padding-bottom: 80px;
  }
  .padding-t-70 {
    padding-top: 60px;
  }
  .padding-b-70 {
    padding-bottom: 60px;
  }
  .margin-t-80 {
    margin-top: 60px;
  }
  .top-section {
    padding: 0 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tools-developer .flex-4 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 15px;
  }
  br {
    display: none;
  }
  h3 {
    font-size: 22px;
  }
  .flex-2 {
    flex-basis: 100%;
  }
  .flex-2:first-child {
    padding-right: 0;
  }
  .flex-3 {
    flex-basis: 50%;
  }
  .flex-4 {
    flex-basis: 50%;
  }
  .flex-5 {
    flex-basis: 33.33%;
  }
  .padding-t-150 {
    padding-top: 60px;
  }
  .padding-b-150 {
    padding-bottom: 60px;
  }
  .margin-b-150 {
    margin-bottom: 60px;
  }
  .margin-t-100,
  .margin-t-80,
  .margin-t-70,
  .margin-t-60 {
    margin-top: 40px;
  }
  .flex-4 {
    flex-basis: 50%;
  }
  .is-arrow {
    margin: 25px 0 0;
  }
  .free-trail-pop-up .pop-up-inner {
    max-width: 700px;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 0 50px 50px;
  }
  .free-trail-pop-up .green-btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 24px;
  }
  ::placeholder,
  input,
  textarea {
    font-family: sans-serif;
  }
  .padding-t-100 {
    padding-top: 40px;
  }
  .padding-b-100 {
    padding-bottom: 40px;
  }
  .padding-b-150 {
    padding-bottom: 60px;
  }
  .margin-b-150 {
    margin-bottom: 40px;
  }
  .padding-t-120 {
    padding-top: 50px;
  }
  .padding-b-120 {
    padding-bottom: 50px;
  }
  .padding-t-150 {
    padding-top: 60px;
  }
  .padding-t-70 {
    padding-top: 40px;
  }
  .padding-b-70 {
    padding-bottom: 60px;
  }
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  ul li {
    font-size: 14px;
    line-height: 24px;
  }
  .flex-3 {
    flex-basis: 100%;
  }
  .flex-4 {
    flex-basis: 100%;
  }
  .flex-5 {
    flex-basis: 100%;
  }
  .heading h2 br {
    display: none;
  }
  .heading h2:after {
    bottom: -15px;
  }
  .heading p {
    width: 100%;
    font-size: 16px;
    line-height: 27px;
  }
  .heading ul li {
    font-size: 16px;
    line-height: 27px;
  }
  .cmn-btn {
    font-size: 16px;
    line-height: 28px;
  }
  .white-btn {
    padding: 10px 20px;
  }
  .glider {
    overflow: hidden;
  }
  .service-breadcrumbs {
    margin-bottom: 10px;
  }
  .breadcrumbs {
    top: 0;
  }
  .free-trail-pop-up .pop-close {
    width: 14px;
    height: 14px;
    background-size: 100%;
    margin: 15px 20px 15px auto;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 0 15px 30px;
  }
  .free-trail-pop-up p {
    font-size: 14px;
    line-height: 22px;
  }
  .free-trail-pop-up p:first-of-type {
    margin-top: 10px;
  }
  .free-trail-pop-up .green-btn {
    margin-top: 30px;
    padding: 12px 15px;
    font-size: 14px;
  }
  .is-arrow {
    margin: 20px 0 0;
    font-size: 16px;
  }
  .top-section {
    padding: 0 0 40px;
  }
  .top-section p {
    font-size: 16px;
  }
  .btn-container {
    margin-top: 20px;
  }
  .btn-container .cta-button {
    padding: 12px 16px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
  }
}
.popup-section {
  width: 100%;
}
.popup-section .popup-wrapper {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup-section .popup-wrapper .popWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-section .popup-wrapper .popWrap .popup-content {
  width: 612px;
  background: #016be3;
  border-radius: 25px;
  padding: 36px 70px;
  text-align: center;
  position: relative;
}
.popup-section .popup-wrapper .popWrap .popup-content h2 {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 8px;
  line-height: 40px;
}
.popup-section .popup-wrapper .popWrap .popup-content h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 15px;
  color: #fff;
}
.popup-section .popup-wrapper .popWrap .popup-content p {
  color: #fff;
}
.popup-section .popup-wrapper .popWrap .popup-content .ctasec {
  margin: 20px 0 0;
}
.popup-section .popup-wrapper .popWrap .popup-content .ctasec a {
  display: inline-block;
  border: 1px solid #fff;
  margin: 15px auto 0;
  padding: 15px 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  min-width: 376px;
}
.popup-section .popup-wrapper .popWrap .popup-content .ctasec a:hover {
  background: #05164d;
  color: #fff;
  border-color: #05164d;
}
.popup-section .popup-wrapper .popWrap .popup-content .ctasec a.book-btn {
  background: #fff;
  color: #05164d;
  border-color: #fff;
}
.popup-section .popup-wrapper .popWrap .popup-content .closeicon {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 10px;
  background: none;
}
.popup-section .exit-intent-popup {
  display: none;
}
.popup-section .exit-intent-popup.visible {
  display: block;
}

@media only screen and (max-width: 991px) {
  .popup-section .popup-wrapper .popWrap .popup-content {
    width: 90%;
    border-radius: 20px;
    padding: 30px 35px;
  }
  .popup-section .popup-wrapper .popWrap .popup-content h2 {
    font-size: 27px;
    line-height: 32px;
  }
  .popup-section .popup-wrapper .popWrap .popup-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 10px;
  }
  .popup-section .popup-wrapper .popWrap .popup-content .ctasec {
    margin: 20px 0 0;
  }
  .popup-section .popup-wrapper .popWrap .popup-content .ctasec a {
    padding: 12px 20px;
    margin: 10px 0 0;
    min-width: auto;
  }
}
.footer-form-section {
  position: relative;
  background: #ffffff;
}
.footer-form-section ::placeholder {
  color: rgba(50, 50, 50, 0.5);
}
.footer-form-section:before {
  content: "";
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0400F5;
  height: 100%;
}
.footer-form-section .left-box {
  flex-basis: 35%;
  position: relative;
  z-index: 1;
}
.footer-form-section .left-box .soc-box {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
}
.footer-form-section .left-box .soc-box a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  line-height: initial;
}
.footer-form-section .left-box .soc-box a:before {
  content: "";
  width: 1px;
  height: 25px;
  position: absolute;
  left: 9px;
  top: -2px;
  background: rgba(65, 65, 65, 0.3);
}
.footer-form-section .left-box .soc-box a:hover {
  color: #ffffff;
}
.footer-form-section .left-box .soc-box a:first-child {
  padding: 0;
}
.footer-form-section .left-box .soc-box a:first-child:before {
  display: none;
}
.footer-form-section .left-box .soc-box a i {
  margin-right: 10px;
}
.footer-form-section .left-box .soc-box a i img {
  vertical-align: middle;
}
.footer-form-section .left-box .soc-box a:before {
  content: "";
  width: 1px;
  height: 25px;
  position: absolute;
  left: 9px;
  top: -2px;
  background: rgba(65, 65, 65, 0.3);
}
.footer-form-section .left-box .soc-box a span {
  position: relative;
}
.footer-form-section .left-box .soc-box a span:after {
  content: "";
  width: 100%;
  height: 2px;
  background: url(../images/home-images/soc-border.svg) 0 0 no-repeat;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 1 !important;
}
.footer-form-section .left-box .award-box {
  width: 100%;
  padding: 30px 0 0;
}
.footer-form-section .left-box .award-box p {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.footer-form-section .left-box .award-box p strong {
  font-weight: 700;
}
.footer-form-section .left-box .award-box p a {
  color: #ffffff;
  text-decoration: underline;
}
.footer-form-section .left-box .award-box .row-box .col-box {
  margin: 30px 0 0;
  align-items: self-start;
}
.footer-form-section .left-box .award-box .row-box .col-box .icon {
  flex-basis: 50px;
}
.footer-form-section .left-box .award-box .row-box .col-box .desp {
  flex-basis: 85%;
  padding-left: 0;
}
.footer-form-section .left-box .award-box .row-box .col-box .desp h4 {
  color: #e0e0e0;
  font-weight: 500;
}
.footer-form-section .left-box .award-box .row-box .col-box .desp p {
  font-size: 14px;
  margin: 5px 0 0;
  line-height: 24px;
  color: #c0c0c0;
  font-weight: 400;
}
.footer-form-section .left-box .award-box .client-stack {
  margin: 30px 0 0;
}
.footer-form-section .left-box .award-box .client-stack ul {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}
.footer-form-section #ffile-type-error {
  color: #ff0000;
  font-size: 12px;
}
.footer-form-section .list-box {
  padding-left: 60px;
  position: relative;
  padding-top: 25px;
}
.footer-form-section .list-box::before {
  clear: both;
  background: #016be3;
  box-shadow: 0 0 10px rgba(9, 39, 149, 0.25);
  color: #fff;
  font-size: 18px;
  line-height: 21.09px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
}
.footer-form-section .side-dash1 p {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-form-section .side-dash1::before {
  content: "1";
}
.footer-form-section .side-dash1::after {
  content: "";
  clear: both;
  display: block;
  height: 100%;
  border-left: 0.8px dashed rgba(223, 223, 223, 0.5);
  width: 4px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.footer-form-section .side-dash2::before {
  content: "2";
}
.footer-form-section .contact-form-box {
  background: #ffffff;
  border-radius: 15px;
}
.footer-form-section .right-box {
  flex-basis: 60%;
  padding-left: 50px;
}
.footer-form-section .form-text-cont {
  flex-basis: 50%;
  margin-top: 30px;
  position: relative;
}
.footer-form-section .form-text-cont:nth-child(2n-1) {
  padding-right: 20px;
}
.footer-form-section .form-text-cont .user-input {
  position: relative;
}
.footer-form-section .form-text-cont .user-input label {
  position: absolute;
  top: -13px;
  left: 8px;
  font-size: 13px;
  background: #fff;
  padding: 0 8px;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 500;
}
.footer-form-section .form-text-cont .dis-flex {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-form-section .input-field {
  border: 1.5px solid #d4e0ed;
  padding: 0 15px;
  height: 54px;
  background: transparent;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  outline: 0;
  color: rgba(51, 51, 51, 0.5);
  line-height: initial;
}
.footer-form-section .input-field:focus {
  border: 0.5px solid #010101;
}
.footer-form-section .user-input.textarea-box .input-field {
  height: initial;
  padding: 15px;
}
.footer-form-section small {
  display: none;
  color: #ff0000;
  font-size: 12px;
}
.footer-form-section .verror small {
  display: block;
}
.footer-form-section .verror .input-field,
.footer-form-section .verror .user-input {
  border-color: #ff0000 !important;
}
.footer-form-section .verror.user-input small {
  margin-top: 5px;
}
.footer-form-section .comment-input {
  min-height: 100px;
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
  font-family: Lexend Deca;
  font-weight: normal;
}
.footer-form-section .drop-input {
  position: relative;
  bottom: 0;
  left: 0;
}
.footer-form-section .drop-box {
  text-decoration: none;
  padding: 5px 10px;
  border: 0.5px solid #fff;
  font-size: 12px;
}
.footer-form-section .checkout {
  flex-basis: 34%;
  text-align: right;
}
.footer-form-section .checkout .btn-container {
  margin-top: 0;
}
.footer-form-section .checkout .btn-container .cta-button {
  background: #0400F5 url(../images/home-images/white-cta.svg) no-repeat right 15px center;
  border: none;
  padding: 16px 50px 16px 20px;
  color: #ffffff;
}
.footer-form-section .checkout .btn-container .cta-button:hover {
  background: #016be3 url(../images/home-images/white-cta.svg) no-repeat right 15px center;
}
.footer-form-section .form-text-cont.width-full {
  flex-basis: 100%;
  padding-right: 0;
}
.footer-form-section .drop-area-box {
  display: inline-block;
  background: none;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  border-radius: 0;
  cursor: pointer;
  color: #323232;
}
.footer-form-section .drop-area-box input {
  display: none;
}
.footer-form-section .drop-area-box button {
  background: rgba(217, 217, 217, 0.2);
  color: #414040;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #d1d1e1;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
}
.footer-form-section .drop-area-box button:hover {
  background: rgba(217, 217, 217, 0.8);
  opacity: 1;
}
.footer-form-section .for-two-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.footer-form-section .autocomplete-items {
  display: none;
}
.footer-form-section .autocomplete-items.has-data {
  background: #fff;
  display: block;
  height: 140px;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-width: 280px;
  box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.4);
  border-radius: 5px;
  z-index: 2;
}
.footer-form-section .autocomplete-items.has-data div {
  color: #444444;
  background: #fff;
  border-bottom: 1px solid #444444;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 15px 20px;
}
.footer-form-section .autocomplete-items.has-data div.autocomplete-active, .footer-form-section .autocomplete-items.has-data div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.footer-form-section .gal-loader {
  position: relative;
  padding: 20px;
  margin-bottom: 15px;
  display: none;
}
.footer-form-section .gal-loader.active {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.footer-form-section .gal-loader.active .loader {
  display: block;
}
.footer-form-section .gal-loader.show-me {
  display: block;
  min-height: 100px;
}
.footer-form-section .gal-loader .loader {
  border: 5px solid #9f9f9f;
  border-radius: 50%;
  border-top: 5px solid #016be3;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 50%;
  display: none;
}
.footer-form-section .gallery div {
  display: inline-flex;
  margin-right: 10px;
  vertical-align: baseline;
  align-items: flex-start;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.footer-form-section .gallery div button,
.footer-form-section .gallery div a {
  text-decoration: none;
  background: #ffb81d;
  padding: 4px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.footer-form-section .gallery div button:focus,
.footer-form-section .gallery div a:focus {
  background: #f30909;
}
.footer-form-section .gallery img {
  width: auto;
  height: 45px;
  margin-right: 10px;
  vertical-align: middle;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer-form-section .form-quiz-group {
  display: flex;
  align-items: center;
  flex-basis: 66%;
}
.footer-form-section .form-quiz-group .quizQ {
  border: 1px dashed #c4c4c4;
  border-radius: 4px;
  padding: 13px 30px;
  background: url("../images/quiz-bg.png") 5px center no-repeat;
  height: 50px;
}
.footer-form-section .form-quiz-group .equal {
  margin: 0 15px;
}
.footer-form-section .form-quiz-group span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4a4c55;
}
.footer-form-section .form-quiz-group .refreshbtn {
  background: url(../images/home-images/refresh-icon.svg) top center no-repeat;
  background-size: 100%;
  width: 24px;
  height: 21px;
  margin-left: 35px;
  cursor: pointer;
  margin-top: -4px;
  transition: all 0.5s ease 0s;
  display: inline-block;
  vertical-align: middle;
}
.footer-form-section .form-quiz-group .refreshbtn:active {
  transform: rotate(360deg);
}
.footer-form-section .form-quiz-group .quizAns input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 50px;
  max-width: 67px;
  text-align: center;
  padding: 10px 20px;
}
.footer-form-section .form-quiz-group .quizAns span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ff0000;
}
.footer-form-section .user-input .pcode-prefix {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 0;
  border: 0;
  outline: 0;
  width: 100px;
  background: none;
  padding-left: 44px;
  color: #737373;
}
.footer-form-section .flag-box {
  flex-basis: 26%;
}
.footer-form-section .phone-flag-box .user-input:last-child {
  flex-basis: 74%;
  padding-left: 20px;
}

.info-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
}
.info-wrap .info {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.info-wrap .info:after {
  content: "";
  width: 14px;
  height: 15px;
  background: url(../images/info-icon2.svg) 0 0 no-repeat;
  position: absolute;
  top: -1px;
  transform: translateY(-50%);
  left: 0;
}
.info-wrap .info .info-content {
  width: 315px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 30px 0px rgba(227, 233, 245, 0.38);
  padding: 15px;
  position: absolute;
  top: 25px;
  left: -75px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  text-align: left;
  line-height: initial;
  z-index: 9;
}
.info-wrap .info .info-content h4 {
  font-size: 14px;
  color: #000;
  margin: 0 0 5px;
}
.info-wrap .info .info-content p {
  font-size: 11px;
  color: #000;
  line-height: 160%;
  margin: 0 0 5px;
  font-weight: normal;
}
.info-wrap .info .info-content .kmore {
  font-size: 11px;
  margin: 10px 0 0;
  text-decoration: underline;
  position: relative;
  color: #000;
}
.info-wrap .info .info-content .kmore:after {
  content: "";
  background: url(../images/know-arrow.png) 0 0 no-repeat;
  width: 8px;
  display: inline-block;
  height: 8px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.info-wrap .info .info-content .kmore:hover {
  text-decoration: none;
  color: #000;
}
.info-wrap .info .info-content .kmore:hover:after {
  margin-left: 10px;
}
.info-wrap .info .info-content:before {
  content: "";
  clear: both;
  display: block;
  background: url(../images/poly.svg) 0 0 no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -15px;
  left: 70px;
}
.info-wrap .info:hover .info-content {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1320px) {
  .footer-form-section .form-quiz-group .equal {
    margin: 0 5px;
  }
  .footer-form-section .form-quiz-group .refreshbtn {
    margin-left: 20px;
  }
  .footer-form-section .form-quiz-group .quizQ {
    padding: 13px 20px;
  }
  .footer-form-section .form-quiz-group {
    flex-basis: 50%;
  }
  .footer-form-section .checkout {
    flex-basis: 35%;
  }
  .footer-form-section .checkout .checkout-submit {
    padding: 12px 15px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-form-section .contact-form-box {
    border-radius: 10px;
  }
}
@media screen and (max-width: 991px) {
  .footer-form-section .left-box {
    flex-basis: 100%;
    padding-right: 0;
  }
  .footer-form-section .left-box h2 {
    margin-bottom: 30px;
  }
  .footer-form-section .left-box .award-box .row-box .col-box .icon {
    flex-basis: 50px;
  }
  .footer-form-section .left-box .award-box .row-box .col-box .desp {
    flex-basis: 80%;
  }
  .footer-form-section .right-box {
    flex-basis: 100%;
    margin-top: 60px;
    padding: 0;
  }
  .footer-form-section .right-box .top-section.text-left {
    padding: 30px 0;
    text-align: center;
  }
  .footer-form-section .contact-form-box {
    padding: 0;
  }
  .footer-form-section .input-field {
    height: 50px;
    font-size: 14px;
  }
  .footer-form-section .comment-input {
    font-size: 14px;
  }
  .footer-form-section .checkout .btn-container {
    text-align: center;
  }
  .footer-form-section:before {
    width: 100%;
    height: 43%;
  }
}
@media screen and (max-width: 767px) {
  .footer-form-section .phone-flag-box .user-input:last-child {
    padding-left: 10px;
  }
  .footer-form-section .user-input .pcode-prefix {
    top: 25px;
  }
  .footer-form-section .form-text-cont {
    flex-basis: 100%;
  }
  .footer-form-section .form-text-cont:nth-child(2n-1) {
    padding-right: 0px;
  }
  .footer-form-section .for-two-col {
    margin-top: 30px;
  }
  .footer-form-section .for-two-col .attachment-box {
    flex-basis: 100%;
  }
  .footer-form-section .for-two-col .checkout {
    flex-basis: 100%;
    text-align: left;
    margin-top: 30px;
  }
  .footer-form-section .left-box h2 br {
    display: none;
  }
  .footer-form-section .left-box .profile-pic img {
    max-width: 45px;
  }
  .footer-form-section .side-dash1::after {
    left: 15px;
  }
  .footer-form-section .list-box {
    padding-left: 45px;
  }
  .footer-form-section .list-box::before {
    height: 30px;
    width: 30px;
  }
  .footer-form-section .right-box .form-text-cont:first-child {
    margin-top: 0;
  }
  .footer-form-section .comment-input {
    min-height: 85px;
  }
  .footer-form-section .drop-area-box label::before {
    background-position: 4px 6px;
    background-size: 70%;
    width: 28px;
    height: 28px;
    top: -5px;
  }
  .footer-form-section .form-quiz-group {
    flex-basis: 100%;
    align-items: baseline;
  }
  .footer-form-section .form-quiz-group .quizQ {
    min-width: 130px;
    padding: 12px 15px;
  }
  .footer-form-section .form-quiz-group span {
    font-size: 16px;
  }
  .footer-form-section .form-quiz-group .refreshbtn {
    margin-left: 10px;
    margin-top: 1px;
    width: 20px;
  }
  .footer-form-section .form-quiz-group .quizAns span {
    margin: 5px 0 0;
    display: block;
  }
  .info-wrap .info .info-content {
    width: 250px;
  }
  .footer-form-section:before {
    height: 42%;
  }
}

/*# sourceMappingURL=cta-v3.css.map */
