/*
Error: Undefined variable: "$white".
        on line 262 of C:\xampp\htdocs\pixelcrayons\version-4.0\assets\scss\how-we-works.scss

257:         border-radius: 10px;
258:         padding: 18px 89px;
259:         align-items: center;
260:         .leftblue {
261:             h3 {
262:                 color: $white;
263:             }
264:             h4 {
265:                 font-weight: 600;
266:                 font-size: 30px;
267:                 line-height: 64px;

Backtrace:
C:\xampp\htdocs\pixelcrayons\version-4.0\assets\scss\how-we-works.scss:262
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/New folder/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/New folder/bin/sass:22:in `load'
D:/New folder/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Error: Undefined variable: "$white".\a         on line 262 of C:xampphtdocspixelcrayonsversion-4.0\assetsscsshow-we-works.scss\a\a 257:         border-radius: 10px;\a 258:         padding: 18px 89px;\a 259:         align-items: center;\a 260:         .leftblue {\a 261:             h3 {\a 262:                 color: $white;\a 263:             }\a 264:             h4 {\a 265:                 font-weight: 600;\a 266:                 font-size: 30px;\a 267:                 line-height: 64px;';
}

/*# sourceMappingURL=how-we-works.css.map */
