.cta-section {
  background: $gradient;
  padding: 30px 0;

  .cta-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-sec {
    flex-basis: 60%;
    padding: 40px 0;
    .top-section {
      h2 {
        color: $white;
        a {
          color: $white;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      p {
        color: #bdb7b7;
        a {
          color: #bdb7b7;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .btn-container {
        margin: 40px 0 0;
      }

      ul {
        display: flex;
        align-items: center;
        margin: 25px 0 0;
        li {
          padding-left: 30px;
          color: #dcdcdc;
          position: relative;
          margin-right: 15px;
          font-weight: $normal-font;
          &:before {
            content: "";
            background: url(../images/home-images/tick-mark.svg) no-repeat
              center;
            width: 24px;
            height: 24px;
            background-size: 100%;
            position: absolute;
            left: 0;
            top: 3px;
          }
        }
        a {
          color: #dcdcdc;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .right-sec {
    flex-basis: 35%;
  }
}

// Media Query Start From Here

@media (max-width: 1440px) {
}

@media (max-width: 1320px) {
}

@media (max-width: 1024px) {
  .cta-section {
    .left-sec {
      flex-basis: 60%;
      ul {
        flex-wrap: wrap;
        li {
          width: 100%;
        }
      }
    }
    .right-sec {
      flex-basis: 35%;
    }
  }
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .cta-section {
    padding: 50px 0;
    .left-sec {
      flex-basis: 100%;
      padding: 0;
      text-align: center;
      .top-section {
        .btn-container {
          margin: 30px 0 0;
        }

        ul {
          display: flex;
          align-items: center;
          margin: 20px 0 0;
          justify-content: center;
          li {
            padding-left: 23px;
            margin-right: 10px;
            margin-bottom: 5px;
            width: auto;
            &:before {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .right-sec {
      flex-basis: 100%;
      display: none;
    }
  }
}

//Not Required
