.slide-logo {
  padding: 39px 0;
  text-align: center;
  .dis-flex {
    overflow: hidden;
  }
  .logo-heading {
    position: relative;
    width: 90%;
    margin: 0 0 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    h4 {
      color: rgba(65, 65, 65, 0.9);
      font-size: 18px;
      margin: 0 35px; background:$white;
      position: relative;
      font-weight: 400;

      span{margin: 0 35px; background:$white;}
    
    }
    flex-basis: 100%;
    margin: 0 0 25px;
    justify-content: center;

    strong {
      color: $royelblue;
      font-weight: 500;
    }

    &:before {
      width: 90%;
      content: "";
      height: 0.197px;
      background: rgba(5, 22, 77, 0.4);
      position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    }

    
    
  }

  .logo-section {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(5, 22, 77, 0.4);
    padding: 0 0 25px;
    .glide {
      &__slide {
        height: 90px;
        img{width:100%; vertical-align: middle;}
      }
    }
  }
}


@media (max-width:1042px) {

.slide-logo{
   .logo-section {
    .glide__slide{height:50px;}
   }
}
}


@media only screen and (max-width: 479px) {
  .slide-logo {display:none;
    padding:30px 0;
    .logo-heading {
      margin: 0 0 20px;
      h4 {
        font-size: 18px;
        margin: 0 20px;
      }
      margin: 0 0 20px;
      justify-content: center;
  
      &:before {
        display:none;
      }
      &:after {
        display:none;
      }
    }
  
    .logo-section {
      width:100%;
      margin: 0 auto;
      .glide {
        &__slide {
          height: auto;
        }
      }
    }
  }

}

