/*========== Variables ==========*/

/*======BG Colors ======*/
$darkYellow: #ffc732;
$yellow: #ffb81d;
$bg-blue: #05247e;
$bg-dark-blue: #090940;
$bgWhiteGray: #f6f8fb;
$darker-blue: #092795;
$lighter-blue: #04237f;
$green: #60ac0b;
$white: #ffffff;
$black: #000;
$mainHeadDay: #010101;
$headDay: #444444;
$contentDay: #737373;
$shadeofblue: #666e86;
$mainNewHeadDay: #414141;

$gradient-bg: linear-gradient(270deg, #0b147c 21.77%, #4b1bac 100%);
$royel-bg: #05247e;
$arsenic-light: rgba(65, 65, 65, 0.9);
$arsenic-dark: #414141;
$royelblue: #016be3;
$body-text2: 18px;
$line-height29: 29px;

$darkblack: #110302;
$font-18: 18px;
$font-16: 16px;
$normal-font: 400;
$medium-font: 500;
$semi-bold: bold;
$bold: bold;
$navy-blue: #05164d;
$gradient: linear-gradient(270deg, #0b147c 21.77%, #4b1bac 100%);

@media only screen and (min-width: 768px) {
  @font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
      url("../fonts/LexendDeca-Regular.woff") format("woff"),
      url("../fonts/LexendDeca-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: $arsenic-light;
  font-size: 16px;
  line-height: 28px;
  font-weight: $normal-font;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 80px;
  line-height: 1.5;
  color: $yellow;
  font-weight: $bold;
  margin-bottom: 15px;
}

h2 {
  font-size: 46px;
  line-height: 58px;
  font-weight: $bold;
  color: $darkblack;
  margin: 0 0 15px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: $bold;
  color: $darkblack;
  margin: 0 0 15px;
}

h4 {
  font-size: 20px;
  color: $darkblack;
  font-weight: $bold;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: #5e6373;
  line-height: 28px;
  font-weight: $normal-font;
  margin: 0 0 15px;
}

a {
  color: $arsenic-light;
  text-decoration: none;
}

ul {
  list-style: none;

  li {
    color: $arsenic-light;
    font-size: 16px;
    line-height: 26px;
  }
}

.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
}

.light-theme {
  background: $bgWhiteGray;
}

.dark-theme {
  background: $bg-blue;

  .heading {
    h2 {
      color: $white;

      &::after {
        background: $white;
      }
    }

    p {
      color: $white;
    }

    a {
      color: $white;
    }
  }
}

.width-100 {
  width: 100%;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.item-end {
  align-items: flex-end;
}

.align-right {
  text-align: right;
}

.justify-sb {
  justify-content: space-between;
}

.block {
  display: block;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.flex-1 {
  flex-basis: 100%;
}

.flex-2 {
  flex-basis: 50%;
}

.flex-3 {
  flex-basis: 33.33%;
}

.flex-4 {
  flex-basis: 25%;
}

.flex-5 {
  flex-basis: 20%;
}

.padding-t-120 {
  padding-top: 120px;
}

.padding-b-120 {
  padding-bottom: 120px;
}

.padding-t-70 {
  padding-top: 70px;
}

.padding-b-70 {
  padding-bottom: 70px;
}

.padding-t-60 {
  padding-top: 60px;
}

.padding-b-60 {
  padding-bottom: 60px;
}

.padding-t-50 {
  padding-top: 50px;
}

.padding-b-50 {
  padding-bottom: 50px;
}

.margin-t-100 {
  margin-top: 100px;
}

.margin-t-80 {
  margin-top: 80px;
}

.margin-t-70 {
  margin-top: 70px;
}

.margin-t-60 {
  margin-top: 60px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.learn-more {
  color: #016be3;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;

  &::after {
    content: "";
    background: url(../images/service/know-more-arrow-icon.png) top center
      no-repeat;
    position: relative;
    width: 15px;
    height: 11px;
    background-size: 100%;
    top: 0;
    left: 6px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  &:before {
    content: "";
    clear: both;
    display: block;
    background: #016be3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 16px);
    height: 1px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    &::after {
      left: 10px;
    }
  }
}

::placeholder {
  color: #737373;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// coomon section
.cmn-btn {
  color: #016be3;
  border: 1.5px solid #016be3;
  border-radius: 3px;
  background: transparent;
  font-size: 18px;
  line-height: 36px;
  display: block;
  width: 100%;
  padding: 8px 0 12px;
  margin: 30px 0 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #016be3;
    color: #fff;
  }
}

.white-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  transition: 0.5s all ease-in-out;

  // font-family: "Roboto";
  &:hover {
    background-color: #fff;
    color: #016be3;
    border: 1px solid #fff;
  }

  &.blue {
    color: #016be3;
    border: 1.5px solid #016be3;
    font-weight: 500;

    &:hover {
      background-color: #016be3;
      color: #fff;
    }
  }

  &.white {
    background-color: #fff;
    color: #000;

    &:hover {
      background-color: #016be3;
      color: #000;
      border: 1.5px solid #016be3;
    }
  }
}

.heading {
  h2 {
    position: relative;
    margin-bottom: 40px;

    &:after {
      content: "";
      background: #016be3;
      width: 80px;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -20px;
    }
  }

  p {
    // margin-bottom: 80px !important;
    width: 90%;
    margin: auto;
    font-size: 18px;
    color: $arsenic-dark;
    line-height: 29px;
  }

  ul {
    li {
      font-size: $body-text2;
      color: $arsenic-dark;
      line-height: $line-height29;
    }
  }
}

.get-started {
  background: #05247e;

  h2 {
    color: #fff;
  }

  p {
    margin-top: 15px;
    color: #fff;

    &:first-child {
      margin-top: 0;
    }

    a {
      color: $white;
    }
  }
}

// breadcrumbs
.breadcrumbs {
  position: relative;
  top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
  font-weight: 500;

  a {
    display: inline-block;
    position: relative;
    color: rgba(197, 197, 215, 0.61);
    padding-right: 14px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:after {
      content: "";
      clear: both;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3px;
      width: 6px;
      height: 10px;
      background: url(../../assets/images/breadcrumbs-arrow.png) 0 1px no-repeat;
      background-size: 100%;
    }

    &:hover {
      color: #fff;
    }
  }
}

.service-breadcrumbs {
  color: #016be3;

  a {
    color: #253053;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #016be3;
    }
  }

  margin-bottom: 30px;
}

.for-home-client-logo {
  margin-top: 20px;

  // text-align: center;
  i {
    width: 98px;
    height: 59px;
    background: url(../images/home/home-awards-icon.svg) 0 0 no-repeat;
    display: inline-block;
    // margin: 0 7px;
    background-size: cover;

    &:nth-child(1) {
      background-position: 0px 0px;
    }

    &:nth-child(2) {
      background-position: -101px 0px;
    }

    &:nth-child(3) {
      background-position: -203px 0;
    }

    &:nth-child(4) {
      background-position: -304px 0;
    }

    &:nth-child(5) {
      background-position: -406px 0;
    }
  }
}

// ---form pop up
.body-pop {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #656565;
    opacity: 0.8;
  }
}

.free-trail-pop-up {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;

  &.open-pop {
    display: grid;
  }

  .pop-up-inner {
    background-color: #ffffff;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }

  .pop-close {
    text-align: right;
    display: block;
    margin: 25px 25px 25px auto;
    color: #212121;
    background: url(../images/pop-close.png) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .pop-up-box {
    padding: 30px 100px 100px;
  }

  h2 {
    color: #212121;
  }

  p {
    margin-top: 10px;
    color: #656565;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  .popup-green-btn {
    margin-top: 50px;
    padding: 23px 31px;
    color: #ffffff;
    background: #60b741;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #ffb81d;
    }
  }
}

//Deafult changes for version 6 home page//

.is-arrow {
  display: block;
  text-decoration: underline;
  color: $navy-blue;
  text-align: left;
  margin: 40px 0 0;
  font-weight: $normal-font;
  font-size: $font-18;

  &:after {
    content: "";
    background: url(../images/home-images/arrow.svg) no-repeat center;
    width: 11px;
    display: inline-block;
    height: 11px;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    &:after {
      margin-left: 15px;
    }
  }
}

.top-section {
  padding: 0 0 100px;
  text-align: center;
  h6 {
    color: $royelblue;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  p {
    font-size: $font-18;
  }
  &.text-left {
    padding: 0;
    text-align: left;
  }
}

.gradient-bg {
  background: $gradient;
  .top-section {
    h2 {
      color: $white;
    }
    p {
      color: #bdb7b7;
    }
  }
}

.btn-container {
  margin-top: 30px;

  .cta-button {
    display: inline-flex;
    padding: 14px 16px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(270deg, #0b147c 21.77%, #4b1bac 100%);
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: $medium-font;
    border-radius: 50px;
    box-shadow: 0px 10px 10px 0px #0000000d;

    &:after {
      content: "";
      background: url(../images/home-images/white-cta.svg) no-repeat;

      width: 24px;
      height: 24px;
      background-size: 100%;
      display: inline-block;
      margin-left: 10px;
    }

    &:hover {
      background: #016be3;
    }

    &.white {
      background: #DFFB0B;
      color: #0400F5;
      &:after {
        background: url(../images/home-images/bluegr-cta.svg) no-repeat;
         background-size: 100%;
      }
      &:hover {
        &:after {
          background: url(../images/home-images/bluegr-hovercta.svg) no-repeat;
           background-size: 100%;
        }
        background: $white;
        color: #0400F5;
      }
    }
  }
}

.explore-btn {
  position: relative;
  color: $royelblue;
  font-weight: 500;
  text-decoration: underline;
  &:after {
    content: "";
    background: url(../images/explore-btn.svg) no-repeat center;
    width: 11px;
    position: absolute;
    height: 11px;
    margin-left: 8px;
    top: 6px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &:after {
      margin-left: 15px;
    }
  }
}

.ppc-badge {margin: 20px 0 10px; display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap;

} 

//Default Changes Finish//

@media only screen and (max-width: 1780px) {
  .container {
    max-width: 1520px;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1380px;
  }

  .padding-t-120 {
    padding-top: 100px;
  }

  .padding-b-120 {
    padding-bottom: 100px;
  }

  .heading {
    p {
    }
  }

  .margin-t-100 {
    margin-top: 80px;
  }

  h1 {
  }

  h2 {
  }

  .margin-t-80 {
    margin-top: 60px;
  }

  .free-trail-pop-up {
    .popup-green-btn {
      margin-top: 40px;
      padding: 14px 20px;
    }

    .pop-up-box {
      padding: 10px 60px 70px;
    }

    .pop-close {
      margin: 20px 20px 20px auto;
    }

    .pop-up-inner {
      max-width: 900px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1260px;
  }

  h1 {
    font-size: 65px;
    line-height: 91px;
  }
}

@media only screen and (max-width: 1320px) {
  .container {
    max-width: 1120px;
  }

  .padding-t-100 {
    padding-top: 60px;
  }

  .padding-b-100 {
    padding-bottom: 60px;
  }

  .padding-t-120 {
    padding-top: 80px;
  }
  .padding-b-120 {
    padding-bottom: 80px;
  }
  .padding-t-70 {
    padding-top: 60px;
  }
  .padding-b-70 {
    padding-bottom: 60px;
  }
  .margin-t-80 {
    margin-top: 60px;
  }

  .top-section {
    padding: 0 0 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .tools-developer {
    .flex-4 {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }

  h2 {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 15px;
  }

  br {
    display: none;
  }

  h3 {
    font-size: 22px;
  }

  .flex-2 {
    flex-basis: 100%;

    &:first-child {
      padding-right: 0;
    }
  }

  .flex-3 {
    flex-basis: 50%;
  }

  .flex-4 {
    flex-basis: 50%;
  }

  .flex-5 {
    flex-basis: 33.33%;
  }

  .padding-t-150 {
    padding-top: 60px;
  }

  .padding-b-150 {
    padding-bottom: 60px;
  }

  .margin-b-150 {
    margin-bottom: 60px;
  }

  .margin-t-100,
  .margin-t-80,
  .margin-t-70,
  .margin-t-60 {
    margin-top: 40px;
  }
  .flex-4 {
    flex-basis: 50%;
  }

  //Version 6 Default Changes

  .is-arrow {
    margin: 25px 0 0;
  }

  .free-trail-pop-up {
    .pop-up-inner {
      max-width: 700px;
    }

    .pop-up-box {
      padding: 0 50px 50px;
    }
    .green-btn {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 24px;
  }

  ::placeholder,
  input,
  textarea {
    font-family: sans-serif;
  }
  .padding-t-100 {
    padding-top: 40px;
  }

  .padding-b-100 {
    padding-bottom: 40px;
  }

  .padding-b-150 {
    padding-bottom: 60px;
  }

  .margin-b-150 {
    margin-bottom: 40px;
  }
  .padding-t-120 {
    padding-top: 50px;
  }
  .padding-b-120 {
    padding-bottom: 50px;
  }

  .padding-t-150 {
    padding-top: 60px;
  }

  .padding-t-70 {
    padding-top: 40px;
  }

  .padding-b-70 {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
  }

  ul li{  font-size: 14px;
    line-height: 24px;}

  .flex-3 {
    flex-basis: 100%;
  }

  .flex-4 {
    flex-basis: 100%;
  }

  .flex-5 {
    flex-basis: 100%;
  }

  .heading {
    h2 {
      br {
        display: none;
      }
      &:after {
        bottom: -15px;
      }
    }

    p {
      width: 100%;
      font-size: 16px;
      line-height: 27px;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 27px;
      }
    }
  }

  .cmn-btn {
    font-size: 16px;
    line-height: 28px;
  }

  .white-btn {
    padding: 10px 20px;
  }

  .glider {
    overflow: hidden;
  }

  .service-breadcrumbs {
    margin-bottom: 10px;
  }

  .breadcrumbs {
    top: 0;
  }

  .free-trail-pop-up {
    .pop-close {
      width: 14px;
      height: 14px;
      background-size: 100%;
      margin: 15px 20px 15px auto;
    }
    .pop-up-box {
      padding: 0 15px 30px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      &:first-of-type {
        margin-top: 10px;
      }
    }
    .green-btn {
      margin-top: 30px;
      padding: 12px 15px;
      font-size: 14px;
    }
  }

  //Version 6 Default Changes

  .is-arrow {
    margin: 20px 0 0;
    font-size: $font-16;
  }

  .top-section {
    padding: 0 0 40px;

    p {
      font-size: $font-16;
    }
  }

  .btn-container {
    margin-top: 20px;

    .cta-button {
      padding: 12px 16px;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
    }
  }
}
$color_1: #fff;
$color_2: #05164d;
$background-color_1: #000;
$background-color_2: rgba(0, 0, 0, 0.6);
$border-color_1: #fff;
$border-color_2: #05164d;

.popup-section {
  width: 100%;
  .popup-wrapper {
    z-index: 999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color_1;
    background-color: $background-color_2;
    .popWrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .popup-content {
        width: 612px;
        background: #016be3;
        border-radius: 25px;
        padding: 36px 70px;
        text-align: center;
        position: relative;
        h2 {
          color: $color_1;
          font-weight: 600;
          font-size: 32px;
          margin: 0 0 8px;
          line-height: 40px;
        }
        h3 {
          font-size: 24px;
          line-height: 32px;
          margin: 0 0 15px;
          color: $color_1;
        }
        p {
          color: $color_1;
        }
        .ctasec {
          margin: 20px 0 0;
          a {
            display: inline-block;
            border: 1px solid #fff;
            margin: 15px auto 0;
            padding: 15px 20px;
            font-weight: 500;
            color: $color_1;
            border-radius: 8px;
            min-width: 376px;
            &:hover {
              background: #05164d;
              color: $color_1;
              border-color: $border-color_2;
            }
          }
          a.book-btn {
            background: #fff;
            color: $color_2;
            border-color: $border-color_1;
          }
        }
        .closeicon {
          cursor: pointer;
          position: absolute;
          right: 18px;
          top: 10px;
          background: none;
        }
      }
    }
  }
  .exit-intent-popup {
    display: none;
  }
  .exit-intent-popup.visible {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .popup-section {
    .popup-wrapper {
      .popWrap {
        .popup-content {
          width: 90%;
          border-radius: 20px;
          padding: 30px 35px;
          h2 {
            font-size: 27px;
            line-height: 32px;
          }
          h3 {
            font-size: 18px;
            line-height: 26px;
            margin: 0 0 10px;
          }
          .ctasec {
            margin: 20px 0 0;
            a {
              padding: 12px 20px;
              margin: 10px 0 0;
              min-width: auto;
            }
          }
        }
      }
    }
  }
}
