@use "_default" as *;
.process-work {
  background: linear-gradient(to left, rgba(251, 251, 251, 1) 50%, #05247E 50%);
  position: relative;
  .head-txt {
    text-align: left;
    margin: 0 0 50px;
    h2{margin:0 0 15px;}
  }

  .col-left {
    .head-txt {
      margin: 0 0 100px;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }

  .col-right {
    padding-left: 50px;
    .head-txt {
      h2 {
        color: rgba(5, 22, 77, 1);
      }
      p {
        color: #3f3f3f;
      }
    }
  }
  .process-step {
    position: relative;

    &:after{content:''; 
      background: url(../images/step-image.png) no-repeat center;
      width: 212px;
      height:448px;
      position: absolute;
      top: 10px;
      left:0;
      right:0;
      margin:0 auto;
      background-size: 100%;
  
      }

    .step-sec {
      margin-top: -20px;
      position: relative;
      justify-content: right;
      .step-wrap {
        display: flex;
        flex-basis:280px;
        align-items: center;
        padding-left:80px;
        
        .step-icon {
          flex-basis: 70px;
          text-align: left;
          position: relative;
           display: none;
           background: rgba(1, 107, 227, 1);
           height: 60px;
           vertical-align: middle;
           justify-content: center;
           align-items: center;
           border-radius: 30px 0 0 30px;
          img {
            margin: 0;
            z-index: 9;
            vertical-align: middle;
            
          }
          
        }
        .step-desc {
          flex-basis:100%;
          .step-no {
            font-size: 11px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 500;
            color: $royelblue;
            margin: 0 0 8px;
            line-height: initial;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.04);
            padding: 4px 8px 2px;
            background: #fff;
          }
          h4 {
            margin:7px 0;
            color: $arsenic-dark;
            font-size: 20px;
          }
          p {
            font-size: 14px;
            line-height: 24px;
            margin: 0;
          }
          ul {
            li {
              position: relative;
              font-size: 14px;
              padding-left: 15px;
              color: #666;
              margin: 0 0 5px;
              line-height: 180%;
              list-style: none;
              &:before {
                content: "";
                width: 5px;
                height: 5px;
                background-color: #656565;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 9px;
              }
            }
          }
        }

        &:last-child {
          margin: 0;
        }
      }

      &:nth-child(2n) {
        justify-content: left;
        .step-wrap {
          flex-direction: row-reverse;
          padding-right: 80px;
          padding-left: 0;
        

          .step-icon {
            text-align: right;
            &:before {
              width: 42px;
              bottom: -75px;
              left: 26px;
              transform: none;
            }
          }
        }
      }

      &:last-child {
        .step-wrap {
          .step-icon {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  &:after {
    content: "";
    background: url(../images/point-icon.png) 0 0 no-repeat;
    background-size: 100%;
    width: 112px;
    height: 112px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1760px) {
}

@media only screen and (max-width: 1440px) {

  .process-work {
    .col-left {
      .head-txt {
        margin: 0 0 70px;
      }
    }
  
    .col-right {
      padding-left: 30px;
    }
    .process-step {
      &:after{content:''; 
        width: 181px;
        height: 440px;
    
        }
  
      .step-sec {
       
        .step-wrap {
          flex-basis: 270px;
          
          .step-desc {
            flex-basis:100%;
            h4{font-size: 19px;}
          }
  
        }
      }
    }
   
  }  
 
}

@media (max-width: 1380px) {

  .process-work {
    .col-left {
      .head-txt {
        margin: 0 0 70px;
      }
    }
  
    .col-right {
      padding-left: 30px;
    }
    .process-step {
      &:after{content:''; 
        width: 170px;
        height: 400px;
    
        }
  
      .step-sec {
       
        .step-wrap {
          flex-basis: 250px;
          
          .step-desc {
            flex-basis:100%;
           .step-no{font-size: 9px;}
            p {
              font-size: 11px;
              line-height: 16px;
              
            }
            h4{font-size: 17px;}
            
          }
  
        }
      }
    }
   
  } 
 
}

@media (max-width: 1024px) {
  .process-work {
    background: $white;
    padding: 0;
    .head-txt {
      text-align:center;
      margin: 0 0 30px;
      p{
        br{display: none;}
      }
    }

    .col-left {
      background: $royel-bg;
      padding: 40px 20px;
      text-align: center;
      .head-txt {
        text-align: center;
        margin: 0 0 30px;
      }
      .image-wrap {
        text-align: center;
      }
    }

    .col-right {
      padding: 40px 20px;
      margin: 30px 0 0;
      background: rgba(253, 250, 242, 1);
    }
    .process-step {
      position: relative;

      .step-sec {
        margin: 0 0 30px;
        position: relative;
        .step-wrap {
          flex-basis: 100%;
          align-items: flex-start;
          padding:0;
          justify-content: space-between;
          .step-icon {
            display: flex;
            
          }
          .step-desc {
            flex-basis: calc(100% - 90px);

            h4 {
              font-size: 18px;
            }
            ul {
              li {
                line-height: 22px;
              }
            }
          }
        }

        &:nth-child(2n) {
          .step-wrap {
            flex-direction: unset;
            padding-right: 0;
            .step-icon {
              text-align: left;
              background: #05247E;
            }
          }
        }
      }
      &:after {
        display: none;
      }
    }
    &:after{display: none;}
  }
}
