@use "_default" as *;

$darkcolor: #262626;
$lightcolor: #5d6579;
$whitecolor: #fff;
$greycolor: #e6e6e6;
$blackcolor: #262626;
$font12: 12px;
$font14: 14px;
$font16: 16px;
.header-two {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px 0;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  .container {
    padding: 0 30px;
    width: 100%;
    max-width: 1900px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
  }

  .header-item-left {
    display: flex;
    flex-basis: 18%;
    align-items: center;

    .large {
      transition: all 0.7s ease-in-out;
      img {
        max-width: 220px;
      }
      .light {
        display: block;
      }
      .dark {
        display: none;
      }
    }
    .small {
      opacity: 0;
      display: grid;
      background: #ececec;
      padding: 10px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      align-items: center;
      position: absolute;
      top: 10px;
      transition: all 0.7s ease-in-out;
    }
  }

  .header-item-right {
    flex-basis: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
    .mob-nav {
      margin-right: 100px;
    }
    .menu {
      ul {
        li {
          display: inline-block;
          transition: color 0.3s ease;
          &.menu-item-has-children {
            a {
              position: relative;
              text-decoration: none;
              font-size: $font16;
              line-height: 20px;
              padding: 0 10px 35px;
              border: none;
              outline: none;
              color: $whitecolor;
              transition: color 0.3s ease;
              font-weight: 500;
              &.active {
                &:after {
                  content: "";
                  background: #ffad00;
                  width: 100%;
                  height: 3px;
                  position: absolute;
                  left: 0;
                  bottom: -4px;
                  opacity: 1;
                  z-index: 9;
                }
              }
            }
            &.hire-menu-item {
              margin: 0 30px 0 100px;
              .nor {
                display: inline-block;
                margin-left: 8px;
                vertical-align: middle;
              }
              .hov {
                display: none;
                vertical-align: middle;
                margin-left: 8px;
              }
            }
          }

          .menu-mega {
            position: absolute;
            left: 0;
            left: 0;
            width: 100%;
            height: auto;
            margin-top: 0;
            top: 98%;
            padding: 0;
            z-index: 1;
            border-top: 1px solid #dedede;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
            display: none;
            background: $whitecolor;

            a {
              padding: 15px 15px 15px 55px;
              position: relative;
              display: flex;
              color: #05164d;
              margin: 0;
              align-items: center;
              border-radius: 10px;
              &:after {
                display: none;
              }
              .menuicon {
                position: absolute;
                left: 10px;
                top: 10px;
                display: block;
                filter: grayscale(1);
              }
              &:last-child {
                margin: 0;
              }

              &:hover {
                background: #fff9eb;
              }
            }

            &.small-menu {
              left: 64%;
              width: 280px;
              padding: 20px;
              border-radius: 10px;

              .tab-menu {
                .tab-contents {
                  min-height: initial;
                  .right-tabs {
                    .tab-content {
                      a {
                        .title {
                          .menuicon {
                            top: 8px;
                          }
                        }
                      }
                      .menu-column {
                        padding: 0;
                        a {
                          line-height: 1.2;
                          padding: 5px;
                          width: auto;
                          &.top-head {
                            padding: 5px 5px 8px 38px;
                            width: auto;
                            margin: 5px 0 0;
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.solution-menu {
                width: 580px;
                left: 50%;
                margin: 0 auto;
                border-radius: 10px;
                .tab-menu {
                  .tab-contents {
                    .right-tabs {
                      .tab-content {
                        a {
                          .title {
                            .menuicon {
                              top: 11px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.industries-menu {
                width: 500px;
                left: 50%;
              }

              &.about-menu {
                width: 280px;
                left: 67%;
              }
            }

            .tab-menu {
              .tab-contents {
                width: 100%;
                min-height: 210px;
                height: 100%;

                .right-tabs {
                  flex-basis: 100%;
                  &.flex-full {
                    flex-basis: 100%;
                  }
                  .tab-content {
                    width: 100%;
                    display: block;
                    height: 100%;
                    .four-column {
                      width: 100%;
                    }
                    .three-column {
                      width: 68%;
                    }

                    .title {
                      font-weight: 500;
                      font-size: $font14;
                      line-height: 26px;
                      color: #6b7280;
                      display: block;
                      transition: all 0.3s ease-in-out;
                      margin-bottom: 0;
                    }

                    .tab-title {
                      padding: 15px 0;
                      border-bottom: 1px solid $greycolor;
                      text-transform: uppercase;
                      width: 100%;
                      a {
                        padding-left: 70px;
                        position: relative;
                        display: block;
                        margin: 0;
                        font-weight: 400 !important;

                        .title {
                          font-size: $font14;
                          line-height: 22px;
                          color: #0f172b;

                          &:hover {
                            color: #ffaf00;
                          }
                        }

                        .menuicon {
                          position: absolute;
                          left: 10px;
                          top: 10px;
                        }
                      }
                    }
                    &.is-active {
                      display: flex;
                      justify-content: space-between;
                      flex-wrap: wrap;
                    }

                    .menu-column {
                      padding: 0 0 30px;
                      width: 100%;
                      justify-content: space-between;
                      .flex-2 {
                        flex-basis: 47%;
                        padding: 0 5px;
                      }
                      .flex-4 {
                        flex-basis: 22%;
                        padding: 0 5px;
                      }
                      .flex-5 {
                        flex-basis: 19%;
                      }
                      .flex-6 {
                        flex-basis: 16%;
                        position: relative;
                      }
                      .flex-1 {
                        flex-basis: 100%;
                      }

                      .head {
                        color: #9f9f9f;
                        font-size: $font12;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 10px 0 10px;
                        display: block;
                        &.opacity-0 {
                          opacity: 0;
                        }
                      }

                      a {
                        margin: 0 0 2px 34px;
                        position: relative;
                        padding: 5px 40px 5px 5px;
                        width: max-content;
                        line-height: 1.2;
                        border-radius: 5px;
                        &.top-head {
                          margin: 15px 0 0;
                          padding: 5px 40px 5px 38px;
                          width: max-content;
                          line-height: 1;
                          .title {
                            margin: 0;
                          }
                          &.p0 {
                            margin-top: 0;
                          }
                        }

                        &.op-0{opacity: 0; cursor: default;}

                        &:hover {
                          color: #0400f5;
                          background: #F9FAFB;
                          .menuicon {
                            filter: none;
                          }
                          .title {
                            color: #0400f5;
                          }
                        }
                      }
                    }
                    a {
                      font-weight: 400 !important;
                      font-size: $font12;
                      line-height: 20px;
                      color: #45556c;
                      display: block;
                      padding: 10px;
                      border-radius: 10px;
                      background: transparent;

                      .title {
                        color: #0f172b;

                        &.view-all {
                          color: #ffad00;
                          &:hover {
                            color: #0f172b;
                          }
                        }

                        .menuicon {
                          position: absolute;
                          left: 5px;
                          top: 5px;
                        }
                      }
                      &:hover {
                        color: #0f172b;
                      }

                      &.view-more {
                        color: #ffad00;
                        padding: 30px 0 0;
                        transition: all 0.3s ease-in-out;
                        border-top: 1px solid #e6e6e6;
                        border-radius: 0;
                        margin: 20px 0 0;
                        font-weight: 500;
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        &:after {
                          content: "";
                          background: url(../header-images/arrow.svg) no-repeat
                            center;
                          display: inline-block;
                          position: relative;
                          opacity: 1;
                          width: 14px;
                          height: 19px;
                          background-size: 100%;
                          vertical-align: middle;
                          margin-left: 10px;
                          bottom: auto;
                          transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                          background-color: transparent;
                          &:after {
                            margin-left: 15px;
                          }
                        }
                      }
                    }

                    .double-menu {
                      display: flex;
                      justify-content: space-between;
                      .menu-box {
                        flex-basis: 48%;
                      }
                    }

                    .spacer-md {
                      margin: 0 0 30px;
                    }
                    .spacer-sm {
                      margin: 0 0 20px;
                    }
                    .other-menu {
                      width: 30%;
                      position: relative;
                      padding-left: 20px;
                      border-left: 1px solid #e6e6e6;
                      background: rgba(248, 249, 250, 1);
                      &:after {
                        content: "";
                        position: absolute;
                        right: -60px;
                        top: 0;
                        height: 100%;
                        width: 20%;
                        background: rgba(248, 249, 250, 1);
                      }
                      .tab-title {
                        a {
                          padding-left: 10px;
                        }
                      }

                      .flex-1 {
                        a {
                          padding-left: 45px;
                          position: relative;
                          margin: 0 0 20px;
                          .menuicon {
                            position: absolute;
                            left: 10px;
                            top: 0;
                          }
                        }
                      }
                    }
                  }
                  &.hire-tabs {
                    display: flex;
                    width: 100%;
                    .tab-content {
                      width: 100%;
                      .three-column {
                        width: 100%;
                      }
                    }
                    .other-menu {
                      display: block;
                      width: 30%;
                      height: auto;
                      width: 30%;
                      position: relative;
                      padding-left: 20px;
                      border-left: 1px solid #e6e6e6;
                      background: #f8f9fa;
                      &:after {
                        content: "";
                        position: absolute;
                        right: -60px;
                        top: 0;
                        height: 100%;
                        width: 20%;
                        background: rgba(248, 249, 250, 1);
                      }
                      .tab-title {
                        a {
                          padding-left: 10px;
                        }
                      }
                      .menu-column {
                        a {
                          padding-left: 55px;
                          position: relative;
                          width: calc(100% - 10px);
                          margin: 0 0 10px -10px;
                          .menuicon {
                            position: absolute;
                            left: 10px;
                            top: 15px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &.service-menu {
              width: 100%;
              right: 0;
              margin: 0 auto;
              

              .tab-menu {
                .tab-contents {
                  width: 100%;
                min-height: 525px;
                height: 100%;
                .left-tabs {
                  flex-basis: 20%;
                  border-right: 1px solid #e6e6e6;
                  padding: 15px 25px 15px 0;

                  .tab-nav {
                    li {
                      width: 100%;

                      a {
                        display: block;
                        padding: 15px 35px 15px 15px;
                        color: $darkcolor;
                        position: relative;
                        cursor: pointer;
                        background: $whitecolor;
                        border-radius: 10px;
                        font-weight: 500;
                        position: relative;
                        font-size: 16px;
                        &:after {
                          content: "";
                          background: url(../header-images/arrow.svg) no-repeat
                            center;
                          position: absolute;
                          top: 17px;
                          right: 15px;
                          width: 14px;
                          height: 19px;
                          background-size: 100%;
                          opacity: 0;
                          left: auto;
                          bottom: auto;
                        }
                      }
                      &.no-link {
                        a {
                          cursor: default;
                        }
                      }

                      &.is-active {
                        a {
                          background: #eff6ff;
                          &:after {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
                  .right-tabs {
                    flex-basis: 80%;
                  padding: 0 20px;
                  &.flex-full {
                    flex-basis: 100%;
                  }
                    .tab-content {
                      width: 100%;
                      display: none;
                      height: 100%;
                      &.is-active {
                      display: flex;
                      justify-content: space-between;
                      flex-wrap: wrap;
                      }
                      .menu-column {
                        padding: 0;
                        .flex-5 {
                          padding: 0 0 30px;
                        }
                        .comp-logo {
                          border-left: 1px solid #e5e5e5;
                          padding-left: 20px;
                          background: #f4f4f4;
                          position: relative;
                          padding-bottom: 40px;

                          &:after {
                            content: "";
                            background: #f4f4f4;
                            width: 100px;
                            height: 100%;
                            right: -30px;
                            top: 0;
                            position: absolute;
                            border-radius: 0 10px 10px 0;
                            z-index: -1;
                          }

                          a {
                            &.top-head {
                              &.no-padd {
                                padding: 10px 0 0;
                                .title {
                                  color: #6b7280;
                                }
                                &:hover {
                                  color: #6b7280;
                                  cursor: default;
                                  background: transparent;
                                }
                              }
                            }
                          }
                          .m-0 {
                            margin: 0 20px;
                          }
                          p {
                            font-size: 10px;
                            line-height: 20px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:hover {
            .menu-mega {
              display: block;
            }
          }
        }
      }
    }

    .cta-wrap {
      display: inline-block;

      .btn-container {
        margin: 0;
        .cta-button {
          line-height: 26px;
          padding: 10px 16px;
        }
      }
      &.large-reso {
        display: block;
      }
      &.small-reso {
        display: none;
      }
    }
  }

  &.header-bg {
    .header-item-left {
      .large {
        .light {
          display: none;
        }
        .dark {
          display: block;
        }
      }
    }

    .header-item-right {
      opacity: 0;
      .menu ul li {
        &.menu-item-has-children {
          a {
            color: #45556c;
          }
          &.hire-menu-item {
            .nor {
              display: none;
            }
            .hov {
              display: inline-block;
            }
          }
        }
      }
      .cta-wrap {
        .btn-sec {
          .btn {
            border-color: rgba(5, 22, 77, 0.08);
          }
        }
      }
    }

    &.sc-up {
      background: #fff;
      .header-item-left {
        opacity: 1;
      }
      .header-item-right {
        opacity: 1;
      }
    }

    &.sc-down {
      .small {
        opacity: 1;
      }
      .large {
        opacity: 0;
      }
    }

    .cta-wrap {
      .btn-container {
        .cta-button {
          background: #dffb0b;
          color: #0400f5;
          &:after {
            background: url(../images/home-images/bluegr-cta.svg) no-repeat;
            background-size: 100%;
          }
        }
      }
    }
  }

  &:hover {
    background: $whitecolor;

    .header-item-left {
      opacity: 1;
      .large {
        opacity: 1;
        .light {
          display: none;
        }
        .dark {
          display: block;
        }
      }
      .small {
        display: none;
      }
    }

    .header-item-right {
      opacity: 1;
      .menu ul li {
        &.menu-item-has-children {
          a {
            color: #45556c;
            &:hover {
              color: #0f172b;
            }
          }
          &.hire-menu-item {
            .nor {
              display: none;
            }
            .hov {
              display: inline-block;
            }
          }
        }
      }
      .cta-wrap {
        .btn-sec {
          .btn {
            border-color: rgba(5, 22, 77, 0.08);
          }
        }
      }
    }

    .cta-wrap {
      .btn-container {
        .cta-button {
          background: #dffb0b;
          color: #0400f5;
          &:after {
            background: url(../images/home-images/bluegr-cta.svg) no-repeat;
            background-size: 100%;
          }
          &:hover {
            background-color: #0400f5;
            color: $white;
            &:after {
              background: url(../images/home-images/white-cta.svg) no-repeat;
              background-size: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 2490px) {
  .header-two {
    .header-item-right {
      .menu ul li {
        .menu-mega {
          &.small-menu {
            left: 69%;
            &.solution-menu {
              left: 50%;
            }
            &.industries-menu {
              left: 60%;
            }
            &.about-menu {
              left: 72%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .header-two {
    .container {
      max-width: 100%;
    }
    .header-item-right {
      .menu ul li {
        .menu-mega {
          &.small-menu {
            left: 66%;
            &.solution-menu {
              left: 50%;
            }
            &.industries-menu {
              left: 50%;
            }
            &.about-menu {
              left: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  .header-two {
    .header-item-right {
      .menu ul li {
        .menu-mega {
          &.small-menu {
            left: 66%;
            &.solution-menu {
              left: 38%;
            }
            &.industries-menu {
              left: 50%;
            }
            &.about-menu {
              left: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .header-two {
    .container {
      padding: 0 20px;
    }
    .header-item-right {
      .menu ul li {
        .menu-mega {
          &.small-menu {
            left: 64%;
            &.industries-menu {
              left: 50%;
            }
            &.about-menu {
              left: 67%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1390px) {
  .header-two {
    .header-item-right {
      .menu ul li {
        .menu-mega {
          .tab-menu {
            .tab-contents {
              .right-tabs {
                .tab-content {
                  .menu-column {
                    .flex-4{flex-basis: 25%;}
                    a {
                      padding: 5px 20px 5px 5px;
                      margin: 0 0 2px 31px;
                      width: 100%;
                      &.top-head {
                        padding: 5px 20px 5px 35px;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          &.service-menu{width: 92%;}
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header-two {
    .container {
      padding: 0 20px;
    }
    .header-item-right {
      .menu ul li {
        .menu-mega {
          .tab-menu {
            .tab-contents {
              .right-tabs {
                .tab-content {
                  .menu-column {
                    a {
                      padding: 5px 20px 5px 5px;
                      margin: 0 0 2px 31px;
                      width: 100%;
                      &.top-head {
                        padding: 5px 20px 5px 35px;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          &.small-menu {
            left: 58%;
            &.industries-menu {
              left: 40%;
            }
            &.about-menu {
              left: 67%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1139px) {
  .header-two {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1d1c39;
    z-index: 99;
    padding: 20px 0;

    .header-item-left {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      .large {
        transition: all 0.7s ease-in-out;
        img {
          max-width: 220px;
        }
      }
      .small {
        display: none;
      }
    }

    .header-item-right {
      flex-basis: 100%;
      .mob-nav {
        flex-basis: 100%;
      }
      .menu {
        display: none;
        ul {
          margin: 0;
          li {
            margin: 20px 0 0;
            display: block;
            &.menu-item-has-children {
              a {
                padding: 0;
                font-size: 15px;
                color: $whitecolor;

                &.active {
                  &:after {
                    display: none;
                  }
                }
              }
              &.hire-menu-item {
                margin: 20px 0 0;
              }
            }

            &:hover {
              .menu-mega {
                display: none;
              }
            }

            .menu-mega {
              position: relative;
              display: none;
              background: 0 0;
              margin-top: 20px;
              padding-left: 0;
              border-top: 1px solid #dedede;
              box-shadow: 4px 4px 60px rgba(59, 85, 112, 0.25);
              display: none;
              background: $whitecolor;
              &.small-menu {
                left: auto;
                width: 100%;
                border-radius: 0;
                padding: 20px 10px !important;

                &.solution-menu {
                  margin-top: 20px;
                  width: 100%;
                  left: auto;
                }

                &.industries-menu {
                  left: auto;
                  width: 100%;
                }
                &.about-menu {
                  width: 100%;
                  left: auto;
                }
              }

              &.service-menu {
                left: auto;
                width: 100%;
                border-radius: 0;
                 margin-top: 20px;
                .tab-menu {
                  .tab-contents{
                     .right-tabs {
                      .tab-content{
                         .menu-column{padding-bottom: 20px;
                           .comp-logo{margin-top: 15px; padding-bottom: 0; padding-left: 20px;
                            &:after{display:none;}
                           }
                         }
                      }
                     }
                  }
                }
              }

              .tab-menu {
                .tab-contents {
                  width: 100%;
                  min-height: initial;
                  .left-tabs {
                    display: none;
                  }

                  .right-tabs {
                    flex-basis: 100%;
                    padding: 0;

                    .tab-content {
                      min-height: initial;
                      display: block !important;
                      height: auto;
                      .four-column {
                        width: 100%;
                      }
                      .three-column {
                        width: 100%;
                      }

                      .title {
                        color: $blackcolor;
                        display: block;
                      }

                      .tab-title {
                        padding: 10px 25px 10px 0;
                        border-bottom: 1px solid $greycolor;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        &.bor-0 {
                          border-bottom: none;
                        }
                        a {
                          padding: 10px 10px 10px 55px;
                          margin: 0 0 0 -10px;
                          width: 100%;
                          .title {
                            font-size: 15px;
                            line-height: 20px;
                            color: $darkcolor;
                          }

                          .menuicon {
                            left: 8px;
                            width: 35px;
                            height: 35px;
                          }
                        }
                      }
                      &.is-active {
                        display: block;
                      }

                      .spacer-md {
                        margin: 0 0 20px;
                      }

                      .menu-column {
                        padding: 0 0 20px;
                        width: 100%;
                        .sub-service {
                          display: none;
                        }
                        .hr-submenu {
                          display: none;
                        }
                        .sub-tech {
                          display: none;
                        }
                        .m-active {
                          display: block;
                        }

                        .flex-2 {
                          flex-basis: 100%;
                          padding: 0;
                          margin: 0;
                        }
                        .flex-4 {
                          flex-basis: 100%;
                          padding: 0;
                          margin: 0;
                          &.margin-0 {
                            margin: 0;
                          }
                        }
                        .flex-6 {
                          flex-basis: 100%;
                        }
                        .flex-5 {
                          flex-basis: 100%;
                          position: relative;
                        }

                        .head {
                          font-size: 13px;
                          margin: 8px 0 8px;
                          &.opacity-0 {
                            display: none;
                          }
                        }

                        a {
                          width: max-content;
                          &.op-0{display:none;}
                        }
                      }
                      a {
                        //font-weight: 400;
                        //font-size: 13px;
                        //line-height: 20px;
                        color: $lightcolor;
                        display: block;

                        //padding: 10px;
                        //border-radius: 10px;
                        //background: transparent;

                        .title {
                          //font-size: 14px;
                          //line-height: 20px;
                        }
                        &:hover {
                          //background: #fff9eb;
                          &:after {
                            display: none;
                          }
                        }
                        &.view-more {
                          padding: 20px 0 0;
                          margin: 10px 0 0;
                          &:after {
                            display: inline-block;
                          }
                        }
                      }
                      .other-menu {
                        width: 100%;
                        position: relative;
                        padding-left: 0;
                        border-left: none;
                        background: $whitecolor;
                        &.mob-hide {
                          display: none;
                        }
                        &:after {
                          display: none;
                        }
                        .tab-title {
                          padding: 0;
                          a {
                            padding: 8px;
                            width: calc(100% - 10px);
                            margin: 0 0 5px -10px;
                          }
                          .ser-arrow-btn {
                            right: -15px;
                          }
                        }

                        .flex-1 {
                          flex-basis: 100%;
                          a {
                            padding-left: 35px;
                            margin: 0 0 15px;
                            position: relative;
                            .menuicon {
                              position: absolute;
                              left: 0;
                              top: 0;
                            }
                          }
                        }
                      }
                    }
                    &.hire-tabs {
                      display: flex;
                      flex-wrap: wrap;

                      .tab-content {
                        width: 100%;
                        .three-column {
                          width: 100%;
                        }
                      }

                      .other-menu {
                        width: 100%;
                        position: relative;
                        padding-left: 0;
                        border-left: none;
                        background: $whitecolor;

                        &.tab-content {
                          width: 100%;
                          height: auto;
                          min-height: auto;
                        }

                        &.mob-hide {
                          display: none !important;
                        }

                        &:after {
                          display: none;
                        }
                        .tab-title {
                          padding: 0;
                          a {
                            padding: 8px;
                            width: calc(100% - 10px);
                            margin: 0 0 5px -10px;
                          }
                          .ser-arrow-btn {
                            right: -15px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.m-active {
                display: block;
                //padding: 0 0 30px;
              }
            }
          }
        }
      }

      .mob-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 88px;
        left: 0;
        background: #1d1c39;
        padding: 0 20px;
        display: none;
        overflow-y: auto;
        padding-bottom: 120px;
        &.active {
          display: block;
        }
      }

      .cta-wrap {
        display: inline-block;

        .btn-sec {
          .btn {
            font-size: 15px;
            margin: 30px auto 0;
            cursor: pointer;
            &.rounded {
              &:before {
                top: 3px;
              }
            }
          }
        }
        &.large-reso {
          display: none;
        }
        &.small-reso {
          display: block;
        }
      }
    }

    &.header-bg {
      .header-item-left {
        .large {
          .light {
            display: block;
          }
          .dark {
            display: none;
          }
        }
      }

      .header-item-right {
        opacity: 0;
        .menu ul li {
          &.menu-item-has-children {
            a {
              color: $whitecolor;
            }
          }
        }
        .cta-wrap {
          .btn-sec {
            .btn {
              border-color: $whitecolor;
            }
          }
        }
      }

      &.sc-up {
        background: #1d1c39;
        .header-item-left {
          opacity: 1;
        }
        .header-item-right {
          opacity: 1;
        }
      }

      &.sc-down {
        .small {
          opacity: 0;
        }
        .large {
          opacity: 1;
        }
      }
    }

    &:hover {
      background: #1d1c39;

      .header-item-left {
        opacity: 1;
        .large {
          opacity: 1;
          .light {
            display: block;
          }
          .dark {
            display: none;
          }
        }
        .small {
          display: none;
        }
      }

      .header-item-right {
        opacity: 1;
        .menu ul li {
          &.menu-item-has-children {
            a {
              color: $whitecolor;
              &:hover {
                color: $whitecolor;
                opacity: 0.8;
              }
            }
          }
        }
        .cta-wrap {
          .btn-sec {
            .btn {
              border-color: rgba(5, 22, 77, 0.08);
            }
          }
        }
      }
    }

    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 2px;
      background: #ffffff;
      border-radius: 1px;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
    }
    .mback {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff !important;
      padding-left: 12px;
      position: relative;
      display: block;
      margin: 10px 0;
      &::before {
        content: "";
        clear: both;
        display: block;
        background: url(../header-images/button-icons-sprite.png) -21px -47px
          no-repeat;
        width: 18px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 0;
        margin: 0 auto;
        transform: rotate(-180deg);
      }
    }
    .hamberger-menu {
      transition: all 0.3s ease-in-out;
      z-index: 999;
      height: 100%;
      padding: 0 5px;
      position: relative;
    }
    .open-close {
      .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        transform: rotate(45deg) translate(-5px, -3px);
      }
    }

    .arrow-btn {
      display: inline-block;
      position: relative;
      width: 70px;
      height: 24px;
      background: url(../header-images/mobile-btn.png) 40px -2px no-repeat;
      vertical-align: top;
      text-align: right;
      float: right;
      &.rot {
        background-position: 36px -33px;
      }
    }

    .ser-arrow-btn,
    .hr-arrow-btn,
    .tech-arrow-btn {
      display: inline-block;
      position: absolute;
      right: 5px;
      width: 30px;
      height: 30px;
      background: url(../header-images/arrow-mob.svg) no-repeat;
      background-size: 16px;
      z-index: 999;
      background-position: center center;

      &.rot {
        transform: rotate(90deg);
      }
    }

    .ser-arrow-btn,
    .tech-arrow-btn {
      top: 4px;
    }
  }
}
