.methodologies-section {background:$gradient;
  .top-section{
    h2{color:$white;}
    p{color: #bdb7b7;}
  }
  .method-out{
    justify-content: space-between;
    position: relative;

    .flex-4 {
      padding: 0 10px;
      flex-basis: 25%;
      .box-4 {
        height: 100%;
        border-radius: 20px;
        padding: 25px;
        transition: all 0.3s ease-in-out;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 320px;
        display: flex;
        align-items: end;
        cursor: pointer;

        h3 {
          color: $white;
          font-size: 20px;
          line-height: 30px;
          position: relative;

          a {
            color: $white;
            position: relative;
          }
        }

        .overlay-text {
         
          min-height: 200px;
          width: 90%;
          opacity: 0;
          transition: 0.5sease;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 0px 4px 50px 0px #0000000d;
          padding: 20px;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 20px;
          h3 {
            color: #110302;
            margin: 0 0 10px;
          }

          p {
         
            font-weight: 400;
          }
          .no-more {
            padding: 14px 30px;
            font-size: 18px;
            color: $white;
            cursor: pointer;
            text-align: center;
            background: #000;
            display: block;
            margin: 30px 0 0;
            border-radius: 30px;
            font-weight: 500;

            &:hover {
              background:#000;
            }
          }
        }
        &:hover {
          .overlay-text {
            opacity: 1;
          }
        }
      }
    }
   
  }
}





/*Media Query Start From Here*/
@media (max-width: 1440px) {
  .methodologies-section{
    .featured-out {
      .prev-next-btn{bottom: 6%;}
    }
  }
}

@media (max-width: 1280px) {


  .methodologies-section{
    .featured-out {
      .featured-slider {
        .flex-3 {
          .box-3{min-height: 380px;}
        }
      }
      .prev-next-btn{bottom: 5%;}
      .progress-container{margin-top: 40px;}

       
      .right-section{padding: 18px;}


    }
  }

}

@media (max-width: 1024px) {
  .methodologies-section {
    .featured-out {
      .right-section {
        flex-basis: 100%;
        border-radius: 20px;
        margin:30px 0 0;
        padding: 20px;

        img{margin:0;}
  
        h4 {
          font-size: 16px;
          line-height: 26px;
        }
  
        .is-arrow {
          margin: 15px 0 0;
        }
      }
      .featured-slider {
        flex-basis: 100%;
        width: 100%;
        margin:0 0 40px;
  
        .flex-3 {
          padding: 0 10px;
          .box-3 {
            padding: 20px;
            min-height: 250px;
         
            h3 {
              font-size: 18px;
            }
  
            .overlay-text {
              padding: 20px;
              text-align: center;
             
              .no-more {
                padding: 12px 20px;
                font-size: 16px;
                margin: 20px auto 0;
                width: 200px;
              }
            }
          }
        }
      }
  
      .prev-next-btn {
        bottom: 6%;
      }
      .progress-container {
        width: 85%;
        margin-top:35px;
      }
    }
  }
}
@media (max-width: 979px) {
 
}

@media (max-width: 767px) {


  .methodologies-section {
    .featured-out {
      .progress-container {
        width: 70%;
      }
    }
  }


}

/*Media Query Ends Here*/
