.seo-slider-section {
  .seo-slider {
    position: relative;
    width: 100%;

    .glider {
      display: flex;
      width: 100%;
      overflow: hidden;
    }

    .seo-card {
      padding: 10px;

      .seo-wrap {
        background: white;
        box-shadow: 0px 2px 5.6px 1px #00000017;
        min-height: 370px;

        border-radius: 15px;
        overflow: hidden;
      }

      .hdblue {
        background: linear-gradient(90deg, #05164d 0%, #0b2fa3 100%);
        border-radius: 15px 0 15px 0;
        max-width: 400px;
        color: white;
        padding: 15px;
        font-size: 24px;
        font-weight: $normal-font;
      }

      .content {
        padding: 30px 40px;
        h3 {
          margin: 0 0 10px;
          font-size: 20px;
        }

        p,
        li {
          font-weight: $normal-font;
          font-size: $font-18;
          color: #5e6373;
        }

        ul {
          margin: 25px 0 0;
          min-height: 135px;
          li {
            margin-bottom: 10px;

            padding-left: 30px;
            position: relative;
            &:before {
              content: "";
              background: url(../images/home-images/listing.svg) no-repeat
                center;
              width: 20px;
              height: 20px;
              background-size: 100%;
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }

        .highlight {
          font-size: 32px;
          font-weight: 700;
          color: #41d48c;
          margin: 30px 0 0;
        }
        .bold {
          color: #5e6373;
          font-weight: $medium-font;
          margin: 10px 0 0;
          display: block;
        }
      }
    }

    .test-button {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      left: 0;

      .glider-dots {
        align-items: center;
        .glider-dot {
          display: inline-block;
          background: $navy-blue;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 2px;
          display: none;
          &.active {
            background: $navy-blue;
            width: 16px;
            height: 16px;
          }
        }
      }

      .seo-prev,
      .seo-next {
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 16px;
        background: #e8e8e8 url(../images/digital-m/prev.svg) no-repeat center;
        width: 42px;
        height: 42px;
        top: 50%;
        font-size: 0;
        opacity: 1;
        left: -50px;
        transform: rotate(0);
        font-size: 0;
        border: 0;
        position: absolute;
        border-radius: 100%;

        &:hover {
          opacity: 0.8;
        }

        &.seo-next {
          background: #e8e8e8 url(../images/digital-m/prev.svg) no-repeat center;
          right: 0;
          transform: rotate(180deg);
          left: auto;
          right: -50px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}






/*Media Query Start From Here*/

@media (max-width: 1440px) {
}

@media (max-width: 1330px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 979px) {
  .seo-slider-section {
    .seo-slider {
      .seo-card {
        padding: 10px;
  
        .seo-wrap {
          background: white;
          box-shadow: 0px 2px 5.6px 1px #00000017;
          min-height: 370px;
  
          border-radius: 15px;
          overflow: hidden;
        }
  
        .hdblue {
          border-radius: 15px 15px 0 0;
          font-size: 20px;
          max-width: 100%;
        }
  
        .content {
          padding: 25px;
          h3 {
            font-size: 18px;
          }
  
          p,
          li {
            font-size: $font-16;
            line-height: 26px;
          }
  
          ul {
            margin: 20px 0 0;
            min-height: initial;
          }
  
          .highlight {
            margin: 25px 0 0;
            font-size: 28px;
          }
          
        }
      }
  
      .test-button {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0;
  
        .glider-dots {
          align-items: center;
          .glider-dot {
            display: inline-block;
            background: $navy-blue;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 2px;
            display: none;
            &.active {
              background: $navy-blue;
              width: 16px;
              height: 16px;
            }
          }
        }
  
        .seo-prev,
        .seo-next {
          width: 35px;
          height: 35px;
          left:-15px;
          &.seo-next {
            right: -15px;
          }
        }
      }
    }
  }

}

@media (max-width: 767px) {


}

/*Media Query Ends Here*/
