@use "_default" as *;
.seo-expertise {background: #f0f4ff;
  .top-section {
    h2 {
      strong {
        background: linear-gradient(90.5deg, #05164d 0.39%, #0c33b3 38.24%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background: #f0f4ff;
    border-radius: 15px;

    .card {
      flex-basis: 33.33%;

      .card-wrap {
        border-radius: 15px;

        padding: 30px 40px;

        .card-top {
          min-height: 72px;
          width: 100%;
          display: flex;
          align-items: center;
          h3 {
            margin: 0;
          }
        }

        ul {
          margin: 30px 0 0;
          li {
            color: #5e6373;
            margin: 0 0 20px;
            font-weight: $normal-font;
            padding-left: 30px;

            position: relative;
            display: flex;
            align-items: center;

            i {
              width: 18px;
              height: 18px;
              margin-right: 10px;
              background-size: 100%;
              position: absolute;
              left: 0;
              top: 5px;

              &.white-check {
                background: url(../images/digital-m/list-white.svg) no-repeat
                  center;
              }

              &.green-check {
                background: url(../images/digital-m/list-green.svg) no-repeat
                  center;
              }
              &.cross {
                background: url(../images/digital-m/cross-icn.svg) no-repeat
                  center;
              }
            }
          }
        }

        &.primary {
          background: linear-gradient(180deg, #0b2fa3 0%, #05164d 100%);

          color: #fff;

          ul {
            li {
              color: $white;
            }
          }
        }
      }
    }
  }
}

/*Media Query Start From Here*/

@media (max-width: 1440px) {
}

@media (max-width: 1330px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 979px) {
  .seo-expertise {
    .comparison {
      width: 100%;
      .card {
        .card-wrap {
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .seo-expertise {
    .comparison {
      .card {
        flex-basis: 100%;
        .card-wrap {
          padding: 20px;

          .card-top {
            min-height: initial;
          }

          ul {
            margin: 20px 0 0;
            li {
              margin: 0 0 15px;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}

/*Media Query Ends Here*/
