@use "_default" as *;
.software-costing {
  background: linear-gradient(90deg, #05164d 0%, #0c33b3 100%);
  position: relative;
  .container {
    position: relative;
    z-index: 99;
  }
  .top-section {
    text-align: left;
    h2 {
      color: $white;
    }
    p {
      color: #bdb7b7;
    }
  }
  .costing-outer {
    .col-box {
      margin-top: 20px;
      padding: 0 10px;
      display: flex;
      flex-wrap: wrap;

      .cost-card {
        width: 100%;
        overflow: hidden;
        transition: transform 0.3s ease, background-color 0.3s ease;
        height: 100%;
        border-radius: 10px;
        border: 1.5px solid #ececec;
        background: #fff;
        position: relative;
        padding: 25px;
        box-shadow: 0 4px 40px 0 rgba(237, 246, 255, 0.3);
        overflow: hidden;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:after {
          content: "";
          width: 215px;
          height: 276px;
          background: url(../images/btn-shape.png) 0 0 no-repeat;
          background-size: 100%;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
        }

        h3 {
          margin: 0 0 10px;
        }
        p {
          line-height: 24px;
        }

        .normal-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          transition: opacity 0.3s ease;
          padding: 20px;
          .soft-img {
            margin: 0 0 20px;
            display: block;
          }
        }

        .hover-content {
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 20px;
          height: 100%;
          //position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 99;

          .btn-container {
            margin: 10px;
          }
        }

        &:hover {
          //background-color:#211f47;
          transform: translateY(-10px);

          .hover-content {
            display: flex;
            transition: opacity 0.3s ease;
            display: none;

            &.bg-royal-linear {
              display: flex;
              transition: opacity 0.3s ease;
            }
          }

          &:after {
            opacity: 1;
          }
          .normal-content {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
        }

        &.no-hover {
          &.hover {
            .hover-content {
              display: none;
            }
          }
        }
      }
    }
  }
  &:after {
    content: "";
    background: url(../images/home-images/tech-bg.png) no-repeat center;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-size: cover;
  }
}

// Media Query Start From Here

@media (max-width: 1440px) {
 
}
@media (max-width: 1366px) {
 
}

@media (max-width: 1280px) {

}

@media (max-width: 979px) {
 
}

@media (max-width: 767px) {
}
