@use "_default" as *;
.page-id-1051 {
  .tools-developer {
    .card {
      .box-3 {
        h3 {
          min-height: 30px;
        }
      }
    }
  }
}

.page-id-1579 {
  .tools-developer {
    .hideborder {
      text-align: center;
      justify-content: center;
    }
    .card {
      .box-3 {
        min-height: auto;
      }
    }
    .flex-3 {
      margin-top: 0;
    }
  }
}

.tools-developer {
  .flex-1,
  .flex-1,
  .flex-2,
  .flex-3 {
    margin-top: 20px;
  }

  .card {
    height: 100%;
    border-radius: 10px;
    border: 1.5px solid #ececec;
    margin: 0 10px;
    background: #fff;

    box-shadow: 0px 4px 40px 0px rgba(237, 246, 255, 0.3);

    &.no-bg {
      background-color: transparent;
    }

    .box-3 {
      padding: 30px 20px;
      min-height: 153px;
      transition: all 0.3s ease-in-out;

      h3 {
        margin-bottom: 15px;
        padding: 0 0 15px;
        border-bottom: 2px solid rgba(65, 65, 65, 0.1);
        a {
          opacity: 1;
          color: $arsenic-dark;
        }
      }
      
    }
  }

  .flex-1 {
    .box-3 {
      min-height: auto;
    }
  }

  &.technology-stack {
    .card {
      background-color: transparent;
    }

    h3 {
      font-size: 18px;
    }
  }

  &.fullwidth {
    .flex-2,
    .flex-3 {
      &:last-child {
        flex-basis: 100%;
      }
    }
  }
}

.tech-stack-list {
  ul {
    margin: 8px 0 0;

    li {
      border: 1px solid rgba(65, 65, 65, 0.2);
      border-radius: 10px;
      padding: 4px 9px;
      display: inline-block;
      margin: 12px 12px 0 0;
      line-height: 22px;
      text-align: center;
      color: $arsenic-light;
      font-weight: 400;
      position: relative;
      z-index: 1;
      a {
        color: $arsenic-light;
        display: block;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: transparent;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          z-index: -1;
        }

        &:hover {
          color: $white;
          border-color: $royelblue;
          &:after {
            background: $royelblue;
          }
        }
      }
    }
    
  }
  .flex-3{
    &.has-anchor {
      transition: all 0.3s ease-in-out;
      display: block;
  
      &:hover {
        .box-3 {
          border:1px solid rgba(1, 107, 227, 0.22);
          box-shadow: 0px 4px 40px 0px rgba(237, 246, 255, 0.30);
          border-radius:5px;
          cursor: pointer;
          h3{
            a{color:$royelblue;}
          }
        }
      }
    }
}
}

@media (max-width: 1280px) {
}

@media (max-width: 991px) {

  .tools-developer {
    .card {
      .box-3 {
        padding:20px 20px;
        min-height: initial;
        h3 {
          margin-bottom: 10px;
          padding: 0 0 15px;
        }
      }
    }
  }
  
  .tech-stack-list {
    ul {
      margin: 8px 0 0;
      li {
        padding: 3px 9px;
        margin: 10px 10px 0 0;
      }
      
    }
  }

}
