@use "_default" as *;
.link-bar-container {
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 9;

  .link-bar {
    width: 900px;
    background: #f3f9ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
    transition: opacity 0.5s ease-in-out;
    margin: 0 auto;
    border-radius: 50px;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 30px;

      li {
        cursor: pointer;
        transition: color 0.3s, background 0.3s;
        font-size: 18px;
        color: $darkblack;

        &.active {
          color: #0b2fa3;
          font-weight: 700;
        }
        &:hover {
          color: #0b2fa3;
        }
      }
    }
  }
}

.hide-nav {
  opacity: 0;
  pointer-events: none;
}

.hamburger {
  position: fixed;
  width: 45px;
  height: 45px;
  padding: 9px 10px 10px;
  background: $white;
  border-radius: 10px;
  top: 110px;
  right: 15px;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  display: none;
  align-items: center;
  justify-content: center;

  .ham-icon {
    background: url(../images/digital-m/ham-01.svg) no-repeat center;
    width: 18px;
    height: 17px;
    background-size: 100%;
  }

  &.show {
    .ham-icon {
      background: url(../images/ham-02.svg) no-repeat center;
    }
  }
}

/* Updated Section */
.dmhb-toc {
  .link-bar-container {
    /* Instead of display:none, use opacity and pointer-events */
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    position: fixed;
    top: 170px;
    right: 40px;
    left: auto;
    width: 220px;
    z-index: 999;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 10px;
    padding: 20px;
    background: #f3f9ff;
    box-shadow: 0px 40px 20px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(221, 221, 221, 0.83);
    .container{padding:0;}

    .link-bar {
      margin-right: 0;
      width: 100%;
      padding: 0;
      border-radius:0;
      box-shadow: none;

      ul {
        gap: 10px;
        flex-wrap: wrap;
        border-left: 3px solid #e5e5e5;
        padding-left: 15px;

        li {
          flex-basis: 100%;
          font-size: 16px;
          position: relative;

          &:before {
            content: "";
            background: $royel-bg;
            position: absolute;
            width: 3px;
            left: -18px;
            top: 0px;
            height: 30px;
            opacity: 0;
          }

          &.active {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }
  }

  .hamburger {
    display: flex;
  }
}

/* Media Queries */
@media (max-width: 979px) {
  .link-bar-container {
    .link-bar {
      width: auto;
      ul {
        flex-wrap: wrap;
        gap: 15px;
        li {
          font-size: 16px;
        }
      }
    }
  }

  .dmhb-toc {
    .link-bar-container {
      top: 165px;
    }
  }
}

@media (max-width: 767px) {
  .dmhb-toc{
    .link-bar-container{width: 90%; left:0; right:0; margin:0 auto;}
  }
}



@media (max-width: 479px) {
  
}