@use "_default" as *;
.software-work {
  .flex-1,
  .flex-1,
  .flex-2,
  .flex-3 {
    margin-top: 20px;
  }

  .soft-wrap {
    .sf-title {
      font-size: 25px;
      font-weight: 600;
      color: rgba(29, 7, 6, 1);
      display: block;
    }
    .soft-row {
      width: calc(100% + 10px);
      margin-left: -10px;
      margin-top: 20px;

      .soft-card {
        height: 100%;
        border-radius: 10px;
        border: 1px solid #f3f1f1;
        margin: 0 10px;
        background: #fcfcfc;
        position: relative;
        padding: 25px;

        .card-header {
          ul {
            display: flex;
            flex-direction: column;
            li {
              flex-basis: 100%;
              margin-bottom: 10px;
              font-weight: 400;
              padding-left: 30px;
              position: relative;
              color: #656565;
              display: none;
              transition: transform 0.5s ease;
              &:nth-child(-n + 2) {
                display: list-item;
              }
              &:before {
                content: "";
                background: url(../images/home-images/listing.svg) no-repeat
                  center;
                width: 20px;
                height: 20px;
                background-size: 100%;
                position: absolute;
                left: 0;
                top: 4px;
              }
            }
          }
          &.show-li {
            transition: transform 0.5s ease;
            ul {
              li {
                display: block;
                transition: transform 0.5s ease;
              }
            }
          }
        }

        h3 {
          margin: 0 0 15px;
        }
        .expandable-content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-out; /* Smooth transition */
        }

        .see-more-btn {
          background-color: transparent;
          border: none;
          color: $royelblue;
          cursor: pointer;
          margin-top: 20px;
          font-weight: 500;
          display: flex;
          text-align: right;
          position: relative;
          justify-content: right;
          align-items: center;
          padding-right: 32px;
          font-size: 0;

          &:before {
            content: "";
            width: 36px;
            height: 36px;
            background: url(../images/service-images/plus-icon.svg) 0 0
              no-repeat;
            background-size: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }

          &:hover {
            &:before {
              background: url(../images/service-images/plus-hover.svg) 0 0
                no-repeat;
            }
          }

          &.expanded-btn {
            &:before {
              background: url(../images/service-images/minus-icon.svg) 0 0
                no-repeat;
            }
            &:hover {
              &:before {
                background: url(../images/service-images/minus-icon-hover.svg) 0
                  0 no-repeat;
              }
            }
          }
        }

        &:hover {
          border: 1px solid #0b147c;
          background: $white;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1380px) {
}

@media (max-width: 979px) {
  .software-work {
    .flex-1,
    .flex-1,
    .flex-2,
    .flex-3 {
      flex-basis: 50%;
    }
    .soft-wrap {
      .sf-title {
        font-size: 20px;
      }
      .soft-row {
        width: 100%;
        margin-left: 0;
        .soft-card {
          margin: 0 10px;
          padding: 20px;
          .card-header {
            h3 {
              margin: 0 0 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .software-work {
    .flex-1,
    .flex-1,
    .flex-2,
    .flex-3 {
      flex-basis: 100%;
    }
    .soft-wrap {
      .soft-row {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        .soft-card {
          margin: 0;
        }
      }
    }
  }
}
