@use "_default" as *;
.video-banner-section {
  //background: url("../images/home/home-banner-img.webp") top center no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;

  #background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .breadcrumbs {
    position: initial;
    font-weight: 400;
    margin: 0 0 15px;
    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: $white;
      }
    }
  }

  .banner-content {
    width:70%;
    h1 {
      color: $white;
      margin: 0 0 10px;
    }

    p {
      color: $white;
      font-size: 18px;
      margin: 0 0 15px;
      line-height: 29px;
    }
    ul {
      li {
        color: $white;
        font-weight: 400;
        font-size: 18px;
        position: relative;
        margin: 0 0 12px;
        padding-left: 20px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 8px;
          width: 8px;
          height: 8px;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 50%;
        }
      }
    }
  }

  .service-bottom-section {
    .white-btn {
      background: $royelblue;
      padding: 14px 26px;
      border-color: $royelblue;
      color: $white;
      font-weight: 500;
      &:hover {
        background: $white;
        border-color: $white;
        color: $royelblue;
      }
    }

    .badges {display: flex; flex-wrap: wrap;
      align-items: center;
      img {
        margin-left: 40px;
      }
      &.ppc-badge {justify-content: center !important;
        column-gap: 10px !important; gap:10px !important;
      img{  margin:0 !important;}
      }
    }
  }
}

.client-logo-box-section {margin-top: 0; background: linear-gradient(2deg, rgba(231, 240, 255, 0.43) 0%, rgba(231, 240, 255, 0.26) 57.81%,
 rgba(250, 252, 255, 0.203125) 79.69%, rgba(255, 255, 255, 0) 100%);}


 @media only screen and (max-width: 1600px) {

  .video-banner-section{
    &.padding-t-120 {padding-top:150px;
    }
  }

 }

 @media only screen and (max-width: 1440px) {
  .video-banner-section {
    .banner-content {
      width:70%;
    }
  }
 }


 @media only screen and (max-width: 1320px) {

  .video-banner-section { padding-top: 120px;
    height: 600px;
    #background-video{height: 100%;}
   
    .banner-content {width:100%;
      p {
        font-size: 16px;
        line-height: 26px;
      }
      ul{
        li{font-size: 16px;}
      }
    }
    .service-bottom-section {
      .white-btn {
        font-size: 16px;
      }
  
      .badges {
        img {
          margin-left: 30px;
        }
      }
    }
  }

  .client-logo-box-section {
    background: #fff;
  }

 
}

@media only screen and (max-width: 991px) {
  .video-banner-section {
    height: auto;
    background-color: #04237f !important;
    #background-video{display:none;}
    .banner-content {width:100%;
      h1{font-size: 45px;
        line-height: 55px;}
    }
    .service-bottom-section {
      &.margin-t-80 {
        margin-top:30px;
      }
      .rqst-btn{width:100%; margin:0 0 30px;}
  
      .badges {
        img {
          margin-left: 30px;
        }
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  .video-banner-section {text-align: center;
    .breadcrumbs{text-align: center; margin-top: 20px;}
    .banner-content{text-align: center;
      ul {
        li {
          margin: 0 0 8px;
          padding-left: 18px;
          &:before {
            top: 10px;
            width: 7px;
            height: 7px;
          }
        }
      }
      p{font-size: 16px; line-height: 26px;}
    }
    .service-bottom-section {
      .badges {
        picture:nth-child(3){display:none;}
        img {
          margin: 0 10px 20px;
          width: 90px;
        }
      }
    }
  }

}
