@use "_default" as *;
@use "_menu-v5" as *;
@use "faq" as *;
@use "cta-v3" as *;
@use "footer" as *;

/* === Header === */
header {
    background: rgba(255, 255, 255, 0.9);
}

header nav a {
    color: var(--slate-600) !important;
}

nav a:hover {
    color: var(--navy-900);
}


.header-two .header-item-right .menu ul li.menu-item-has-children a{color: #45556c;}
.header-two .header-item-left .large .dark{display: block;}
.header-two .header-item-left .large .light{display: none;}

.header-two.sc-up{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-two.sc-down.header-bg:hover{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.header-two.sc-down.header-bg {
    background: unset;
    backdrop-filter: unset;
    border-bottom: unset;
    box-shadow: unset;
    
}
@media screen and (max-width: 1139px) {
.header-two .header-item-left .large .light {display: block;}
.header-two .header-item-left .large .dark{display: none;}
.header-two.sc-up img.light{display: block;}
.header-two.header-bg.sc-up{background-color: #1d1c39 !important;}  
.header-two.sc-down.header-bg{background-color: #1d1c39 !important;}
header nav li > a {
    color: #fff !important;
}
}
