@import "_default";
@import "menu-v3";
@import "_client-logo";
@import "_work-tab";
@import "_dm-pricing";
@import "_get-started";
@import "_dm-services";
@import "_seo-slider";
@import "_glide-core";
@import "_service-table";
@import "_service-expertise";
@import "_client-section";
@import "_counter-column-section";
@import "_reputation-section";
@import "_process";
@import "_content-services";
@import "_industry-section";
@import "guide-topic";
@import "_case-studies";
@import "_service-testimonials";
@import "_case-studies";
@import "faq";
@import "cta-v3";
@import "footer";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  top: 50%;
  padding:0;
  border-radius: 0;
  color: #fff;
  background-color:transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 99;
  &.visible{  opacity: 1;
    pointer-events: auto;}
    &:hover{opacity: 0.8;}
}



.slide-logo {
  padding-bottom: 0;
}

.banner-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 150px 0;

  &:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(8, 8, 53, 0.6) 0%,
      rgba(6, 6, 70, 0.3) 42.14%,
      #03043a 100%
    );
  }
  .banner-wrap {
    position: relative;
    z-index: 9;
    .left-sec {
      flex-basis: 55%;
      .breadcrumbs {
        position: initial;
        font-weight: 400;
        margin: 0 0 20px;
      }
      .badges {
        margin: 0 0 20px;
      }
      .banner-content {
        h1 {
          font-size: 64px;
          margin: 0 0 20px;
          line-height: 1.2;
          color: $white;
          font-weight: 500;
        }
        p {
          color: $white;
          font-size: 20px;
          margin: 0 0 20px;
          line-height: 29px;
        }
        ul {
          li {
            font-size: 18px;
            color: $white;
            margin-bottom: 10px;
            font-weight: 500;
            padding-left: 30px;
            position: relative;
            font-weight: 400;
            &:before {
              content: "";
              background: url(../images/digital-m/blist.svg) no-repeat center;
              width: 18px;
              height: 18px;
              background-size: 100%;
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }
      }
      .banner-form {
        display: flex;
        .input-field {
          flex-basis: 53%;
          padding: 0 20px;
          background: transparent;
          width: 100%;
          height: 59px;
          font-size: 16px;
          line-height: 20px;
          border: 1px solid rgba(205, 205, 205, 0.8);
          border-radius: 5px;
          color: #f0f0f0;
          font-weight: normal;
          font-family: Lexend Deca;
        }
        .submit-btn {
          background: $white;
          height: 59px;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $royelblue;
          padding: 0 30px;
          border-radius: 4px;
          cursor: pointer;
          font-family: Lexend Deca;
          border: none;
          margin-left: 15px;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: $royelblue;
            color: $white;
          }
        }

        ::placeholder {
          color: rgba(240, 240, 240, 0.5);
          font-weight: 400;
        }
      }
    }

    .right-sec {
      flex-basis: 30%;

      display: flex;
      align-items: center;
      flex-direction: column;
      .flip-section {
        display: flex;
        gap: 16px;
        margin-bottom: -25px;
      }
      .flip-card {
        width: 200px;
        height: 200px;
        perspective: 1000px;

        &.flip-card-two {
          width: 240px;
          height: 240px;

          .flip-card-front,
          .flip-card-back {
            background-color: #831980;
          }
        }
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(1, 107, 227, 1);
        border-radius: 100%;
      }

      .flip-round {
        color: $white;
        padding: 10px;
        .value {
          font-size: 42px;
          font-family: "Lexend Deca";
          line-height: 1.2;
          margin: 0 0 8px;
        }
        .title {
          font-size: 13px;
          line-height: 24px;
          font-weight: 500;
          display: block;
          text-transform: uppercase;
          display: block;
          margin: 0 0 5px;
        }
        .desc {
          font-style: italic;
          font-size: 12px;
          line-height: 18px;
          color: $white;
          margin: 0;
        }
      }

      .flip-card-back {
        transform: rotateY(180deg);

        .title {
          margin: 0 0 10px;
          padding-top: 15px;
        }
      }

      .hero-card {
        min-width: 353px;
        background: $white;
        border-radius: 15px;
        padding: 35px;

        ul {
          li {
            display: flex;
            align-items: center;
            margin: 0 0 20px;
            i {
              width: 50px;
              text-align: left;
              margin-right: 20px;
            }
            .box-cont {
              h3 {
                font-weight: 500;
                font-size: 20px;
                margin: 0 0 2px;
                line-height: 1;
              }
              p {
                margin: 0;
                font-size: 12px;
                font-weight: 400;
              }
            }
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.tabs-section.techno-tabs {background: #F9FCFF;}

//Sticky Section SCSS

.link-bar-container {
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 99;
  .link-bar {
    width: 900px;
    background: #f3f9ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px 0;

    transition: opacity 0.5s ease-in-out;
    margin: 0 auto;
    border-radius: 50px;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 30px;

      li {
        cursor: pointer;
        transition: color 0.3s, background 0.3s;
        font-size: 18px;
        color: $darkblack;
        &.active {
          color: #0b2fa3;
          font-weight: 700;
        }
      }
    }
  }
}

.hide-nav {
  opacity: 0;
  pointer-events: none;
}

//Media Query Start From Here

@media (max-width: 1440px) {
  .banner-section {
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }

        .banner-content {
          h1 {
            font-size: 50px;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

@media (max-width: 1380px) {
}

@media (max-width: 1320px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 979px) {
  .banner-section {
    width: 100%;
    min-height: initial;
    padding: 150px 0 50px;

    .banner-wrap {
      .left-sec {
        flex-basis: 100%;
        .banner-content {
          p {
            font-size: 16px;
          }
          ul {
            li {
              font-size: 16px;
            }
          }
        }
      }

      .right-sec {
        flex-basis: 100%;
        margin: 30px 0 0;

        .flip-round {
          .value {
            font-size: 35px;
          }
        }
      }

      .flip-card-back {
        .title {
          margin: 0 0 10px;
          padding-top: 15px;
        }
      }
    }
  }
  .link-bar-container{top: 70px;
    .link-bar{width: auto; padding: 20px 15px;
    ul{flex-wrap: wrap; gap: 15px;
    ul{font-size: 16px;}
    }
    }
  }
}

@media (max-width: 767px) {
  .banner-section {
    background-size: 0;
    background-color: #04237f;
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }
        .badges {
          margin: 0 0 20px;
        }
        .banner-content {
          h1 {
            margin: 0 0 20px;
            font-size: 40px;
            line-height: 50px;
          }
          ul {
            li {
              padding-left: 27px;
              position: relative;
              &:before {
                top: 4px;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
        .banner-form {
          flex-wrap: wrap;

          .input-field {
            flex-basis: 100%;
            padding: 0 20px;
            font-family: sans-serif;
            height: 50px;
          }
          .submit-btn {
            flex-basis: 100%;
            height: 50px;
            font-size: 16px;
            line-height: 22px;
            padding: 0 20px;
            font-family: sans-serif;
            margin: 15px 0 0;
          }
        }
      }

      .right-sec {
        .hero-card {
          min-width: 100%;
          padding: 25px;
          ul {
            li {
              i {
                margin-right: 15px;
              }
            }
          }
        }
        .flip-section {
          gap: 5px;
        }
        .flip-card {
          width: 160px;
          height: 160px;

          &.flip-card-two {
            width: 180px;
            height: 180px;
          }
          .flip-card-back {
            .title {
              margin: 0 0 10px;
              padding-top: 15px;
              line-height: 1.3;
            }
          }
        }
        .flip-round {
          .value {
            font-size: 30px;
          }
          .desc {
            font-size: 10px;
            line-height: 16px;
          }
        }
      }
    }
  }
  .scroll-to-top {top:20%; right:5px;
  img{width: 60px;}
  }
}
