@import "_default";
@import "menu-v3";
@import "_client-logo";
@import "_glide-core";
@import "_service-card";
@import "_get-started";
@import "_overcome-started";
@import "_client-section";
@import "_counter-column-section";
@import "_service-casestudy";
@import "_glide-core";
@import "_seo-slider";
@import "_industry-section";
@import "_tech-stack";
@import "guide-topic";
@import "_case-studies";
@import "faq";
@import "testimonial";
@import "video-with-banner";
@import "_ecom-tabs";
@import "_develop-section";
@import "footer";
@import "cta-v3";

.slide-logo {
  padding-bottom: 0;
}

.banner-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  min-height: 100vh;

  &:after {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #0b147c 0%, #4b1bac 100%);
  }
  .banner-wrap {
    position: relative;
    z-index: 9;

    .left-sec {
      flex-basis: 60%;

      .breadcrumbs {
        position: initial;
        font-weight: 400;
        margin: 0 0 30px;
      }

      .banner-content {
        h1 {
          font-size: 60px;
          line-height: 1.2;
          color: $white;
          margin: 0 0 30px;
        }
        p {
          color: $white;
          font-size: 18px;
          margin: 0 0 15px;
          line-height: 29px;
        }
      }
      .rqst-btn {
        .white-btn {
          background: $royelblue;
          color: $white;
          border-color: $royelblue;
          &:hover {
            background: $white;
            color: $royelblue;
            border-color: $white;
          }
        }
      }
    }

    .right-sec {
      flex-basis: 31%;
      width: 31%;
      padding: 70px 0 0;
      position: relative;

      .hero-card {
        width: 100%;
        background: $white;
        border-radius: 15px;
        .video-sec {
          padding: 30px;
          .clb{display: flex;
            align-items: center;
            color: rgba(19, 30, 41, 0.4);
            font-weight: 500; margin:20px 0 0;}
        }

        .ratings {
          display: flex;
          flex-direction: column;
          border-radius: 0 0 15px 15px;
          padding: 15px 0;
          background: rgba(252, 246, 233, 1);
          align-items: center;
          gap: 10px;
          .rating {
            display: flex;
            align-items: center;
            img {
              margin-right: 10px;
            }
            span {
              color: rgba(19, 30, 41, 0.8);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            }
          }
        }
      }

      .badges {
        margin: 60px 0 0;
      }
    }
  }
  .glider-dots {
    position: absolute;
    bottom: 84px;
    right: 0;
    left: 0;
    .glider-dot {
      border: 2px solid rgba(255, 255, 255, 0.26);
      background: transparent;
      &.active {
        background: $white;
      }
    }
  }
}

.services-three-column-section {
  counter-reset: section;

  .threebox {
    .flex-2 {
      padding: 0 10px;
      margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 30px;
      transition: all 0.3s ease-in-out;

      p {
        margin: 0 0 20px;
        // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left: 20px;
          position: relative;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 8px;
          }
        }
      }
    }
  }

  .twobox {
    .img-box {
      flex-basis: 35%;
    }
    .content-box {
      flex-basis: 60%;
    }
  }

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center
          no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }
}

.glider.draggable .glider-slide img.ytcover {
  pointer-events: inherit;
}
.ytcover {
  z-index: 999;
}
.yt-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.ecomsol {
  .flex-2 {
    padding: 0 10px;
    margin: 20px 0 0;
    .box-3 {
      background: #ffffff;
      border: 1px solid #efefef;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .imgsc {
        flex-basis: 35%;
        img {
          display: block;
        }
      }
      .contsc {
        flex-basis: 60%;
        h3,
        p {
          margin: 0 0 20px;
        }
        ul {
          li {
            line-height: 22px;
            margin-bottom: 10px;
            opacity: 0.9;
            padding-left: 20px;
            position: relative;
            &:before {
              content: "";
              width: 9px;
              height: 9px;
              background: #016be3;
              position: absolute;
              left: 0;
              border-radius: 50%;
              top: 5px;
            }
          }
        }
      }
    }
  }
}

.develop-section{margin-bottom:40px;}

@media only screen and (max-width: 1600px) {
  .banner-section {
    .glider-dots {
      bottom: 75px;
    }
    .service-bottom-section {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 1320px) {
  .banner-section {
    min-height: 600px;
    .banner-wrap{
      .right-sec{flex-basis: 33%; width: 33%;
        .hero-card{
          .video-sec{padding: 20px;
          h3{font-size: 18px;}
          .clb{font-size: 16px;}
          }
        }
      }
    }   
  }





}
@media only screen and (max-width: 1024px) {
  .ecomsol {
    .flex-2 {
      flex-basis: 100%;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .banner-section {
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }

        .banner-content {
          h1 {
            font-size: 50px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
  .banner-section {
    width: 100%;
    min-height: initial;
    background-size: 0;
    background-color: #05247e;
    padding-top: 130px;
    .banner-wrap {
      .left-sec {
        flex-basis: 100%;
        text-align: center;
        .breadcrumbs {
          margin: 0 0 20px;
          text-align: center;
        }

        .banner-content {
          h1 {
            font-size: 45px;
            line-height: 55px;
            margin: 0 0 20px;
          }
          p {
            font-size: 16px;
            margin: 0 0 15px;
            line-height: 29px;
          }
        }
        .rqst-btn {
        }
      }

      .right-sec {
        flex-basis: 100%;
        width: 100%;
        padding: 50px 0 0;

        .hero-card {
          width: 100%;
          background: $white;
          border-radius: 15px;
          .video-sec {
            padding: 20px;
          }

          .ratings {
            display: flex;
            flex-direction: column;
            border-radius: 0 0 15px 15px;
            padding: 15px 0;
            background: rgba(252, 246, 233, 1);
            align-items: center;
            gap: 10px;
            .rating {
              display: flex;
              align-items: center;
              img {
                margin-right: 10px;
              }
              span {
                color: rgba(19, 30, 41, 0.8);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
              }
            }
          }
        }

        .badges {
          margin: 60px 0 0;
        }
      }
    }
    .service-bottom-section {
      margin-top: 35px;
      .rqst-btn {
        margin: 0 auto;
      }
    }
  }

  .services-three-column-section {
    .threebox {
      .box-3 {
        padding: 20px;
        p {
          margin: 0 0 15px;
        }

        h3 {
          margin: 0 0 15px;
        }

        ul {
          margin: 0 0 15px;

          li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;

            &:before {
              content: "";
              width: 9px;
              height: 9px;
              background: #016be3;
              position: absolute;
              left: 0;
              border-radius: 50%;
              top: 8px;
            }
          }
        }
      }
    }

    .twobox {
      .img-box {
        flex-basis: 100%;
      }
      .content-box {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .banner-section .banner-wrap .left-sec .banner-content h1{font-size: 35px;
    line-height: 45px;}

  .ecomsol {
    .flex-2 {
      .box-3 {
        .imgsc {
          flex-basis: 100%;
          img {
            border-radius: 5px;
            width: 100%;
          }
        }
        .contsc {
          padding: 20px;
          flex-basis: 100%;
          h3,
          p {
            margin: 0 0 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .banner-section {
    background-size: 0;
    background-color: #04237f;
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }
        .badges {
          margin: 0 0 20px;
        }
        .banner-content {
          h1 {
            margin: 0 0 20px;

          }
        }
        .banner-form {
          flex-wrap: wrap;

          .input-field {
            flex-basis: 100%;
            padding: 0 20px;
            height: 50px;
          }
          .submit-btn {
            flex-basis: 100%;
            height: 50px;
            font-size: 16px;
            line-height: 22px;
            padding: 0 20px;
            margin: 15px 0 0;
          }
        }
      }

      .right-sec {
        .flip-section {
          gap: 5px;
        }
        .flip-card {
          width: 160px;
          height: 160px;

          &.flip-card-two {
            width: 180px;
            height: 180px;
          }
          .flip-card-back {
            .title {
              margin: 0 0 10px;
              padding-top: 15px;
              line-height: 1.3;
            }
          }
        }
        .flip-round {
          .value {
            font-size: 30px;
          }
          .desc {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }
}
