@use "_default" as *;
@use "_default" as *;
@use "_menu-v5" as *;
@use "awards" as *;
@use "faq" as *;
@use "_tech-stack" as *;
@use "tech-stack-v1" as *;
@use "blog" as *;
@use "all-industries" as *;
@use "case" as *;
@use "testimonial" as *;
@use "footer" as *;
@use "cta-v3" as *;
@use "banner-form-v1" as *;
@use "_tech-banner-with-form" as *;


.why-choose-three-column-section {
  counter-reset: section;

  .threebox {
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;

      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: inline-block;

        &:hover {
          .box-3 {
            border: 1px solid #016BE3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      min-height: 250px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 60px 40px;
      transition: all 0.3s ease-in-out;

      h3 {
        a {
          color: #253053;
        }
      }

      h3,
      p {
        margin-top: 20px;
      }

      p {
        opacity: 0.9;
      }

      ul {
        li {
          position: relative;
          padding-left: 20px;
          margin-top: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;

          &::before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0px;
            border-radius: 50%;
            top: 5px;
          }
        }
      }
    }

    .top-box {
      .right-heading {
        margin-left: 15px;
        flex-basis: 76%;
      }

      .left-icon {
        flex-basis: 18%;
      }
    }

    .bottom-txt-box {
      margin-top: 20px;
    }
    .a-dotted {position: relative;
      &:after{
        content: '';
    width: 105px;
    height: 1px;
    border-bottom: 1px dotted #656565;
    position: absolute;
    left: 2px;
    bottom:1px;
      }

      sup{font-size: 10px;}

      &:hover{ color: #666e86;}
      
  }
  }

  &.hire-php {
    .threebox {
      .box-3 {
        h3 {
          margin-top: 0px;
        }
      }
    }
  }

  .points {
    h3 {
      position: relative;

      &::before {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: -38px;
        opacity: 0.2;
      }
    }
  }

  .hire-dedicated-contact-btn {
    margin-top: 70px;
  }
}

//for 2-column section 

.expertise {
  .flex-2 {
    padding: 0 10px;
    margin: 20px 0 0;
  }
}


.our-process {
  &.light-theme {
    .card {
      p {
        background: #f6f8fb;
      }
    }
  }

  &.default-white {
    .card {
      p {
        background: #fff;
      }
    }
  }

  .process-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
  }

  .step-process {
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #666E86;
      opacity: 0.9;
    }
  }

  .card {
    padding: 80px 30px 0 30px;
  }

  .process-card {
    margin-top: 110px;
    padding-top: 30px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    .card-single {
      width: 35%;
      margin: auto;
      padding: 0 30px;

      h3 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #253053;
        margin-top: 20px;
      }

    }
  }

}

.collaborate-developer {
  background-color: #05247E;

  .heading {

    h2,
    p {
      color: #fff;
    }
  }

  .card {
    background: $white;
    border: 0.5px solid #e2e2e2;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    padding: 50px 10px;
    height: 100%;
    transition: all 0.3s ease-in-out;

    h3 {
      font-size: 20px;
    }

    &:hover {
      border: 0.5px solid #E2E2E2;
      box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.36);
      border-radius: 5px;

      span {
        border-top: 0.5px solid #9F9F9F;
        border-bottom: 0.5px solid #9F9F9F;
        opacity: 1;
      }

      h3 {
        color: #010101;
      }

      span,
      p {
        color: #535353;
      }
    }

    h3 {
      margin-bottom: 10px;
    }

    span {
      border-top: 0.5px solid #9f9f9f5e;
      border-bottom: 0.5px solid #9f9f9f5e;
      padding: 10px;
      margin-bottom: 20px;
      display: block;
      width: 75%;
      margin: auto;
      font-family: 'Noto Sans';
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #666E86;
      opacity: 0.9;
    }

    p {
      opacity: 0.9;
      padding: 10px 0;
    }
  }

  .btn-container {
    padding-top: 70px;

    .cmn-btn {
      padding: 15px 40px;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
      width: auto;
      margin: auto;

      &:hover {
        background-color: #60ac0b;
        border-color: #60ac0b;
      }
    }
  }
}

.get-started {
  .heading {
    p {
      margin-bottom: 0 !important;
    }
  }

  .btn-container {
    padding-top: 70px;

    .cmn-btn {
      padding: 15px 40px;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
      width: auto;
      margin: auto;

      &:hover {
        background-color: #60ac0b;
        border-color: #60ac0b;
      }

    }
  }
}

// Latest Technology Integration

.technology-integration {
  p {
    color: #010101;
    // font-size:18px;
    // line-height: 25px;
    // opacity: 0.9;
    // margin-top:20px;
  }
}

// social media

.social-media-optimization-section {
  counter-reset: my-sec-counter;
  background: #05247E;

  .social {

    h2,
    p {
      color: #ffffff;
    }
  }

  .increment {
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: nowrap;

    .flex-20 {
      flex-basis: 20%;
      background: #247DFF;
      text-align: center;
      padding: 43px 77px 44px 77px;
      min-height: 137px;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 80px;
        height: 80px;
        right: -54px;
        background: url(../images/hire/polygon.png);
        background-repeat: no-repeat;
        top: 26%;
      }

      span {
        color: #ffffff;
        font-size: 38px;
        line-height: 47px;

        &::before {
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter);
        }
      }
    }

    .flex-80 {
      flex-basis: 80%;
      background: white;
      padding: 37px;
      min-height: 137px;
      display: flex;
      align-items: center;

      p {
        padding-left: 42px;
        font-size: 24px;
        line-height: 30px;
        color: #444444;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .hire-main{
    .for-client-logo-box{height: 80px;}
  }
  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        padding: 40px 30px;
      }
    }
  }

}

@media screen and (max-width: 1440px) {
  .hire-main{
    .for-client-logo-box{height:70px;}
  }
  .hire-main {
    .hire-content {
      padding-right: 10%;
    }
  }
  .threebox h3{line-height: 1.4;}
}


@media screen and (max-width: 1320px) {
  .hire-main {
    .hire-content {
      padding-right: 8%;

      .hire-counter {
        padding-left: 10px;
      }
    }
  }

  .collaborate-developer {
    .card {
      padding: 40px 10px;
    }
  }

  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        ul {
          li {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .for-client-logo-box {
    height: 57px;
  }
}

@media screen and (max-width: 1200px) {
  .hire-main {
    padding-bottom: 20px;

    .for-client-logo-box {
      height: 57px;
    }
  }
}



@media screen and (max-width: 1024px) {

  .hire-main {
    .hire-content {
      width: 100%;
      padding-right: 0;

      ul {
        padding: 5px 0 20px 0;
      }

      .hire-counter {
        margin-top: 20px;

        div {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .formbox-new {
      width: 100%;
      margin-top: 30px;

      .headingsec {
        h2 {
          font-size: 26px;
          line-height: 32px;
        }
      }

      form {
        padding: 30px 25px;
      }
    }
  }

  .our-process {
    .process-img {
      margin-top: 0 !important;
      width: 80%;
      margin: auto;
    }

    .process-card {
      margin-top: 70px;
      padding-top: 20px;
    }

    .card {
      padding: 45px 30px 0 30px;
    }
  }

  .collaborate-developer {
    .flex-3 {
      flex-basis: 33.33%;

      .card {
        span {
          width: 100%;
        }

        h3 {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  .why-choose-three-column-section {
    .threebox {
      .flex-3 {
        padding-right: 0;
        padding-left: 0;

        .box-3 {
          padding: 40px 13px;
          margin: 10px !important;
        }
      }
    }
  }

  .hire-main {
    .for-client-logo-box {
      height: 118px;
    }
  }
}

@media screen and (max-width: 991px) {
  .our-process {
    counter-reset: step;

    .process-img {
      display: none;
    }

    .card {
      flex-basis: 100%;
      margin-bottom: 14px;
      padding: 65px 30px 30px 30px;
      position: relative;

      p {
        background: transparent;
      }

      &::before {
        counter-increment: step;
        content: "" counter(step);
        position: absolute;
        top: 25px;
        color: #016be3;
        left: 0;
        right: 0;
        border: 1px solid #016be3;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }

    .process-card {
      margin-top: 0;

      .card-single {
        width: 100%;
      }
    }
  }

  .hire-main {
    padding-bottom: 40px;

    .hire-content {
      .hire-counter {

        &:first-child,
        &:last-child {
          padding-left: 10px;
        }
      }
    }

    .for-client-logo-box {
      height: 103px;
    }
  }
}

@media screen and (max-width: 767px) {
  .our-process {
    .card {
      padding: 65px 30px 0 30px;
    }

    .step-process {
      p {
        font-size: 16px;
      }
    }
  }

  .hire-main {
    padding-top: 100px;

    .hire-content {
      width: 100%;
      padding-right: 0;

      h2,
      span {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      ul {
        padding: 5px 0 0 0;

        li {
          font-size: 16px;
          margin-bottom: 10px;
        }

      }

      .inner-content {
        margin-top: 15px;
      }

      .hire-counter {
        flex-basis: 50%;
        margin-top: 20px;

        div {
          font-size: 24px;
          line-height: 32px;
        }
      }

    }

    .formbox-new {
      width: 100%;
      margin-top: 30px;

      .headingsec {
        h2 {
          font-size: 26px;
          line-height: 32px;
        }
      }

      form {
        padding: 30px 25px;
      }
    }

    .for-client-logo-box {
      height: 75px;
    }
    .dis-flex {
      margin-top: 0px;
    }
  }

  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        height: auto;
        min-height: auto;
      }

      .flex-3 {
        padding-right: 0px;
        padding-left: 0px;

        &:first-child {
          margin-top: 0;
        }

        .box-3 {
          margin: 0 !important;
        }
      }

    }

    .hire-dedicated-contact-btn {
      margin-top: 30px;
    }
  }

  //for 2-column section 

  .expertise {
    .flex-2 {
      padding: 0px;
      margin: 15px 0 0;
    }
  }

  .collaborate-developer {
    .card {
      height: auto;
      margin: 10px 0;
    }

    .flex-3 {
      flex-basis: 100%;
    }

    .btn-container {
      padding-top: 40px;

      .cmn-btn {
        padding: 10px 30px;
      }
    }
  }

  .get-started {
    .btn-container {
      padding-top: 40px;

      .cmn-btn {
        padding: 10px 30px;
      }
    }
  }

  .social-media-optimization-section {
    .increment {
      flex-wrap: wrap;

      .flex-20,
      .flex-80 {
        flex-basis: 100%;
      }

      .flex-20 {
        padding: 20px;
        min-height: auto;

        &:after {
          display: none;
        }
      }

      .flex-80 {
        padding: 20px;

        h3 {
          padding-left: 0;
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .hire-main {
    .for-client-logo-box {
      height: 45px;
    }
  }
}