@use "_default" as *;

.fintech-delivery {
position: relative;
    display: flex;
   margin-bottom: -1px;
background: #090C19;
flex-wrap: wrap;
z-index: 1;
overflow: hidden;

.grid-lines{
    position: absolute;
    left: 0;
    bottom: 0;
      width: 960px;
    height: 900px;
z-index: -1;
    object-fit: cover;
    img{width: 100%; height: 100%;}
}

&::after {
    position: absolute;
    left:  0;
   
    content: "";
    z-index: -1;
    bottom: 0;
    width: 1000px;
    height: 1000px;
    background: url(../images/agencies/gra-frame.png);
    background-repeat: no-repeat;
     background-size: cover;
         transform: rotate(180deg);
    
}

&::before {
    position: absolute;
    right:  0;
    content: "";
    z-index: -1;
    top: 0;
    width: 1000px;
    height: 1000px;
    background: url(../images/agencies/gra-frame.png);
    background-size: cover;
    background-repeat: no-repeat;
            
}


/* LEFT IMAGE FULL HEIGHT */
.inner-part{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 100px;

@media screen and (max-width:1260px) {
    gap: 60px !important;
    .left-part {
    
    width: calc(50% - 30px) !important;}
    .right-part {
    
    width: calc(50% - 30px) !important;}
}
    @media screen and (max-width:1024px) {
    flex-direction: column;
    gap: 40px !important;
}
@media screen and (max-width:767px) {
gap: 30px !important;

}
.left-part {
    
    width: calc(50% - 50px);
@media screen and (max-width:1024px) {
width: 100% !important;

}

    > em{
        font-style: normal;
        color: $shine-green;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
           
    }
    h2{
        color: $white;
        line-height: 120%;
        em{
            color: $shine-green;
                  font-family: 'PlayfairDisplay';
        }

    }
    p{
     
        color: #D1D5DC;
    }


}

/* RIGHT CONTENT */

.right-part {
    width: calc(50% - 50px);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
    @media screen and (max-width:1024px) {
    width: 100% !important;
        }

    .ai-content {
        padding: 80px 0 80px 20px;
        color: $white;
        max-width: 590px;
        float: right;

        h2 {
          
            margin-bottom: 10px;
            color: #fff;

            em{
                color: $darkYellow;
                font-style: normal;
            }
        }

    > p {
            
            color: #FFFFFFB0;
            
            margin-bottom: 60px;
        }

    }

 

}


/* LIST */

.ai-list {


  height: 510px;
  @media screen and (max-width:1024px) {
padding-left: 20px;
height: auto;

}

   
    .ai-item {

        position: relative;
        padding: 30px 30px 30px 50px;
        
        border-bottom: 1px solid rgba(255,255,255,0.08);
        cursor: pointer;

        .card-number{
            position: absolute;
            right: 14px;
            font-size: 46px ;
            font-weight: 700;
            line-height: 100%;
            top: 9px;
            display: none;  
             @media screen and (max-width:767px) {
    font-size: 24px;
   }
            span{
                color: #FFFFFF;
                opacity: 3%;
            }
        }

         @media screen and (max-width:1024px) {
padding: 15px 0;
}

        /* Reserve space so layout doesn't jump */
        

      

        .title h4 {
            font-size: 22px;
            font-weight: 600;
            transition: 0.3s;
            color: #9F9FA9;
            position: relative;
            @media screen and (max-width:767px) {
                   font-size: 20px !important;
            }
              &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #6A7282;
            position: absolute;
            left: -30px;
            top: 10px;
            transition: 0.3s;
             @media screen and (max-width:1024px) {
             
top: 11px;
}
             @media screen and (max-width:640px) {
top: 11px;
}
        }
        }

        /* FIXED HEIGHT AREA */

        .desc {

            font-size: 14px;
            font-weight: 500;
            color: #D1D5DC;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition:
                max-height 0.4s ease,
                opacity 0.3s ease;

            p {
                color: #D1D5DC;
                margin-top: 10px;
                 font-size: 16px;
                 margin-bottom: 0;
            font-weight: 500;
             @media screen and (max-width:767px) {
    font-size: 14px;
    
   }
            }
ul{
    display: flex;gap: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
    li{
        padding: 5px 10px;
        background: #3F3F47;
        color: $white;
        border-radius: 8px;
        a{
            color: $white;
        }
         @media screen and (max-width:767px) {
        line-height: 1;
   }
    }
}

        }

        .progress {
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 2px;
            width: 0%;
            background: $shine-green;

        }

        /* ACTIVE */

        &.active {
background-color: #27272A;
border-radius: 10px;
padding-left: 60px;

 @media screen and (max-width:767px) {
  padding-left: 40px;
   }
.card-number{
    display: block;
}

.title h4 {
    color: $white;
    font-weight: 700;
    &:before {
        background: $shine-green;
    }
            }

            .desc {

                max-height: max-content; 
                opacity: 1;
                

            }

        }

    }

}

}
}
/* RESPONSIVE */

@media (max-width: 1024px) {

.ai-right {
    width: 100%;
}
.ai-production-loop {background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgb(9 12 25 / 89%) 100%);}
.ai-right .ai-content{max-width: 100%; float: unset; padding-left: 20px;}

    .ai-left {
        display: none;
       
    }

    .ai-right .ai-content h2 {
        font-size: 32px;
    }

}

@media (max-width: 640px) {

    .ai-right .ai-content {
        padding: 48px 0;
    }

    
    .ai-list{padding-left: 20px;}
    .ai-right .ai-content > p{margin-bottom: 0;}

}
.right-part.numbring .ai-list .ai-item { padding-right: 65px;}
@media screen and (max-width:767px) {
    .right-part.numbring .ai-list .ai-item { padding-right: 25px;}
    .left-part .ai-list .ai-item.active { padding-right: 10px;}
   }



   .vertical-slide .right-part{
    
  
/* RIGHT */

.cards-wrapper{
    position:relative;
    height:567px;
    width: 507px;
    margin-left: auto;
        bottom: -99px;
    overflow:hidden;

    @media screen and (max-width:1024px) {
        margin: 0 auto;
    }

}

.cards-track{
    display:flex;
    flex-direction:column;
    gap:24px;
    animation:scrollCards 16s linear infinite;
}

.cards-wrapper:hover .cards-track{
    animation-play-state:paused;
}

/* CARD */

.review-card{
    position:relative;
    padding:30px;
    border-radius:24px;
    background:#FFFFFF12;
   border: 1px solid #FFFFFF26;
    box-shadow:
        0 10px 40px rgba(0,0,0,.35);
}

.review-card::before{
    content:"";
    position:absolute;
    top:20px;
    left:25px;
    background: url(../images/hire-main/quote.png);
    width: 60px;
    height: 60px;
}

ul{
    display:flex;
    justify-content:flex-end;
    gap:6px;
    margin-bottom:0px;
}



.review-text{
    p{
        font-size: 16px;
        font-weight: 500;
        color:#E4E4E7;
    }
    
}

.user{
    display:flex;
    align-items:center;
    gap:14px;
}

.user img{
    width:42px;
    height:42px;
    border-radius:50%;
    object-fit:cover;
}

.user h4{
    color:#E4E4E7;
    font-size:14px;
    // margin-bottom:5px;
    line-height: 1;
    font-weight: 600;
}

.user span{
    color:#FFFFFF;
    font-size:12px;
    font-weight: 400;
    
}

/* ANIMATION */

@keyframes scrollCards{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-50%);
    }
}

/* FADE */

// .cards-wrapper::before,
// .cards-wrapper::after{
//     content:"";
//     position:absolute;
//     left:0;
//     width:100%;
//     height:110px;
//     z-index:5;
//     pointer-events:none;
// }

.cards-wrapper::before{
    top:0;
    background:linear-gradient(to bottom,#020617,transparent);
}

.cards-wrapper::after{
    bottom:0;
    background:linear-gradient(to top,#020617,transparent);
}



@media screen and (max-width:768px){

   
    .review-card{
        padding:26px;
    }

    
}
   }
   .fintech-delivery.vertical-slide::before{
right: -408px;

    top: -30px;
   }

   .vertical-slide .right-part{
    position: relative;
    display: block;

    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        content: "";
        background:linear-gradient(
178deg, #090C19 40.22%, rgb(9 12 25 / 0%) 100%);

    }
   
    &::before{
        position: absolute;
        bottom: -99px;
        left: 0;
           width: 100%;
    height: 22%;
    z-index: 1;
    content: "";
    background: linear-gradient(0deg, #090c19db 40.22%, rgba(9, 12, 25, 0) 100%);

    }
   }

   .fintech-delivery.vertical-slide{
     .grid-lines{
        z-index: -1;
    }
   }
   .fintech-delivery.vertical-slide .inner-part .right-part{
z-index: -11;
   }
   .fintech-delivery.vertical-slide::before{
    z-index: 111;
   }
   .fintech-delivery.vertical-slide::after{
       position: absolute;
    left: -300px;
    content: "";
    z-index: -1;
    bottom: -240px;
    width: 470px;
    height: 1000px;
    background: url(../images/agencies/gra-frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

@media screen and (max-width:1024px) {
    .fintech-delivery.vertical-slide .grid-lines{display: none;}
    
}


.fintech-delivery.activity-reports{
    background-color: #FAFAFA !important;
    z-index: 11;

     .inner-part {

     .left-part{

        .home-cta-button{
            background: $royelblue;
            color: $shine-green;
            margin-top: 25px;

            &::after{
                background-image: url(../images/services-spoke/yellow-icon.svg);
            }
            &::before{
                background-color: $shine-green !important;
            }
            &:hover{
                color: $royelblue !important;

                &::before{
                    height: 120%;
                }

            }
        }

        > em{
            color: $royelblue;
        }
         h2 {
             color: #18181B !important;
             em{
                color: $royelblue;
             }
            }
            p{
                color: #3F3F47 !important;
            }
        }
        .right-part{
           .ai-list .ai-item.active{
            background-color:$royelblue ;
           }
           .ai-list .ai-item .desc{
            color: #E4E4E7;
           }
            .ai-item h4{
                color: #71717B;
            }
            .ai-item.active h4{
                color:$white;
            }
        }
     }

    &::after{
       position: absolute;
    left: -209px;
    bottom: -330px;
    background-image: url(../images/services-spoke/grid-grad.webp);
    background-repeat: no-repeat;
    content: "";
    width: 930.69091796875px;
    height: 882px;
    transform: rotate(0deg);
    }
    &::before{
        display: none;
    }
}