@import "_default";
//@import "menu";//
@import "menu-v2";
@import "awards";
@import "faq";
@import "blog";
@import "testimonial";
@import "tech-stack";
@import "all-industries";
@import "cta-v3";
@import "guide-topic";
@import "footer";



.hero-section {
  //background: url("../images/home/home-banner-img.webp") top center no-repeat;
  background-size: cover;
  height: 85vh;
  display: grid;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;

  #background-video{ width: 100%;
    height: 85vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;}

  h1 {
    color: $white;
    margin-top: 13px;
  }
  .outer-logo-part {
    //margin-top: 230px;
  }
  
}

.client-logo-box-section {
  margin-top: 0;
  background: linear-gradient(2deg, rgba(231, 240, 255, 0.43) 0%, rgba(231, 240, 255, 0.26) 57.81%, rgba(250, 252, 255, 0.203125) 79.69%, rgba(255, 255, 255, 0) 100%);
}

.casesd .dis-flex .flex-2:nth-child(3) .dis-flex{flex-direction: row-reverse;}
.casesd .dis-flex .flex-2:nth-child(4) .dis-flex {
  flex-direction: row-reverse;
}
.our-outsource-services {
  .tab-nav {
    padding-right: 50px;

    .tab-link {
      display: block;
      margin-bottom: 30px;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      border-bottom: 1px rgba(115, 115, 115, 0.4) solid;
      padding-bottom: 15px;

      &:hover {
        color: #010101;
        border-bottom-color: #010101;
      }

      &.is-active {
        color: #016be3;
        border-bottom-color: #016be3;
      }
    }
  }

  .tab-content {
    display: none;

    &.is-active {
      display: block;
    }

    .title {
      font-size: 20px;
      color: #253053;
      line-height: 24px;
      font-weight: 500;
    }

    p {
      margin-top: 15px;
      opacity: 0.9;

      &:first-of-type {
        margin-top: 20px;
      }
    }
  }

  .left-tabs {
    flex-basis:25%;

    p {
      margin-top: 20px;
    }
  }

  .right-tabs {
    flex-basis:75%;
    padding-left: 70px;
  }
}

.full-width-two-column {
  .dis-flex {
    height: 100%;
  }

  .col-box {
    overflow: hidden;
  }

  .img-box-outer {
    &:hover {
      .img-box {
        background-size: 110%;
      }

      h3 {
        text-decoration: underline;
      }

      .learn-more {
        &:before {
          opacity: 1;
        }

        &::after {
          left: 10px;
        }
      }
    }
  }

  .img-box {
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .img1 {
    background: url(../images/home/case-study-1.webp) top center no-repeat;
    background-size: 100%;
  }

  .img2 {
    background: url(../images/home/case-study-2.webp) top center no-repeat;
    background-size: 100%;
  }

  .img3 {
    background: url(../images/home/case-study-3.webp) top center no-repeat;
    background-size: 100%;
  }

  .img4 {
    background: url(../images/home/case-study-4.webp) top center no-repeat;
    background-size: 100%;
  }

  .content-box {
    padding: 50px 20px 60px;
    background: $white;
    border: 1px solid #e2e2e2;
  }

  h3 {
    margin-top: 8px;
    position: relative;
    color: #444444;
  }

  p {
    margin-top: 15px;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
  }

  .learn-more {
    font-size: 14px;

    &::after {
      width: 12px;
      height: 8px;
      top: 1px;
    }
  }
}

.outsourcing-company-section {
  // padding-bottom: 270px;
  .container {
    position: relative;
  }

  .flex-2 {
    &:last-child {
      ul {
        padding-left: 60px;
      }
    }
  }

  .outsourcing-container {
    &::before {
      content: "";
      background: url("../images/home/bg-pixel.png");
      background-repeat: no-repeat;
      width: 425px;
      height: 416px;
      position: absolute;
      top: -160px;
      left: -40px;
    }

    .list-item {
      .dis-flex {
        height: auto;
      }

      ul {
        li {
          opacity: 0.9;
          margin-bottom: 15px;
          position: relative;
          padding-left: 30px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 15px;
            height: 15px;
            background: url("../images/home/list-check.png");
            background-repeat: no-repeat;
          }
        }
      }

      .list-box {
        background: #016be3;
        border-radius: 7px;
        padding: 30px;
        margin-top: 40px;
        position: absolute;
        width: 53%;
        z-index: 2;

        .box-3 {
          padding: 0 20px 0 30px;

          &:first-child {
            margin-bottom: 65px;
          }

          h3 {
            color: $white;
            font-size: 40px;
            line-height: 47px;
            // margin: 0 0 10px 0;
          }

          p {
            color: #fff;
            margin: 0;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
          }
        }
      }
    }

    .list-img {
      position: relative;

      img {
        position: relative;
        z-index: 1;
      }

      &::after {
        content: "";
        background: url(../images/home/pattern-dot.png);
        width: 132px;
        height: 99px;
        position: absolute;
        right: 13px;
        bottom: -20px;
        background-repeat: no-repeat;
      }
    }
  }
}

.tools-developer {
  .card {
    .home-tool-box-grey {
      background-color: #FBFBFB;
    }

    .home-tool-box-white {
      background-color: $white;
    }
  }
}


@media only screen and (max-width: 1600px) {
  .outsourcing-company-section {
    .outsourcing-container {
      &::before {
        top: -140px;
      }

      .list-item {
        .list-box {
          .box-3 {
            padding: 0 20px 0 30px;

            h3 {
              font-size: 38px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }

  .hero-section{
    .outer-logo-part {
      //margin-top: 70px;
  }
  }
}

@media only screen and (max-width: 1440px) {
  .full-width-two-column {
    .content-box {
      padding: 30px 18px 40px;
    }
  }

  .our-outsource-services {
    .right-tabs {
      padding-left: 50px;
    }
  }

  .outsourcing-company-section {
    .outsourcing-container {
      .list-img {
        &::after {
          right: 0px;
        }
      }
    }
  }

}

@media only screen and (max-width: 1200px){
  .hero-section {height:500px;
    //background-image: none !important;
    //#background-video{height: auto;}
  }
  .client-logo-box-section{background:#fff;}
}

@media only screen and (max-width: 1120px) {
  .outsourcing-company-section {
    .outsourcing-container {
      &::before {
        top: -100px;
      }

      .list-img {
        &::after {
          right: -3px;
        }
      }

      .list-item {
        flex-basis: 100%;

        .list-box {
          position: static;
          width: 100%;
          margin: 20px 0 40px 0;

          .box-3 {
            flex-basis: 33%;
          }
        }
      }

      .list-img {
        flex-basis: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  // .hero-section {
  //   height: 80vh;
  // }

  .full-width-two-column {
    p {
      margin-top: 15px;
    }
  }

  .outsourcing-company-section {
      padding-bottom: 60px;
    .outsourcing-container {
      .list-img {
        &::after {
          right: 13px;
        }
      }
    }
  }

}

@media only screen and (max-width: 991px) {
  .hero-section {margin-top:50px; height: auto;
    background-image: none !important;
    background-color: #04237f;
    #background-video{display:none;}
    h1 br{display:none;}
  }
  .full-width-two-column {
    .col-box {
      flex-basis: 100%;
    }
  }

  .our-outsource-services {
    .tab-nav {
      padding-right: 0;
    }
  }

  .outsourcing-company-section {
    .outsourcing-container {
      .list-img {
        &::after {
          right: 4px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero-section {

    h1 {
      font-size: 22px;
      line-height: 32px;
    }
    .outer-logo-part{
      margin-top: 20px;
    }
  }

  .home-top-section {
    text-align: center;
    
    .heading {
      text-align: center;
      margin-top: 15px;
    }
  
  }

  .full-width-two-column {

    .img1,
    .img2,
    .img3,
    .img4 {
      height: 200px;
    }

    .col-box {

      &:last-child,
      &:nth-child(3) {
        .content-box {
          order: 2;
        }
      }
    }

    .content-box {
      padding: 20px 15px 30px;
    }

    .learn-more {
      &::after {
        top: 2px;
      }
    }
  }

  .tools-developer {
    .card {
      .box-3 {
        min-height: auto;
      }
    }
  }

  .our-outsource-services {

    .left-tabs,
    .right-tabs {
      flex-basis: 100%;
    }

    .right-tabs {
      padding-left: 0;
      margin-top: 20px;
    }

    .tab-nav {
      display: flex;
      flex-wrap: wrap;

      .tab-link {
        font-weight: 600;
        font-size: 15px;
        padding-right: 10px;
        line-height: 22px;
        margin-bottom: 15px;
        flex-basis: 50%;
      }
    }
  }

  .outsourcing-company-section {
    padding-bottom: 70px;
    .flex-2 {
      &:last-child {
        ul {
          padding-left: 0;
        }
      }
    }
    .outsourcing-container {
      &::before {
        display: none;
      }

      .list-img {
        &::after {
          right: -13px;
        }
      }

      .list-item {
        .list-box {
          position: static;
          width: 100%;
          padding: 20px;
          margin: 20px 0;

          .box-3 {
            flex-basis: 50%;
            padding: 20px 10px;

            &:first-child {
              margin-bottom: 0;
            }
            h3{
              font-size: 30px;
              line-height: 42px;
            }
          }
        }
      }
    }
  }
}