@use "_default" as *;
.header-two {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding:15px 0;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  &.header-bg {
    // background: #181732;
    padding: 5px 0;
    .header-item-center {
      opacity: 0;
    }
    .header-item-left {
      .menu {
        opacity: 0;
      }
    }

    &.sc-up {
      background: #021652;
      .header-item-center {
        opacity: 1;
      }
      .header-item-left {
        .menu {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    background: #021652;
  
    .header-item-center {
      opacity: 1;
    }
    .header-item-left {
      .menu {
        opacity: 1;
      }
    }
    &.sc-down {
      .small {
        opacity: 0;
      }
      .large {
        opacity: 1;
      }
    }
  }
  .large {
    transition: all 0.7s ease-in-out;
    img {
      max-width:308px;
    }
  }
  .small {
    opacity: 0;
    display: grid;
    background: #EBF2FF;
    padding: 10px;
    width:65px;
    height: 65px;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 10px;
    transition: all 0.7s ease-in-out;
    img{max-width:100% !important;}
  }
  // logo
  &.sc-up {
    .large {
      opacity: 1;
    }
  }
  &.sc-down {
    .small {
      opacity: 1;
    }
    .large {
      opacity: 0;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
  }
  .header-item-left {
    display: flex;
    flex: 0 0 17%;
    
  }
  .header-item-center {
    display: flex;
    .menu{margin: 15px 0 0;}
  }
  .width-20 {
    flex-basis: 20%;
  }
  .width-25 {
    flex-basis: 25%;
  }
  .width-30 {
    flex-basis: 30%;
  }
  .width-35 {
    flex-basis: 35%;
  }
  .width-40 {
    flex-basis: 40%;
  }
  .width-50 {
    flex-basis: 50%;
  }
  .width-60 {
    flex-basis: 60%;
  }
  .width-75 {
    flex-basis: 75%;
  }
  .width-100 {
    flex-basis: 100%;
  }
  .header-menu {
    display: none;
  }
  .header-menu.active {
    display: block;
  }
  .day-theme-logo {
    display: none;
  }
  &.header-mobile {
    display: none;
  }
  .menu {
    ul {
      li {
        display: inline-block;
        margin-left: 20px;
        transition: color 0.3s ease;
        a {
          position: relative;
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          border: none;
          outline: none;
          // text-transform: capitalize;
          transition: color 0.3s ease;
        }
        .menu-mega {
          position: absolute;
          left: 0;
          width: 100%;
          height: auto;
          margin-top: 30px;
          z-index: 1;
          background: #fff;
          display: none;
          border-radius: 0px 0px 10px 10px;
          .left-list {
            padding-left:90px;
            padding-top:50px;
            padding-bottom:50px;
            .list-item {
              border-right: 2px solid #f6f8fb;
              padding-right: 50px;

              a {
                color: #000;
                display: block;
                padding: 20px 30px;
                border-bottom: 2px solid #f6f8fb;
                cursor: pointer;
                font-size: 18px;
                line-height: 22px;
                position: relative;
                &:last-child {
                  border-bottom: 0;
                 //display: none;
                }
                &.active {
                  background: #f6f8fb;
                  border-radius: 10px;
                  &::after {
                    content: "";
                    clear: both;
                    display: block;
                    background: url(../images/hire/arrow-right.png) no-repeat;
                    width: 10px;
                    height: 14px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                  }
                }
                &:hover {
                  background: #f6f8fb;
                  border-radius: 10px;
                }
                &.cursor-pointer {
                  cursor: pointer;
                }
              }
            }
            &.remote-menu {
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
                color: #737373;
                display: block;
                padding: 0;

                strong {
                  margin-bottom: 20px;
                  color: #010101;
                  font-weight: 500;
                }
                &:hover {
                  text-decoration: underline;
                  color: #016be3;
                }
              }
              //.decor-none:hover{text-decoration:none;}
            }
            &.list-view {
              h6 {
                margin-bottom: 20px;
                color: #000;
              }
              a {
                font-size: 16px;
                line-height: 20px;
                color: #737373;
                flex-basis: 33.33%;
                margin-bottom: 15px;
                padding: 0;
                padding-right: 10px;
                &:hover {
                  color: #016be3;
                  text-decoration: underline;
                }
                strong {
                  margin-bottom: 5px;
                  color: #010101;
                  display: block;
                  font-weight: 500;
                }
                p {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 400;
                  color: #737373;
                  padding-right: 10px;
                }
                &:hover {
                  text-decoration-line: underline;
                  p {
                    color: #016be3;
                  }
                  strong {
                    color: #010101;
                  }
                }
              }
            }
            &.company-menu {
              a {
                margin-bottom: 40px;
              }
            }
          }
          .middle-list,
          .last-list {
            a {
              color: #737373;
              display: block;
              font-size: 16px;
              font-weight: 500;
              &:hover {
                color: #016be3;
                text-decoration: underline;
              }
            }
           h5{ color: #010101;
            display: block;
            font-size: 16px;
            font-weight: 500;
            margin-bottom:20px;
            line-height: 20px;
            cursor: default !important;
            margin-top:25px;
          }
          }
          .middle-list {
            padding:50px 50px;
            h6 {
              display: none;
            }
            a {
              margin-top: 22px;
              &.title {
                color: #1d1d3a;
                font-size: 18px;
                font-weight: 600;
                margin-top: 0;
                line-height: 25px;
                cursor: default;
                &.active {
                  text-decoration: none;
                }
              }
              &.active {
                color: #1d1d3a;
                font-weight: 600;
                text-decoration: underline;
              }
            }
          }
          .last-list {
            padding-left: 20px;
            a {
              margin-top: 10px;
              &:hover {
                color: #1d1d3a;
                font-weight: 600;
                text-decoration: underline;
              }
              &.margin-t-40 {
                margin-top: 40px;
              }
            }
            strong {
              text-transform: uppercase;
              font-size: 15px;
            }
            .menu-inline {
              a {
                display: inline-block;
              }
            }
          }
          p {
            font-size: 14px;
            color: rgba(117, 117, 117, 0.81);
            font-weight: 500;
            line-height: 22.4px;
            strong {
              display: block;
              margin-bottom: 15px;
              position: relative;
              padding-top: 10px;
              font-size: 18px;
            }
          }
          .right-list {
            background: #f8f8f9;
            border-radius: 0px 0px 10px 0px;
            padding: 78px 90px 78px 78px;
            p {
              cursor: default;
            }
            h6 {
              font-size: 16px;
              margin-bottom: 10px;
              color: #010101;
              cursor: default;
            }
            a {
              font-size: 16px;
              line-height: 20px;
              margin-top: 20px !important;
              color: #737373;
              transition: 0.5s all ease-in-out;
              position: relative;
              display: flex;
              align-items: center;
              font-weight: 500;

              &:after {
                content: "";
                clear: both;
                display: block;
                background: url(../images/arrow-grey.png) no-repeat;
                width: 14px;
                height: 8px;
                display: inline-block;
                margin-left: 6px;
                transition: 0.5s all ease-in-out;
              }

              &:hover {
                color: #016be3;
                text-decoration: none;
                font-weight: 500;
                &:after {
                  margin-left: 10px;
                  background: url(../images/arrow-blue.png) no-repeat;
                  width: 14px;
                  height: 8px;
                }
              }
            }
          }
        }
        &.small-menu {
          position: relative;
          .small-menu-inner {
            position: absolute;
            left: 0;
            width: max-content;
            height: auto;
            margin-top: 20px;
            padding: 10px 40px 40px;
            z-index: 1;
            background: #fff;
            border-radius: 10px;
            display: none;
            a {
              color: #1d1d3a;
              display: block;
              font-size: 18px;
              margin-top: 20px;
              border-radius: 10px;
              &:hover {
                color: #1d1d3a;
                text-decoration: underline;
              }
            }
          }
        }
        &.menu-item-has-children {
          padding: 10px 10px 30px;
          cursor: pointer;
          &:hover {
            .menu-mega {
              display: block;
            }
            .small-menu-inner {
              display: block;
            }
            > a {
              color: #60b741;
              position: relative;
              &::after {
                content: "";
                clear: both;
                display: block;
                background: url(../images/hire/dropdown-icon-stroke.png)
                  no-repeat;
                width: 26px;
                height: 23px;
                position: absolute;
                top: 50px;
                right: 0;
                right: 0;
                left: 10px;
                margin: 0 auto;
                transform: translateY(-50%);
              }
            }
          }
          &:nth-of-type(3) {
            .menu-mega {
              .left-list {
                &.remote-menu {
                  a {
                    &:first-child {
                      &:hover {
                        //text-decoration: none;
                        //cursor: default;
                      }
                    }
                  }
                  .tech-bl {
                    &:hover {
                      //text-decoration: none;
                      //cursor: default;
                    }
                  }
                }
              }
            }
          }
        }
        &.contact-nav {
          a {
            border-radius: 4px;
            padding: 10px 30px;
            display: inline-block;
            margin-left: 1rem;
            transition: all 0.3s ease-in-out;
            background: #016be3;
            color: #fff;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border:1px solid #016be3;
          }
          &:hover {
            a {
              border-color: #fff;
              background: #fff;
              color: #016be3;
            }
          }
        }
      }
    }
  }
}

.header-mobile {
  .menu-list {
    &.second {
      li {
        &:last-child {
          //display: none;//
        }
      }
    }
  }
}

// for light background menu
.for-dark-logo {
  display: none;
}


.light-theme-grey-bg {
  
  .header-two {
    .for-white-logo {
      display: none;
    }
  
    .for-dark-logo {
      display: block;
    }
    .menu {
      ul {
        li {
          a {
            color: #253053;
          }
          &.contact-nav {
            a {
              color: #016be3;
              background: #fff;
              border: 1px solid #016be3;
            }
            &:hover {
              a {
                color: #fff;
                border-color:#fff;
                background: #016be3;
              }
            }
          }
          .menu-mega{
            .middle-list{
              a{color: #737373;
              &:hover{text-decoration: underline;
                color: #016be3;}
              }
            }
            .right-list{
              a{color: #737373;
                &:hover{color: #016be3;}
              }
            }
          }
        }
      }
    }
    
    &:hover{
      .for-white-logo {
        display: block;
      }
    
      .for-dark-logo {
        display: none;
      }
      .menu {
        ul {
          li {
            a {
              color: #fff;
            }
            &.contact-nav {
              a {
                color: #fff;
                background: #016be3;
                border: 1px solid #016be3;

              }
              &:hover {
                a {
                  color: #016be3;
                  background: #fff;
                  border-color:#fff;
                }
              }
            }
            
          }
        }
      }
    }
  }

  .header-bg {
    .for-dark-logo {
      display: none;
    }

    .for-white-logo {
      display: block;
    }

    .menu {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
// for grey background
.service-menu-cl {
  
  .header-two {
    .for-white-logo {
      display: none;
    }
  
    .for-dark-logo {
      display: block;
    }
    .menu {
      ul {
        li {
          a {
            color: #253053;
          }
          &.contact-nav {
            a {
              color: #016be3;
              background: #fff;
              border: 1px solid #016be3;
            }
            &:hover {
              a {
                color: #fff;
                border-color:#fff;
                background: #016be3;
              }
            }
          }
          .menu-mega{
            .middle-list{
              a{color: #737373;
              &:hover{text-decoration: underline;
                color: #016be3;}
              }
            }
            .right-list{
              a{color: #737373;
                &:hover{color: #016be3;}
              }
            }
          }
        }
      }
    }
    
    &:hover{
      .for-white-logo {
        display: block;
      }
    
      .for-dark-logo {
        display: none;
      }
      .menu {
        ul {
          li {
            a {
              color: #fff;
            }
            &.contact-nav {
              a {
                color: #fff;
                background: #016be3;
                border: 1px solid #016be3;

              }
              &:hover {
                a {
                  color: #016be3;
                  background: #fff;
                  border-color:#fff;
                }
              }
            }
            
          }
        }
      }
    }
  }

  .header-bg {
    .for-dark-logo {
      display: none;
    }

    .for-white-logo {
      display: block;
    }

    .menu {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
// media

@media only screen and (min-width: 1200px) {
  .header-two {
      > .container {
          max-width: 1900px;
      }
  }
}

@media only screen and (max-width: 1600px) {
  .header-two {
   .small {
      width: 50px;
      height: 50px;
  }
    .menu {
      ul {
        li {
          a {
            font-size: 18px;
          }
          .menu-mega {
            .left-list {
              padding-left:70px;
              padding-top:50px;
              padding-bottom:50px;
              .list-item {
                padding-right: 40px;
                a {
                  font-size: 16px;
                  padding: 15px 20px;
                }
              }
            }
            .middle-list {
              padding:50px 30px;
              a {
                margin-top: 16px;
                &.title {
                  font-size: 16px;
                }
              }
              h5{font-size: 16px;}
            }
            .last-list {
              a {
                margin-top: 6px;
                &.margin-t-40 {
                  margin-top: 20px;
                }
              }
            }
            .right-list {
              padding: 40px 70px 40px 78px;
            }
            .middle-list a,
            .last-list a {
              //font-size: 14px;
            }
            p {
              strong {
                margin-bottom: 10px;
                font-size: 16px;
              }
            }
          }
          &.small-menu {
            .small-menu-inner {
              padding: 10px 25px 30px;
              a {
                font-size: 16px;
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .header-two {padding: 8px 0;
    .menu {
      ul {
        li {
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .header-two {
    .menu {
      ul {
        li {
          margin-left: 5px;
          a {
            font-size: 16px;
          }
          .menu-mega {
            .middle-list,
            .last-list {
              a {
                font-size: 14px;
              }
              
            }
            .left-list {
              padding-left: 30px;
              a {
                font-size:14px;
                padding: 15px;
              }
              &.remote-menu {
                a {
                  font-size: 14px;
                }
            }
            &.list-view{
              a{font-size: 14px;
              p{font-size: 13px;}
              }
            }
            }
            .right-list {
              padding: 40px 30px 40px 78px;
            }
            .middle-list {padding: 40px 28px;
              a {
                margin-top: 12px;
              }
              h5{font-size: 14px; margin-bottom:15px; margin-top:10px;}
            }
            .last-list {
              a {
                margin-top: 4px;
                &.margin-t-40 {
                  margin-top: 15px;
                }
              }
              strong {
                font-size: 14px;
              }
            }
            p {
              font-size: 13px;
              line-height: 22px;
            }
            
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header-two {
    .small {
      display: none !important;
      opacity: 1 !important;
    }
    .menu {
      ul {
        li {
          margin-left: 5px;
          .menu-mega {
            .left-list {
              padding: 20px;
              &.remote-menu {
                a {
                  font-size: 14px;
                  margin-bottom: 10px;
                }
              }
              &.list-view {
                a {
                  font-size: 14px;
                  line-height: 18px;
                }
                p {
                  font-size: 13px !important;
                }
              }
              &.company-menu {
                a {
                  margin-bottom: 20px;
                }
              }
              a {
                padding: 10px 12px;
                &.active {
                  &::after {
                    right: 10px;
                  }
                }
              }
              .list-item {
                padding-right: 10px;
                a {
                  font-size: 14px;
                  padding: 10px 15px;
                }
              }
            }
            .right-list {
              padding: 20px;
            }
            .middle-list {
              padding: 15px;
              a {
                margin-top: 12px;
              }
            }
            .last-list {
              padding-left: 10px;
              h6 {
                font-size: 16px;
              }
            }
            p {
              font-size: 14px;
              line-height: 24px;
            }
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
    .header-item-left {
      a {
        .brand {
          img {
            max-width: 269px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header-two {
    .header-item-left {
      a.brand {
        img {
          max-width: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .header-two {
    .flex-2 {
      flex-basis: 50%;
    }
    .menu {
      ul {
        li {
          margin-left: 0;
          &.menu-item-has-children {
            padding: 0 10px 20px;
          }
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .header-two {
    display: none;
    &.header-mobile {
      display: block;
    }
  }
  .header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background: #090940;
    z-index: 99;
    padding: 10px 0;
    li {
      display: block;
      margin-top: 30px;
    }
    a {
      display: inline-block;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
      text-decoration: none;
      margin-right: 0;
      width: calc(100% - 80px);
    }
    .logo {
      max-width: 200px;
    }
    .arrow-btn {
      display: inline-block;
      position: relative;
      width: 70px;
      height: 24px;
      background: url(../images/mobile-btn.png) 40px -2px no-repeat;
      vertical-align: middle;
      &.active {
        background-position: 36px -33px;
      }
    }
    .mob-nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #1d1c39;
      padding: 20px;
      display: none;
      overflow-y: auto;
      &.active {
        display: block;
      }
    }
    .menu-list {
      &.first {
        ul {
          margin-top: 40px;
        }
        li {
          margin-top: 35px;
        }
      }
      &.second {
        display: none;
        ul {
          margin-top: 20px;
        }
        &.active {
          display: block;
        }
      }
      img {
        max-width: 200px;
      }
    }
    .first-inner {
      display: none;
      margin-left: 50px;
      a {
        display: block;
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #b5b5b5;
      }
      &:active {
        display: block;
      }
      &.hire-title {
        a {
          display: inline-block;
          // width: 200px;
        }
        .hire-inner {
          display: none;
          margin-left: 10px;
          a {
            display: block;
            margin-left: 20px;
          }
        }
        // .arrow-btn {
        //   width: calc(100% - 230px);
        // }
      }
      a {
        strong {
          font-weight: 400;
        }
        p {
          display: none;
        }
      }
    }
    .inner-list {
      display: none;
      margin-left: 40px;
      a {
        display: block;
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #b5b5b5;
      }
      h5{display: block;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: #b5b5b5;}
      &.active {
        display: block;
      }
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mobile-logo {
        flex-basis: 60%;
      }
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 2px;
      background: #ffffff;
      border-radius: 1px;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
    }
    .back-btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      padding-left: 12px;
      position: relative;
      display: block;
      margin-top: 30px;
      &::before {
        content: "";
        clear: both;
        display: block;
        background: url(../images/hire/arrow-right.png) no-repeat;
        width: 18px;
        height: 20px;
        position: absolute;
        top: -2px;
        left: -13px;
        margin: 0 auto;
        transform: rotate(-180deg);
      }
    }
    .hamberger-menu {
      transition: all 0.3s ease-in-out;
      z-index: 999;
      position: relative;
      top:0;
    }
    .open-close {top: 5px;
      .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        transform: rotate(45deg) translate(-5px, -3px);
      }
    }
  }
}
