@use "_default" as *;

.stacking-cards-section {
  background-color: #FFFFFF;
  
.top-part{

    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 50px;
    @media screen and (max-width:767px) {
      padding-bottom: 0;
    }
    h2{
        color: #05164D;        
    }  
    p{
        color: #364153;
        margin-bottom: 0;
    }
}

  .stack-card {
    position: sticky;
    top: 40px; // Base sticky position
    width: 100%;
    
    padding-top: 40px;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        top: calc(40px + (#{$i} * 25px));
      }
    }

    .card-body {
      background: #F9FAFB;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      padding: 45px;
      gap: 80px;
z-index: 1;
      position: relative;

      &::before{
        content: "";
        position: absolute;
      right: -8px;
    bottom: -90px;

      background: url(../images/agencies/rounded-frame.png);
      width: 446px;
      height: 446px;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      }



            @media screen and (max-width:1024px) {
              padding: 25px;
              gap: 50px;
            }
     
     
    }

    .card-left {
      width: calc(100% - 477px);
      
      @media screen and (max-width:992px) {
              width: calc(100% - 300px);

            }

      .card-num {
        display: block;
        font-size: 80px;
        font-weight: 700;
        color: #111827;
        opacity: 3%;
        line-height: 100%;
        @media screen and (max-width:992px) {
          font-size: 50px;
        }
      }

      h3 {
        color: #111827;
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 100%;
      }

      p {
        color: #4B5563;
        line-height: 1.6;
        margin-bottom: 10px;
        
      }

       ul {
        margin-bottom: 20px;
        list-style: none;
        padding: 0;
        
        @media screen and (max-width:767px) {
                 margin-bottom: 10px;
                text-align: left;
               }
          li{font-size:14px;color:#364153; font-weight: 500; position: relative;padding-left: 26px;
          &::before{
            content: "";
              position: absolute;
              left: 0;
              // background: url(../images/industry-v11/black-check.svg);
              background: url("../images/home-images/iconex.svg") no-repeat center;
              width: 14px;
              height: 14px;
              background-repeat: no-repeat;
              background-size: 14px;
              top: 6px;
             
          }
          }

            }


      a{
  font-size: 16px;
  font-weight: 500;margin-top: 30px;
  margin-top: 50px;
  color: $royelblue;
  position: relative;
  &::after{
        content: "";
    background:url(../images/home-images/blue-right-arrow.svg) no-repeat;
   width: 19px;
    height: 15px;
    background-size: 100%;
    display: inline-block;
    margin-left: 3px;
    margin-top: 0px;
  }
}
    }

    .card-right {
      width: 477px;
        @media screen and (max-width:992px) {
              width: 300px;

            }
      img {
        width: 100%;
        border-radius: 20px;
        display: block;
        object-fit: cover;
      }
    }
  }
}

// Mobile View
@media screen and (max-width: 767px) {
  .card-body {
    flex-direction: column !important;
    padding: 40px 25px !important;
    text-align: center;

    .card-link {
      justify-content: center;
    }
    .card-left{
      width: 100% !important;
    }
    
    .card-right {
      display: none;
    }
  }
}