@use "_default" as *;

$text-gray: #4B5563;
$bg-light: #FAFAFA;

.pixel-section {
  padding: 120px 0px;
  position: relative;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;

  @media screen and (max-width:1024px) {
    padding: 80px 0px;
  }

  @media screen and (max-width:767px) {
    padding: 50px 0px;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/home-images/partner-grid.png);
    background-repeat: no-repeat;
    content: "";
    width: 60%;
    height: 100%;
    z-index: -1;
    background-size: cover;

    @media screen and (max-width:1024px) {
      display: none;
    }

  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -140px;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: url(../images/home-images/work-section-background.png) no-repeat center;
    opacity: 0.7;
    background-size: cover;

    @media screen and (max-width:1024px) {

      top: unset;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 50%;
      opacity: 0.7;
      bottom: 0;
    }


  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .content-wrapper {
      flex-direction: column;
      gap: 40px;
    }

  }

  // Left Side
  .text-content {
    flex: 2;

    h2 {
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 20px;

      em {
        color: $royelblue;
         font-family: 'PlayfairDisplay';
      }
    }

    p {
      margin-bottom: 40px;

      @media screen and (max-width:1024px) {
        margin-bottom: 30px;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      list-style: none;
      padding: 0;
      
      @media screen and (max-width:1140px) {
        grid-template-columns:1fr;
        
      }


      li {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: $text-gray;
        position: relative;
        padding-left: 24px;

        &::before {
          content: '';
          width: 16px;
          background: url("../images/home-images/iconex.svg") no-repeat center;
          background-size: cover;
          height: 16px;
          margin-right: 10px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }

      }

      @media screen and (max-width:1024px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
    }
  }

  // Right Side

  .visual-content {
    flex: 1;
    min-width: 512px;
    z-index: 1;
    position: relative;



    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      margin-bottom: 15px;

      @media screen and (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width:540px) {
        grid-template-columns: repeat(1, 1fr);
      }

      li {
        min-height: 94px;
        background: #fff;
        border: 1px solid #E2E8F0;
        border-radius: 15px;
        padding: 13px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;

        @media screen and (max-width:767px) {
          min-width: 200px;
          margin: 0 auto;
        }

        img {
          max-width: 100%;
          height: auto;
        }

        &:hover {
          border-color: $royelblue;
          box-shadow: 0px 1px 16px 0px #0400F538;
        }
      }
    }

    .stats-bar {
      background: #0a0a0b;
      color: #fff;
      padding: 35px 25px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;

      .stat-item {
        min-width: 70px;
        text-align: left;

        h3 {
          font-size: 28px;
          margin: 0;
          color: $white;
        }

        p {
          font-size: 12px;
          color: #D1D5DC;
          margin: 5px 0 0;
        }

        @media screen and (max-width:767px) {

          text-align: center;

        }
      }

      @media screen and (max-width:767px) {

        flex-wrap: wrap;

      }
    }
  }

  // Responsive Adjustments
  @media screen and (max-width: 1024px) {



    .pixel-section .content-wrapper {
      flex-direction: column;
    }

    .pixel-section .visual-content {
      flex: unset;
      width: 100%;
    }

    .pixel-section .visual-content {
      width: 100%;
      flex: unset;
    }
  }

  @media (max-width: 992px) {
    .text-content h1 {
      font-size: 36px;
    }


  }

  @media (max-width: 600px) {
    .logo-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .stats-bar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}