@use "_default" as *;

.comparison {
  background: #F2F8FF;
  padding: 120px 0px;

  @media screen and (max-width:1024px) {
    padding: 80px 0px;
  }
  @media screen and (max-width:767px) {
    padding: 50px 0px;
    
  }
  .add-lists-icon {
    position: absolute;
    bottom: 150px;
    left: 50%;
    z-index: 11;
    cursor: pointer;
    display: flex;
  }

  .section-header {
    text-align: center;
    margin-bottom: 70px;
     @media screen and (max-width:767px) {
   margin-bottom: 30px;
    
  }

    h2 {
      font-size: 40px;
      font-weight: 700;
      color: $darkblack;
      margin-bottom: 10px;
    }

    p {
      color: #4B5563;
      font-size: 18px;
      margin: 0 auto;
    }
  }

  .comparison-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  @media screen and (max-width:1024px) {
    .comparison-grid {
      width: 100%;
      overflow-x: scroll;
    }
  }

  .card {

    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    min-width: 250px;

    .card-header {
      padding: 25px 30px;
      font-weight: 600;
      background-color: #E5E7EB;

      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;

        @media screen and (max-width:1024px) {
          font-size: 14px;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #E5E7EB;
      border-radius: 0 0 20px 20px;
      display: contents;


      li {
        padding: 22px 30px;
        border-top: 1px solid #eee;
        font-weight: 500;
        font-size: 14px;
        color: #4B5563;

        @media screen and (max-width:1024px) {
          padding: 15px 20px;
        }

        &:first-child {
          border: none;
        }
      }
    }



  }

  .card:nth-child(1) {
    width: 30%;
  }

  .card:nth-child(2) {
    width: 30%;
  }

  .card:nth-child(3) {
    width: 36%;

    .card-header {
      background-color: #0400F5;

      h3 {
        color: #FFFFFF;
      }
    }

    ul {
      border-color: #BEBDFF;

      li {
        color: #020158 !important;
        border-top: 1px solid #BEBDFF;
      }
    }
  }

  /* Responsive */

  @media screen and (max-width: 992px) {
    .comparison-grid {
      grid-template-columns: 1fr;
    }

    .section-header h2 {
      font-size: 30px;
    }

    .section-header p {
      font-size: 16px;
    }
  }
}