@import "_default";
@import "menu-v3";
@import "_counter-award";
@import "_excellence";
@import "_tailored-slider";
@import "_sticky-section";
@import "_service-columns";
@import "_worked-software";
@import "_button-section";
@import "_indstries-slider-section";
@import "_glider";
@import "_work-tab";
@import "_software-costing";
@import "_development-phase";
@import "_methedologies.scss";
@import "_latest-insight";
@import "_success-slider";
@import "_client-testimonials";
@import "faq";
@import "cta-v3";
@import "footer";
@import "guide-topic";

.video-banner-section {
  background-size: cover;
  height: 100vh;
  display: grid;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;

  #background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .breadcrumbs {
    position: initial;
    font-weight: 400;
    margin: 0 0 15px;
  }
  .content-wrap {
    position: relative;
    z-index: 9;
    padding-top: 20px;

    .dis-flex {
      align-items: center;
    }
    .margin-t-30 {
      margin-top: 30px;
    }

    .left-box {
      flex-basis: 60%;
      h1 {
        font-size: 60px;
        color: $white;
        line-height: 1.2;
      }
      p {
        line-height: 34px;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        a {
          color: $white;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      ul {
        margin: 25px 0 0;
        list-style: none;
        li {
          color: rgba(255, 255, 255, 0.8);
          font-weight: 400;
          font-size: 18px;
          position: relative;
          margin: 0 0 10px;
          padding-left: 20px;
          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: url(../images/home-images/blue-list.svg) 0 0 no-repeat;
            background-size: 100%;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 5px;
          }
        }
      }
    }

    .right-box {
      flex-basis:28%;
      position: relative;
      margin: 80px 0 0;
      .card-box {
        width: 100%;
        text-align: center;
        position: relative;
        border: 1px solid #e0edff;
        border-radius: 10px;
        background: $white;
        border-top: 4px solid $royelblue;
        .card-top {
          padding: 20px 25px;
          img {
            margin-top: -100px;
          }
          p {
            color: #414141;
            margin: 15px 0 0;
          }
          strong {
            font-weight: 500;
            color: $royelblue;
            font-style: italic;
          }
        }

        .ratings {
          display: flex;
          flex-direction: row;
          border-radius: 0 0 10px 10px;
          justify-content: space-between;
          padding: 20px 25px;
          border-top: 1px solid #dcecff;
          background: rgba(249, 247, 247, 1);

          .rating {
            flex-basis: 45%;
            position: relative;
            padding-right: 20px;
            &:after {
              content: "";
              background: #bcbcbc;
              position: absolute;
              top: 0;
              right: -5px;
              width: 1px;
              height: 100%;
            }
            img {
              margin: 0 0 5px;
              display: block;
            }
            span {
              color: rgba(19, 30, 41, 1);
              display: block;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              text-align: left;
            }
            strong {
              font-weight: 600;
              color: rgba(19, 30, 41, 1);
            }

            &:last-child {
              padding-right: 0;
              &:after {
                display: none;
              }
            }
          }
        }

        &:before {
          content: "";
          width: 55px;
          height: 55px;
          background: url(../images/service-images/serspe-02.svg) 0 0 no-repeat;
          background-size: 100%;
          position: absolute;
          right: -23px;
          top: 20px;
        }
        &:after {
          content: "";
          width: 55px;
          height: 55px;
          background: url(../images/service-images/serspe-01.svg) 0 0 no-repeat;
          background-size: 100%;
          position: absolute;
          left: -22px;
          bottom: 105px;
        }
      }

      &:before {
        content: "";
        width: 111px;
        height: 96px;
        background: url(../images/line-shape.png) 0 0 no-repeat;
        background-size: 100%;
        position: absolute;
        left: -72px;
        top: -58px;
      }

      .se-logo-box {
        margin: 20px 0 0;
        gap: 10px;
        .logo-box {
          width: 96px;
          height: 54px;
          display: inline-block;
          background-size: 100%;

          &.logo1 {
            background: url(../images/bdge-01.svg) 0 0 no-repeat;
          }
          &.logo2 {
            background: url(../images/bdge-02.svg) 0 0 no-repeat;
          }
          &.logo3 {
            background: url(../images/bdge-03.svg) 0 0 no-repeat;
          }
          &.logo4 {
            background: url(../images/bdge-04.svg) 0 0 no-repeat;
          }
        }
      }
    }
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
    img {
      margin-right: 15px;
    }
  }

  &:before {
    content: "";
    background: rgba(4, 12, 23, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.client-img-section {
  background: #f9fcff;
}


// Media Query Start From Here


@media (max-width: 1680px) {
  .video-banner-section {
    .content-wrap {
      .right-box{flex-basis: 32%;}
    }
  }
}

@media (max-width: 1440px) {
  .video-banner-section {
    .content-wrap {
      .right-box {
        flex-basis: 36%;
      }
    }
  }
}
@media (max-width: 1366px) {
  .video-banner-section {
    .content-wrap {
      .left-box {
        h1 {
          font-size: 55px;
        }
      }
      .right-box {
        margin: 120px 0 0;
        .card-box {
          .ratings {
            padding: 18px;
            .rating {
              flex-basis: 46%;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .video-banner-section {
    height: 650px;
    #background-video {
      height: 100%;
    }
    .content-wrap {
      .left-box {
        flex-basis: 60%;
        h1 {
          font-size: 50px;
        }
      }
      .right-box {
        margin: 200px 0 0;
        .card-box {
          &::after {
            width: 35px;
            height: 35px;
          }
          &:before {
            width: 35px;
            height: 35px;
            right: -15px;
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .video-banner-section {
    padding: 120px 0 50px;
    height: auto;
    text-align: center;
    background-color: #05247e;
    #background-video {
      display: none;
    }
    .content-wrap {
      width: 100%;
      .dis-flex {
        justify-content: center;
      }
      .left-box {
        text-align: center;
        flex-basis: 100%;
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
          line-height: 30px;
        }
      }
      .right-box {
        flex-basis: 95%;
        margin: 120px 0 0;
        .card-box {
          &::after {
            width: 35px;
            height: 35px;
            bottom: 125px;
            left: -15px;
          }
          &:before {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
    .badges {
      margin-top: 40px;
      justify-content: center;
    }
    .breadcrumbs {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media (max-width: 767px) {
}
