@use "_default" as *;

.support-center-img-section {
    .center-box-outer {
      position: relative;
      margin-top: 150px;
    }
    .center-img {
      text-align: center;
      img {
        max-width: 640px;
      }
    }
    .col-box {
      position: absolute;
      text-align: center;
      max-width: 240px;
      font-weight: 500;
      p {
        // color: #010101;
        opacity: 0.9;
      }
    }
    .box-1 {
      left: 20px;
      bottom: 60px;
    }
    .box-2 {
      top: 40px;
      left: 180px;
    }
    .box-3 {
      top: -60px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .box-4 {
      top: 40px;
      right: 180px;
    }
    .box-5 {
      bottom: 60px;
      right: 20px;
    }
}


.list-column-box-section {
    background-color: #05247e;
    h2,h3,p {
        color: $white;
    }
    h2 {
        &:after {
            background: $white;
        }
    }
    .list-box-outer {
        height: 100%;
        padding-bottom: 70px;
    }
    
    .head-box,
    .list-box {
        padding-left: 50px;
        padding-right: 50px;
    }
    .head-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .list-box {
        padding-top: 10px;
    }
    .flex-2 {
        position: relative;
        padding: 0;
        margin: 0;
        ul {
            li {
                margin-top: 30px;
                position: relative;
                list-style-type: none;
                padding-left: 30px;
                color: $white;
                opacity: 0.8;
                min-height:78px;
                &:nth-child(2n){min-height:52px;}
                &:nth-child(4n){min-height:156px;}
                &:first-child {
                    margin-top: 0;
                }
                &::before {
                    content: "";
                    clear: both;
                    display: block;
                    background: url(../images/danger-icon.png) 0 0 no-repeat;
                    width: 18px;
                    height: 16px;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
            }
        }
        &:first-child {
            background: #143584;
        }
        &:last-child {
            background: #153A92;
            ul {
                li {
                    opacity: 0.9;
                    &::before {
                        width: 16px;
                        background: url(../images/circ-tick-icon.png) 0 0 no-repeat;
                    }
                }
            }    

        }

    }
}

.table-three-list-section {
    .table-list {
        &:first-child {
            background: #F6F8FB;
            border: 0.5px solid #E2E2E2;
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            background: #F6F8FB;
            border: 0.5px solid #E2E2E2;
            border-radius: 0 5px 5px 0;
        }
        &:nth-child(2) {
            border-top: 0.5px solid #E2E2E2;
            border-bottom: 0.5px solid #E2E2E2;
        }
        h3,li {
            border-bottom: 0.5px solid #E2E2E2;;
            list-style: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 38px;
            &:last-child {
                border-bottom: 0;
            }    
        }
        li {
            // font-size: 18px;
            // line-height: 23px;
            min-height: 179px;
        }
        h3 {
            min-height: 100px;
        }
    }
}

.three-col-box-img-section {
    .col-box-outer {
        margin-top: 80px;
    }
    .col-box {
        border: 0.5px solid #E2E2E2;
        border-radius: 5px;
        height: 100%;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
    .flex-3 {
        padding: 0 10px;
        margin-top: 20px;
    }
    .content-box {
        padding: 20px 30px;
        h3 {
            min-height: 60px;
        }
        p {
            margin-top: 20px;
            opacity: 0.9;
        }
    }
}

.right-order-list-section {
    counter-reset: section;
    .flex-2 {
        &:last-child {
            padding-left: 120px;
        }
    }
    ul {
        li {
            position: relative;
            min-height: 120px;
            padding-left: 50px;
            line-height: 26px;
            &::before {
                counter-increment: section;
                content: counter(section);
                position: absolute;
                top: 0;
                left: 0;
                border: 3px #016BE3 solid;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #016BE3;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -40px;
                left: 14px;
                background: url(../images/dots-icon.png) top center no-repeat;
                width: 7px;
                height: 100%;
            }
            &:last-child {
                min-height: auto;
                &::after {
                    display: none;
                }
            }
        }
    }
}

.left-img-small-list-section {
    .left-box {
        flex-basis: 40%;
        text-align: center;
    }
    .right-box {
        flex-basis: 60%;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin-top: 40px;
                flex-basis: 50%;
                padding-left: 20px;
                padding-right: 85px;
                position: relative;
                line-height: 26px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    background: #016BE3;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.two-col-box-img-section {
    .col-box-outer {
        margin-top: 60px;
    }
    .col-box {
        border-radius: 5px;
        height: 100%;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
    .flex-2 {
        padding: 0 20px;
        margin-top: 20px;
    }
    .content-box {
        padding: 30px 0;
        p {
            margin-top: 20px;
            opacity: 0.9;
        }
    }
}

.table-tick-list-section {
    .table-list {
        &:first-child {
            h3 {
                border-radius: 17px 0 0 0;
            }
        }
        &:nth-child(2),
        &:last-child {
            li {
                background: url('../images/tick-icon-md.png') center center/100% no-repeat;
                width: 30px;
                height: 32px;
                margin-left: auto;
                margin-right: auto;
                padding: 0;
            }
        }

        &:last-child {
            h3 {
                border-radius: 0 17px 0 0;
            }
            li {
                opacity: 0.4;
            }
        }
        h3 {
            background: #016BE3;
            color: $white;
            min-height: 100px;
        }
        h3,li {
            list-style: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 38px;
        }
        ul {
            border: 0.5px #E2E2E2 solid;
            padding-bottom: 20px;
            li {
                line-height: 26px;
                margin-top: 38px;
                color: #010101;
                opacity: 0.9;
                min-height: 40px;
            }
        }
    }
}

.two-col-with-img-section {
    .flex-2 {
        &:first-child {
            padding-right: 45px;
        }
        &:last-child {
            padding-left: 45px;
        }
    }
}

.three-col-mid-img-section {
    .col-box-outer {
        align-items: center;
    }
    .left-box,
    .right-box {
        flex-basis: 40%;
    }
    .mid-box {
        flex-basis: 20%;
        text-align: center;
    }
    .left-box {
        padding-right: 30px;
    }
    .right-box {
        padding-left: 30px;
    }
    ul {
        li {
            position: relative;
            color: $white;
            line-height: 30px;
            padding-left: 30px;
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
            &::before {
                content: "";
                background: url('../images/tick-icon-white-xs.png') 0 0 no-repeat;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 7px;
                left: 0;                
            }
        }
    }
}

.tab-list-box-section {
    .tab-link {
        flex-basis: 50%;
        position: relative;
        display: inline-block;
        padding-bottom: 20px;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        color: #010101;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #F2F2F2;
        }
        &.is-active {
            &:after {
                background: #016BE3;
            }
        }
    }
    .tab-content {
        display: none;
        margin-top: 10px;
        &.is-active {
            display: block;
        }
        img {
            vertical-align: bottom;
            width:100%;
        }
        h3 {
            margin-top: 40px;
        }
        p {
            margin-top: 20px;
        }
    }
    .tab-nav {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-2 {
        margin-top: 90px;
        &:nth-child(2n-1) {
            padding-right: 90px;
        }
        &:nth-child(2n) {
            padding-left: 90px;
        }
    }
}

.three-col-square-box-img-section {
    .content-box {
        border: 0.5px solid #E2E2E2;
        border-radius: 5px;
        height: 100%;
        padding: 70px 30px;
        p {
            margin-top: 20px;
        }
    }
    .flex-3 {
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            height: 100%;
            vertical-align: bottom;
        }
    }
}

@media screen and (max-width: 1440px) {
    .three-col-square-box-img-section {
        .content-box {
            padding: 50px 30px;
        }
    }

    .list-column-box-section{
        .flex-2{
            ul{
                li{
                    min-height: 104px;
                    &:nth-child(4n){min-height: 185px;}
                }
            }
        }
    }
}


@media screen and (max-width: 1320px) {
    .table-tick-list-section {
        .table-list {
            ul {
                li {
                    min-height: 55px;
                }
            }
        }
    }
    .support-center-img-section {
      .center-box-outer {
        margin-top: 110px;
      }
      .box-1 {
        bottom: 50px;
      }
      .box-2 {
        top: 20px;
        left: 150px;
      }
      .box-4 {
        top: 20px;
        right: 160px;
      }
      .box-5 {
        bottom: 50px;
      }
    }
    .tab-list-box-section {
        .tab-link {
            font-size: 28px;
            line-height: 38px;
        }
        .flex-2 {
            margin-top: 60px;
        }
    }
    .three-col-square-box-img-section {
        .flex-3 {
            img {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .support-center-img-section {
        .center-img {
            img {
            max-width: 520px;
            }
        }
        .col-box {
            p {
            font-size: 16px;
            }
        }
    }  
    .list-column-box-section {
        .head-box,
        .list-box {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .table-three-list-section {
        h3 {
            font-size: 16px;
            line-height: 20px;
        }
        .table-list {
            flex-basis: 33.33%;
            li {
                font-size: 16px;
            }
            h3,li {
                padding: 0 15px;
            }
        }
    }
    .three-col-box-img-section {
        .col-box-outer {
            margin-top: 40px;
        }
        .content-box {
            h3 {
                min-height: auto;
            }
        }
    }
    .right-order-list-section {
        .flex-2 {
            &:last-child {
                padding-left: 40px;
            }
        }
    }
    .left-img-small-list-section {
        .right-box {
            ul {
                li {
                    padding-right: 50px;
                    margin-top: 30px;
                }
            }
        }
    }
    .table-tick-list-section {
        .flex-3 {
            flex-basis: 33.33%;
        }
    }
    .three-col-square-box-img-section {
        .flex-3 {
            flex-basis: 33.33%;
        }
    }

}

@media screen and (max-width: 991px) {
    .support-center-img-section {
      counter-reset: section;
      .center-box-outer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
      }
      .center-img {
        display: none;
      }
      .box-1,.box-2,.box-3,.box-4,.box-5 {
        top: 0;
        left: 0;
      }
      .col-box {
        position: relative;
        flex-basis: 50%;
        max-width: none;
        margin-top: 20px;
        padding: 20px 10px;
        &:before {
          counter-increment: section;
          content: "0" counter(section);
          position: absolute;
          top: 0;
          opacity: 0.8;
        }
      }
    }
    .three-col-box-img-section {
        .content-box {
            padding: 20px 15px;
        }
    }
    .right-order-list-section {
        .flex-2 {
            &:last-child {
                padding-left: 20px;
            }
        }
    }
    .left-img-small-list-section {
        .right-box {
            ul {
                li {
                    padding-right: 20px;
                    margin-top: 20px;
                }
            }
        }
    }
    .table-tick-list-section {
        .table-list {
            h3,li {
                padding: 0 20px;
            }
        }
    }
    .three-col-mid-img-section {
        ul {
            li {
                font-size: 16px;
                line-height: 26px;
                padding-left: 25px;
                margin-top: 20px;
            }
        }
    }
    .tab-list-box-section {
        .tab-link {
            font-size: 24px;
            line-height: 34px;
        }
        .flex-2 {
            &:nth-child(2n-1) {
                padding-right: 30px;
            }
            &:nth-child(2n) {
                padding-left: 30px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .list-column-box-section {
        .list-box-outer {
            padding-bottom: 30px;
        }
        .head-box {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .flex-2 {
            ul {
                li {
                    margin-top: 20px;
                    min-height: auto;
                    &:nth-child(4){
                        min-height: auto;
                    }
                }
            }
        }
    }
    .table-three-list-section {
        .table-list {
            li {
                font-size: 14px;
                line-height: 20px;
                min-height: 240px;
            }
            h3,li {
                padding: 10px 5px;
            }
        }
    }
    .support-center-img-section {
        .col-box {
            flex-basis: 100%;
        }
    }
    .three-col-box-img-section {
        .content-box {
            p {
                margin-top: 10px;
            }
        }
    }
    .right-order-list-section {
        .flex-2 {
            &:last-child {
                padding-left: 0;
            }
        }
    }
    .left-img-small-list-section {
        .left-box {
            flex-basis: 100%;
        }
        .right-box {
            flex-basis: 100%;
            ul {
                li {
                    flex-basis: 100%;
                    margin-top: 15px;
                }
            }
        }
    }

    .table-tick-list-section {
        .table-list {
            h3 {
                font-size: 16px;
                line-height: 22px;
            }
            h3,li {
                padding: 0 12px;
            }
            ul {
                li {
                    line-height: 20px;
                    font-size: 14px;
                    margin-top: 20px;
                    min-height: 80px;
                }
            }
            &:first-child {
                flex-basis: 38%;
            }
            &:nth-child(2),
            &:last-child {
                flex-basis: 25%;
                li {
                    width: 20px;
                    height: 22px;
                }
            }
        }
    }
    .two-col-with-img-section {
        .flex-2 {
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
            }
        }
    }

    .three-col-mid-img-section {
        .left-box,
        .right-box {
            flex-basis: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        .mid-box {
            flex-basis: 100%;
            margin: 20px 0;
            img {
                max-width: 150px;
            }
        }
        ul {
            li {
                margin-top: 15px;
            }
        }
    }
    .tab-list-box-section {
        .tab-link {
            flex-basis: 100%;
            padding-bottom: 12px;
            margin-top: 12px;
        }
        .flex-2 {
            margin-top: 30px;
            &:nth-child(2n-1) {
                padding-right: 0;
            }
            &:nth-child(2n) {
                padding-left: 0;
            }
        }
        .tab-content {
            h3 {
                margin-top: 20px;
            }
            p {
                margin-top: 15px;
            }
            img{
                width:auto;
            }
        }
    }
    .three-col-square-box-img-section {
        .flex-3 {
            flex-basis: 100%;
            picture {
                display: block;
                text-align: center;
            }
        }
        .content-box {
            padding: 30px 15px;
            p {
                margin-top: 10px;
            }
        }
    }
}
.page-id-6024 .three-col-box-img-section .content-box h3{min-height:auto;}
.three-col-box-img-section{
    .content-box{

        ul{margin: 20px 0 0;
            li{line-height: 26px;
                margin-bottom: 10px;
                opacity: 0.9;
                padding-left: 20px;
                position: relative;
        
                &:before{
                    content: "";
                    width: 9px;
                    height: 9px;
                    background: #016be3;
                    position: absolute;
                    left: 0;
                    border-radius: 50%;
                    top: 5px;}
            
            }
        }
    }
}
 
  
 
