.clients-saying {
  .heading {
    p {
      width: 75%;
    }
  }

  .iframe-bg {
    pointer-events: none;
  }

  iframe {
    border: 0;
    border: 0;
    height: auto;
    vertical-align: bottom;
    width: 100%;
    max-height: 350px;
    &.active {
      height: 100%;
      max-height: unset;
      z-index: 1;
    }
  }

  .yt-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
  }

  .slider-client {
    width: 50%;
    position: relative;

    .client-slider {
      .slide-item {
        padding: 0 2px;
        position: relative;

        .video-item {
          display: none;

          video {
            width: 100%;
          }

          iframe {
            border: 0;
            width: 100%;
          }
        }

        .testi-container {
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }

        video {
          vertical-align: bottom;
        }

        .slide-content {
          position: absolute;
          bottom: 50px;
          padding: 0 50px;
          z-index: 9;

          p {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 15px;
            color: #fff;
          }

          span {
            font-size: 14px;
            line-height: 17px;
            color: #fefefe;
            opacity: 0.9;
          }

          a {
            float: right;
            background: #f0483e;
            color: #fff;
            font-size: 10px;
            line-height: 12px;
            padding: 3px 13px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: #016be3;
            }

            img {
              width: auto;
              margin-right: 5px;
            }
          }
        }

        // &::after {
        //   content: "";
        //   background: linear-gradient(
        //     180deg,
        //     rgba(0, 0, 0, 0) 37.11%,
        //     rgba(0, 0, 0, 0.69) 78.65%
        //   );
        //   border: 1px solid #e6f0f8;
        //   height: 330px;
        //   position: absolute;
        //   z-index: 0;
        //   width: 100%;
        //   top: 0;
        //   left: 0;
        // }
      }

      .play-video {
        .video-item {
          display: block;
        }

        .testi-container {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .client-logo {
    padding-left: 84px;
    padding-top: 16px;

    .dis-flex {
      justify-content: space-between;
    }

    .logo-card {
      // padding: 20px 30px;
      max-width: 175px;

      picture {
        &:nth-child(2) {
          display: none;
        }
      }

      &:hover {
        picture {
          &:nth-child(1) {
            display: none;
          }

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }

  .glider-prev {
    top: 40%;
    left: 10px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }

  .glider-next {
    top: 40%;
    right: 10px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.client-logo {
  .logo-card {
    background: url(../images/testimonial-logo-img.svg) 0 0 no-repeat;

    &.logo1 {
      width: 210px;
      height: 73px;
      background-position: 0 0;

      &:hover {
        background-position: -176px 0;
      }
    }

    &.logo2 {
      width: 201px;
      height: 73px;
      background-position: 0px -366px;

      &:hover {
        background-position: -176px -366px;
      }
    }

    &.logo3 {
      width: 201px;
      height: 73px;
      background-position: 0 -748px;

      &:hover {
        background-position: -176px -748px;
      }
    }

    &.logo4 {
      width: 201px;
      height: 82px;
      background-position: 0 -87px;

      &:hover {
        background-position: -176px -87px;
      }
    }

    &.logo5 {
      width: 201px;
      height: 82px;
      background-position: 0 -455px;

      &:hover {
        background-position: -176px -455px;
      }
    }

    &.logo6 {
      width: 201px;
      height: 82px;
      background-position: 0 -835px;

      &:hover {
        background-position: -176px -835px;
      }
    }

    &.logo7 {
      width: 201px;
      height: 82px;
      background-position: 0 -172px;

      &:hover {
        background-position: -176px -172px;
      }
    }

    &.logo8 {
      width: 201px;
      height: 82px;
      background-position: 0 -547px;

      &:hover {
        background-position: -176px -547px;
      }
    }

    &.logo9 {
      width: 201px;
      height: 82px;
      background-position: 0 -928px;

      &:hover {
        background-position: -176px -928px;
      }
    }

    &.logo10 {
      width: 201px;
      height: 82px;
      background-position: 0 -246px;

      &:hover {
        background-position: -176px -250px;
      }
    }

    &.logo11 {
      width: 201px;
      height: 82px;
      background-position: 0 -615px;

      &:hover {
        background-position: -176px -615px;
      }
    }

    &.logo12 {
      width: 201px;
      height: 82px;
      background-position: 0 -1004px;

      &:hover {
        background-position: -176px -1004px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .clients-saying {
    .client-logo {
      padding-left: 42px;
      padding-top: 0px;
    }
  }
}

@media screen and (max-width: 991px) {
  .clients-saying {
    .client-logo {
      .logo-card {
        &.logo9 {
          background-position: 0 -918px;

          &:hover {
            background-position: -176px -918px;
          }
        }

        &.logo10 {
          background-position: 0 -256px;

          &:hover {
            background-position: -176px -260px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .clients-saying {
    .heading {
      p {
        width: 100%;
      }
    }

    .slider-client {
      width: 100%;

      .client-slider {
        .slide-item {
          .testi-container {
            iframe {
              height: 180px;
            }
          }

          video {
            height: 100%;
          }

          &::after {
            height: 100%;
          }

          .slide-content {
            bottom: 10px;
            padding: 0 40px;

            p {
              font-weight: 500;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .client-logo {
      padding-left: 25px;
      margin-top: 12px;

      .flex-3 {
        flex-basis: 50%;
        text-align: center;
      }
    }

    .glider-prev {
      width: 50px;
      top: 40%;
      left: -5px;
    }

    .glider-next {
      width: 50px;
      top: 40%;
      right: -5px;
    }
  }
}

@media screen and (min-width: 915px) and (max-width: 1023px) {
  .clients-saying {
    .client-logo {
      .dis-flex {
        justify-content: center;
      }
    }
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .clients-saying {
    .slider-client {
      width: 100%;
      flex-basis: 100%;

      .slide-item {
        video {
          height: 100%;
        }

        &:after {
          height: 100% !important;
        }
      }
    }

    .client-logo {
      padding-left: 0;
      margin-top: 20px;
      flex-basis: 100%;

      .logo-card {
        flex-basis: 25%;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1401px) {
  .clients-saying {
    .slider-client {
      .client-slider {
        .slide-item {
          video {
            height: 100%;
          }

          &::after {
            height: 100%;
          }
        }
      }
    }
  }
}
