.light-theme-grey-bg {
  background: #F2F8FB; }

.error-img-section {
  background: rgba(246, 248, 251, 0.54); }
  .error-img-section .container {
    max-width: 1390px; }
  .error-img-section .form-footer {
    padding: 0 40px;
    margin-top: 133px;
    align-items: flex-start;
    justify-content: space-between; }
    .error-img-section .form-footer .mid-block {
      flex-basis: 50%; }
      .error-img-section .form-footer .mid-block.dis-flex {
        justify-content: space-between; }
    .error-img-section .form-footer .last-block {
      flex-basis: 45%; }
      .error-img-section .form-footer .last-block li {
        margin-bottom: 20px !important; }
    .error-img-section .form-footer a {
      text-decoration: none;
      display: block;
      transition: all 0.3s ease-in-out; }
      .error-img-section .form-footer a:hover {
        opacity: 1;
        color: #253053; }
        .error-img-section .form-footer a:hover span {
          opacity: 0.8; }
    .error-img-section .form-footer span,
    .error-img-section .form-footer li,
    .error-img-section .form-footer a {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      list-style-type: none;
      opacity: 0.6;
      color: #666E86;
      margin-top: 10px; }
    .error-img-section .form-footer .title {
      display: block;
      font-weight: 500;
      transition: all 0.3s ease-in-out; }
    .error-img-section .form-footer strong {
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      opacity: 0.8; }
    .error-img-section .form-footer li,
    .error-img-section .form-footer .title {
      margin-top: 10px;
      margin-bottom: 10px; }
    .error-img-section .form-footer li {
      transition: all 0.3s ease-in-out; }
      .error-img-section .form-footer li:hover {
        opacity: 1; }
        .error-img-section .form-footer li:hover strong {
          opacity: 1; }
    .error-img-section .form-footer .flex-3 a span:hover {
      color: #253053 !important; }
    .error-img-section .form-footer .flex-3 .title {
      padding-left: 38px;
      height: 20px;
      background: url("../images/country-flags-sprite.png") 0px 0px no-repeat; }
    .error-img-section .form-footer .flex-3:nth-child(1) a span {
      color: #253053; }
    .error-img-section .form-footer .flex-3:nth-child(1) .title {
      background-position: 0 -30px; }
    .error-img-section .form-footer .flex-3:nth-child(2) .title {
      background-position: 0 -64px; }
    .error-img-section .form-footer .flex-3:nth-child(3) .title {
      background-position: 0 -100px; }
    .error-img-section .form-footer .flex-3:nth-child(4) .title {
      background-position: 0 -132px; }
    .error-img-section .form-footer .flex-3:nth-child(5) .title {
      background-position: 0 -168px; }
    .error-img-section .form-footer .flex-3:nth-child(6) .title {
      padding-left: 25px;
      background-position: 0px -202px; }

.error-img-section .content-img-box {
  background-color: #fff;
  padding-top: 90px;
  background-image: url(../images/company/thanks_bg_saddow.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 300px;
  background-size: contain; }
  .error-img-section .content-img-box .topcontent {
    padding: 0 90px; }
  .error-img-section .content-img-box .second-error-box {
    padding: 0 40px;
    margin-top: 133px; }
    .error-img-section .content-img-box .second-error-box p {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px; }
.error-img-section .content-box {
  padding-top: 28px; }
  .error-img-section .content-box h1 {
    color: #253053;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px; }
  .error-img-section .content-box h3 {
    margin-top: 10px;
    color: #016BE3;
    line-height: 33px; }
  .error-img-section .content-box h4 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.9; }
.error-img-section .img-box {
  justify-content: right;
  display: flex;
  padding-right: 140px; }
.error-img-section .para-text-content {
  margin-top: 10px; }
  .error-img-section .para-text-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #253053;
    opacity: 0.9; }
  .error-img-section .para-text-content a {
    color: #016BE3; }
.error-img-section .box-img-bottom {
  background: url(../images/company/thanks_bg_saddow.png) center bottom no-repeat;
  background-size: 100% !important; }
.error-img-section .first-box {
  flex-basis: 20%; }
  .error-img-section .first-box .email-part {
    text-decoration: underline;
    color: #253053;
    font-family: 'Noto Sans';
    margin-bottom: 5px; }
  .error-img-section .first-box p.whatsapp-bx {
    margin-top: 20px;
    opacity: 0.6; }
  .error-img-section .first-box p.whatsapp-nobx {
    opacity: 0.6;
    margin-top: 5px; }
.error-img-section .second-box {
  flex-basis: 20%;
  opacity: 0.6; }
  .error-img-section .second-box span.flag-country-nm {
    text-transform: uppercase; }
  .error-img-section .second-box .second-bx-frst-part {
    margin-bottom: 5px; }
  .error-img-section .second-box .second-bx-scond-part {
    margin-top: 11px;
    margin-bottom: 5px; }
  .error-img-section .second-box span.flag-part {
    margin-right: 10px; }
  .error-img-section .second-box p a:hover {
    color: #253053;
    opacity: 1; }
.error-img-section .third-box {
  flex-basis: 20%; }
.error-img-section .fourth-box {
  flex-basis: 40%; }
  .error-img-section .fourth-box p {
    margin-bottom: 20px;
    opacity: 0.6; }
    .error-img-section .fourth-box p span {
      font-weight: 600; }

@media only screen and (max-width: 1280px) {
  .error-img-section .content-img-box {
    padding-top: 62px;
    padding-bottom: 220px; }
    .error-img-section .content-img-box .second-error-box {
      margin-top: 80px; } }
@media only screen and (max-width: 1024px) {
  .error-img-section .first-box, .error-img-section .second-box, .error-img-section .third-box, .error-img-section .fourth-box {
    flex-basis: 25%; }
  .error-img-section .img-box {
    padding-right: 30px;
    margin-top: 27px; }
  .error-img-section .content-img-box {
    margin-top: 70px;
    padding-top: 41px;
    padding-bottom: 171px; }
    .error-img-section .content-img-box .topcontent {
      padding: 0; }
    .error-img-section .content-img-box .second-error-box {
      margin-top: 50px; } }
@media only screen and (max-width: 767px) {
  .error-img-section {
    padding-top: 60px; }
    .error-img-section .img-box {
      margin-top: 40px; }
    .error-img-section .flex-3 {
      flex-basis: 100%;
      margin-top: 20px; }
    .error-img-section .form-footer {
      margin-top: 37px; }
      .error-img-section .form-footer .last-block {
        flex-basis: 100%;
        margin-top: 30px; }
    .error-img-section .content-img-box {
      background-image: none;
      padding-bottom: 30px;
      padding-top: 0; }
      .error-img-section .content-img-box .second-error-box {
        margin-top: 0;
        padding: 0 25px; }
      .error-img-section .content-img-box .topcontent {
        padding: 0 25px; }
    .error-img-section .content-box {
      padding-top: 18px;
      padding-right: 0; }
      .error-img-section .content-box h4 {
        margin-top: 12px; }
      .error-img-section .content-box h3 {
        font-size: 18px;
        line-height: 25px; }
      .error-img-section .content-box h1 {
        font-size: 56px;
        line-height: 63px; }
    .error-img-section .img-box {
      padding-right: 0; } }

/*# sourceMappingURL=404-v2.css.map */
