
.faq {
  h2 {
    font-weight: 500;
  }
  .faq-accordion-default {
    border: 0.927304px solid #dcdcdc;
    border-radius: 6px;
    padding: 30px 25px 28px 37px;
    margin-bottom: 20px;
    .faq-accordion-content-default {
      display: block;
      opacity: 0.9;
      margin-top: 20px;
      font-size: 16px;
      line-height: 26px;
      max-height: 220px;
      overflow-y: auto;
      ul{
        list-style: disc;
        padding: 10px 25px;
        li{
          margin-bottom: 10px;
          opacity: 0.9;
          strong, b{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
            // font-weight: 500;
          }
        }
      }
      ol{
        padding: 25px;
        li{
          margin-bottom: 10px;
        }
      }
      p{
        margin-bottom: 15px;
        opacity: 0.9;
        strong, b{
          font-size: 16px;
          line-height: 26px; 
          margin-bottom: 15px;
          // font-weight: 500;
        }
      }
    }
  }
  .faq-outer {
    border: 0.927304px solid #dcdcdc;
    border-radius: 6px;
    .faq-accordion-item-outer {
      padding: 24px 30px 28px 60px;
      border-bottom: 1px solid #dcdcdc;
      .faq-accordion-toggle {
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          clear: both;
          display: block;
          background: #016be3;
          height: 3px;
          width: 15px;
          border-radius: 4px;
          position: absolute;
          left: -28px;
          top: 11px;
        }
        &:after {
          content: "";
          clear: both;
          display: block;
          background: #016be3;
          height: 15px;
          width: 3px;
          border-radius: 4px;
          position: absolute;
          left: -22px;
          top: 5px;
        }
      }
      .faq-accordion-content {
        display: none;
        p{
          margin-bottom: 15px;
          opacity: 0.9;
        }
      }
      &.active {
        .faq-accordion-toggle {
          color: #016be3;
          &::after {
            display: none;
          }
        }
        .faq-accordion-content {
          display: block;
          opacity: 0.9;
          padding-top: 20px;
          font-size: 18px;
          line-height: 140%;
          ul{
            list-style: disc;
            padding-left: 25px;
            li{
              margin-bottom: 10px;
              font-size: 16px;
              color: #666E86;
              line-height: 26px;
              opacity: 0.9;
            }
          }
          ol{
            padding: 25px;
            li{
              margin-bottom: 10px;
              font-size: 16px;
              color: #666E86;
              line-height: 26px;
              opacity: 0.9;
            }
          }
          p,li{
            font-weight: normal;
            strong, p{
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 15px;
              
            }
          }
        }
      }
    }
  }
}


.faq.faq-section {
  .faq-outer {
    .faq-accordion-item-outer {
      &:hover {
        .faq-accordion-toggle {
          color: #016be3;
          cursor: default;
          &::after {
            display: none;
          }
        }
        .faq-accordion-content {
          display: block;
          opacity: 0.9;
          padding-top: 20px;
          font-size: 18px;
          line-height: 140%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .faq {
    .faq-outer {
      .faq-accordion-item-outer {
        padding: 24px 30px 28px 40px;
        &.active {
          .faq-accordion-content {
            opacity: 1;
          }
        }
        .faq-accordion-toggle {
          &::before {
            top: 13px;
          }
          &:after {
            top: 7px;
          }
        }
      }
    }
    .faq-accordion-default {
      .faq-accordion-content-default {
        opacity: 1;
      }
    }
  }
}