/*========== Variables ==========*/
/*======BG Colors ======*/
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../fonts/NotoSans-SemiBold.woff") format("woff"), url("../fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  color: #666e86;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #253053;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #253053;
}

h4 {
  font-size: 20px;
  line-height: 25px;
  color: #253053;
}

h6 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #253053;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #666e86;
  line-height: 26px;
}

a {
  color: #666e86;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  color: #666e86;
  font-size: 16px;
  line-height: 26px;
}

.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
}

.light-theme {
  background: #f6f8fb;
}

.dark-theme {
  background: #05247e;
}

.dark-theme .heading h2 {
  color: #ffffff;
}

.dark-theme .heading h2::after {
  background: #ffffff;
}

.dark-theme .heading p {
  color: #ffffff;
}

.dark-theme .heading a {
  color: #ffffff;
}

.width-100 {
  width: 100%;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.item-end {
  align-items: flex-end;
}

.justify-sb {
  justify-content: space-between;
}

.block {
  display: block;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.flex-1 {
  flex-basis: 100%;
}

.flex-2 {
  flex-basis: 50%;
}

.flex-3 {
  flex-basis: 33.33%;
}

.flex-4 {
  flex-basis: 25%;
}

.flex-5 {
  flex-basis: 20%;
}

.padding-t-120 {
  padding-top: 120px;
}

.padding-b-120 {
  padding-bottom: 120px;
}

.margin-t-100 {
  margin-top: 100px;
}

.margin-t-80 {
  margin-top: 80px;
}

.margin-t-70 {
  margin-top: 70px;
}

.margin-t-60 {
  margin-top: 60px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.learn-more {
  color: #016be3;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.learn-more::after {
  content: "";
  background: url(../images/service/know-more-arrow-icon.png) top center no-repeat;
  position: relative;
  width: 20px;
  height: 10px;
  background-size: 100%;
  top: 0;
  left: 6px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.learn-more:before {
  content: "";
  clear: both;
  display: block;
  background: #016be3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.learn-more:hover:before {
  opacity: 1;
}

.learn-more:hover::after {
  left: 10px;
}

::placeholder {
  color: #737373;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.cmn-btn {
  color: #016be3;
  border: 1.5px solid #016be3;
  border-radius: 3px;
  background: transparent;
  font-size: 18px;
  line-height: 36px;
  display: block;
  width: 100%;
  padding: 8px 0 12px;
  margin: 30px 0 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.cmn-btn:hover {
  background-color: #016be3;
  color: #fff;
}

.white-btn {
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 5px;
  padding: 14px 50px;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  transition: 0.5s all ease-in-out;
}

.white-btn:hover {
  background-color: #fff;
  color: #016be3;
  border: 1.5px solid #fff;
}

.white-btn.blue {
  color: #016be3;
  border: 1.5px solid #016be3;
  font-weight: 500;
}

.white-btn.blue:hover {
  background-color: #016be3;
  color: #fff;
}

.white-btn.white {
  background-color: #fff;
  color: #000;
}

.white-btn.white:hover {
  background-color: #016be3;
  color: #000;
  border: 1.5px solid #016be3;
}

.heading h2 {
  position: relative;
  margin-bottom: 40px;
}

.heading h2:after {
  content: "";
  background: #016be3;
  width: 80px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -20px;
}

.heading p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 29px;
}

.get-started {
  background: #05247e;
}

.get-started h2 {
  color: #fff;
}

.get-started p {
  margin-top: 15px;
  color: #fff;
}

.get-started p:first-child {
  margin-top: 0;
}

.get-started p a {
  color: #ffffff;
}

.breadcrumbs {
  position: relative;
  top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
  font-weight: 500;
}

.breadcrumbs a {
  display: inline-block;
  position: relative;
  color: rgba(197, 197, 215, 0.61);
  padding-right: 14px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.breadcrumbs a:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  width: 6px;
  height: 10px;
  background: url(../../assets/images/breadcrumbs-arrow.png) 0 1px no-repeat;
  background-size: 100%;
}

.breadcrumbs a:hover {
  color: #fff;
}

.service-breadcrumbs {
  color: #016be3;
  margin-bottom: 30px;
}

.service-breadcrumbs a {
  color: #253053;
  transition: all 0.3s ease-in-out;
}

.service-breadcrumbs a:hover {
  color: #016be3;
}

.for-home-client-logo {
  margin-top: 20px;
}

.for-home-client-logo i {
  width: 98px;
  height: 59px;
  background: url(../images/home/home-awards-icon.svg) 0 0 no-repeat;
  display: inline-block;
  background-size: cover;
}

.for-home-client-logo i:nth-child(1) {
  background-position: 0px 0px;
}

.for-home-client-logo i:nth-child(2) {
  background-position: -101px 0px;
}

.for-home-client-logo i:nth-child(3) {
  background-position: -203px 0;
}

.for-home-client-logo i:nth-child(4) {
  background-position: -304px 0;
}

.for-home-client-logo i:nth-child(5) {
  background-position: -406px 0;
}

.body-pop {
  position: relative;
  overflow: hidden;
}

.body-pop::after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #656565;
  opacity: 0.8;
}

.free-trail-pop-up {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}

.free-trail-pop-up.open-pop {
  display: grid;
}

.free-trail-pop-up .pop-up-inner {
  background-color: #ffffff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.free-trail-pop-up .pop-close {
  text-align: right;
  display: block;
  margin: 25px 25px 25px auto;
  color: #212121;
  background: url(../images/pop-close.png) 0 0 no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.free-trail-pop-up .pop-up-box {
  padding: 30px 100px 100px;
}

.free-trail-pop-up h2 {
  color: #212121;
}

.free-trail-pop-up p {
  margin-top: 10px;
  color: #656565;
}

.free-trail-pop-up p:first-of-type {
  margin-top: 20px;
}

.free-trail-pop-up .popup-green-btn {
  margin-top: 50px;
  padding: 23px 31px;
  color: #ffffff;
  background: #60b741;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.free-trail-pop-up .popup-green-btn:hover {
  background-color: #ffb81d;
}

@media only screen and (max-width: 1780px) {
  .container {
    max-width: 1520px;
  }
}
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1380px;
  }
  .padding-t-120 {
    padding-top: 100px;
  }
  .padding-b-120 {
    padding-bottom: 100px;
  }
  .heading p {
    width: 87%;
    font-size: 16px;
    line-height: 26px;
  }
  .margin-t-100 {
    margin-top: 80px;
  }
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .margin-t-80 {
    margin-top: 60px;
  }
  .free-trail-pop-up .popup-green-btn {
    margin-top: 40px;
    padding: 14px 20px;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 10px 60px 70px;
  }
  .free-trail-pop-up .pop-close {
    margin: 20px 20px 20px auto;
  }
  .free-trail-pop-up .pop-up-inner {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1260px;
  }
  h1 {
    font-size: 34px;
    line-height: 45px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1320px) {
  .container {
    max-width: 1120px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .heading p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 1024px) {
  .padding-t-120 {
    padding-top: 60px;
  }
  .padding-b-120 {
    padding-bottom: 60px;
  }
  .flex-3 {
    flex-basis: 50%;
  }
  .margin-t-100 {
    margin-top: 60px;
  }
  .margin-t-80 {
    margin-top: 50px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tools-developer .flex-4 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .flex-4 {
    flex-basis: 50%;
  }
  .free-trail-pop-up .pop-up-inner {
    max-width: 700px;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 0 50px 50px;
  }
  .free-trail-pop-up .green-btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .padding-t-120 {
    padding-top: 40px;
  }
  .padding-b-120 {
    padding-bottom: 40px;
  }
  .container {
    max-width: 100%;
  }
  .flex-2,
  .flex-3,
  .flex-4 {
    flex-basis: 100%;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
    line-height: 35px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .margin-t-100 {
    margin-top: 40px;
  }
  .margin-t-80 {
    margin-top: 30px;
  }
  .heading h2 br {
    display: none;
  }
  .heading p {
    width: 100%;
    font-size: 18px;
  }
  .cmn-btn {
    font-size: 16px;
    line-height: 28px;
  }
  .white-btn {
    padding: 10px 30px;
    font-size: 20px;
  }
  .glider {
    overflow: hidden;
  }
  .service-breadcrumbs {
    margin-bottom: 10px;
  }
  .breadcrumbs {
    top: 0;
  }
  .free-trail-pop-up .pop-close {
    width: 14px;
    height: 14px;
    background-size: 100%;
    margin: 15px 20px 15px auto;
  }
  .free-trail-pop-up .pop-up-box {
    padding: 0 15px 30px;
  }
  .free-trail-pop-up p {
    font-size: 14px;
    line-height: 22px;
  }
  .free-trail-pop-up p:first-of-type {
    margin-top: 10px;
  }
  .free-trail-pop-up .green-btn {
    margin-top: 30px;
    padding: 12px 15px;
    font-size: 14px;
  }
}
.footer {
  padding: 40px 0 0 0;
  background: #fff;
}

.footer .flex-2:first-child .footer-item:last-child {
  margin-top: 40px;
}

.footer .flex-2:last-child {
  padding-left: 140px;
}

.footer .footer-item {
  margin-bottom: 20px;
}

.footer .footer-item h4 {
  font-weight: 600;
  color: #010101;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
}

.footer .footer-item ul {
  padding-right: 0;
}

.footer .footer-item ul li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}

.footer .footer-item ul li:last-child {
  padding-right: 0;
}

.footer .footer-item ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  transition: all 0.3s ease-in-out;
  line-height: 16px;
}

.footer .footer-item ul li a img {
  transition: all 0.3s ease-in-out;
}

.footer .footer-item ul li a .social-image {
  display: block;
  opacity: 0.9;
}

.footer .footer-item ul li a .social-image-hover {
  display: none;
}

.footer .footer-item ul li a:hover {
  color: #016BE3;
}

.footer .footer-item ul li a:hover .social-image-hover {
  display: block;
}

.footer .footer-item ul li a:hover .social-image {
  display: none;
}

.footer .footer-item ul li a:hover img {
  opacity: 1;
}

.footer .footer-item ul li:after {
  content: "|";
  position: relative;
  left: 7px;
  top: 1px;
}

.footer .footer-item ul li:last-child:after {
  display: none;
}

.footer .footer-item.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-item.social-media ul li::after {
  display: none;
}

.footer .footer-copyright {
  background: #021652;
  color: #fff;
  padding: 10px 0;
  margin-top: 20px;
}

.footer .footer-copyright .copyright-left p {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  opacity: 0.8;
}

.footer .footer-copyright .copyright-left a {
  color: #fff;
}

.footer .footer-copyright .copyright-right p {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.8;
  color: #ffffff;
}

.footer .footer-copyright .footer-right .star-outer {
  font-size: 12px;
  line-height: 20px;
}

.footer .footer-copyright .footer-right .star-icon {
  background: url(../images/company/footer-icons.png) 0 0 no-repeat;
  width: 18px;
  height: 15px;
  display: inline-block;
}

.footer .footer-copyright .footer-right .star-icon:last-child {
  margin-right: 10px;
}

.footer .footer-copyright .footer-right .star-hover .star-icon {
  background-position: -90px -28px;
  cursor: pointer;
}

.footer .footer-copyright .footer-right .one .star-icon:nth-child(1) {
  background-position: 0 0;
}

.footer .footer-copyright .footer-right .two .star-icon:nth-child(1), .footer .footer-copyright .footer-right .two .star-icon:nth-child(2) {
  background-position: 0 0;
}

.footer .footer-copyright .footer-right .three .star-icon:nth-child(1), .footer .footer-copyright .footer-right .three .star-icon:nth-child(2), .footer .footer-copyright .footer-right .three .star-icon:nth-child(3) {
  background-position: 0 0;
}

.footer .footer-copyright .footer-right .four .star-icon:nth-child(1), .footer .footer-copyright .footer-right .four .star-icon:nth-child(2), .footer .footer-copyright .footer-right .four .star-icon:nth-child(3), .footer .footer-copyright .footer-right .four .star-icon:nth-child(4) {
  background-position: 0 0;
}

.footer .footer-copyright .footer-right .five .star-icon:nth-child(1), .footer .footer-copyright .footer-right .five .star-icon:nth-child(2), .footer .footer-copyright .footer-right .five .star-icon:nth-child(3), .footer .footer-copyright .footer-right .five .star-icon:nth-child(4), .footer .footer-copyright .footer-right .five .star-icon:nth-child(5) {
  background-position: 0 0;
}

.footer .footer-copyright .footer-right .rate-us {
  border: 1px solid #ffc732;
  border-radius: 6px;
  padding: 6px 26px;
  display: inline-block;
  color: #ffc732;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.footer .footer-copyright .footer-right .rate-us:hover {
  border: 1px solid #60ac0b;
  color: #60ac0b;
}

.footer .footer-copyright .footer-right .client-outer {
  margin-top: 12px;
  font-size: 12px;
  line-height: 20px;
}

@media screen and (max-width: 1320px) {
  .footer .flex-2:last-child {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .footer .flex-2:first-child .footer-item:last-child {
    margin-top: 0;
  }
  .footer .flex-2:last-child {
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer .flex-2:last-child {
    padding-left: 0;
  }
  .footer .footer-item ul {
    padding-right: 0px;
  }
  .footer .footer-item.social-media {
    display: block;
  }
  .footer .footer-item.social-media ul {
    margin-top: 15px;
  }
  .footer .footer-copyright {
    padding: 30px 0;
  }
  .footer .footer-copyright .copyright-left {
    flex-basis: 100%;
    text-align: center;
  }
  .footer .footer-copyright .copyright-right {
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .footer .footer-copyright .footer-right .star-outer {
    font-size: 12px;
    line-height: 20px;
    margin: 20px 0;
    display: block;
    text-align: center;
  }
  .footer .footer-copyright .client-outer a {
    width: 100%;
    max-width: 120px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .footer .footer-item.social-media {
    display: block;
  }
  .footer .footer-item.social-media h4 {
    margin-bottom: 20px;
  }
  .footer .footer-copyright .copyright-left {
    width: 47%;
  }
}
body {
  background: #FFF;
}

.contact-us-section {
  position: relative;
}

.contact-us-section.full-width-form {
  padding: 30px 0;
}

.contact-us-section.full-width-form::before {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 28%;
  background: #F6F8FB;
  z-index: -1;
}

.contact-us-section.full-width-form::after {
  display: none;
}

.contact-us-section.full-width-form .footer-client-box .glider-dots {
  display: none;
}

.contact-us-section.full-width-form .footer-client-box::before {
  display: none;
}

.contact-us-section.full-width-form .form-inner {
  margin-top: 20px;
}

.contact-us-section.full-width-form .bg-voilet {
  background-color: transparent;
}

.contact-us-section.full-width-form .call-back {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}

.contact-us-section.full-width-form .head-txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.contact-us-section.full-width-form .head-txt h1 {
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
  color: #253053;
}

.contact-us-section.full-width-form .head-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

.contact-us-section.full-width-form .form-left {
  float: left;
  width: 75%;
  padding-right: 130px;
}

.contact-us-section.full-width-form .slider-right {
  position: absolute;
  right: 3%;
  float: left;
  width: 25%;
  padding: 91px 0 0 30px;
}

.contact-us-section.full-width-form .slider-right img {
  width: 100%;
}

.contact-us-section.full-width-form .slider-right .slide-item {
  margin: 50px 0 0;
}

.contact-us-section.full-width-form .slider-right p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  line-height: 23px;
  font-style: italic;
  color: #908fa1;
}

.contact-us-section.full-width-form .slider-right h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #d3d2dd;
}

.contact-us-section.full-width-form .slider-right h6 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #908fa1;
}

.contact-us-section.full-width-form .slider-right .client-head {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: block;
}

.contact-us-section.full-width-form .slider-right .client-box {
  margin-top: 0;
  position: relative;
}

.contact-us-section.full-width-form .slider-right .client-box:before {
  content: "";
  background: url(../images/quote-big.png) top center no-repeat;
  position: absolute;
  top: -5px;
  left: 0px;
  width: 36px;
  height: 32px;
  z-index: 1;
  background-size: 100%;
}

.contact-us-section.full-width-form .slider-right .client-box .client-detail {
  padding: 0;
  flex-basis: 100%;
  position: relative;
}

.contact-us-section.full-width-form .slider-right .client-box .client-detail p {
  margin: 0 0 15px;
}

.contact-us-section.full-width-form .bg-voilet {
  border-radius: 10px;
}

.contact-us-section.full-width-form .right-box {
  padding: 0 !important;
  float: none;
  width: auto;
  border-radius: 0;
}

.contact-us-section.full-width-form form {
  margin-top: 50px !important;
  display: flex;
  flex-wrap: wrap;
}

.contact-us-section.full-width-form #fileElem {
  display: none;
}

.contact-us-section.full-width-form label {
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  text-transform: capitalize;
  color: #253053;
  font-weight: 600;
}

.contact-us-section.full-width-form .form-text-cont {
  margin-bottom: 20px;
  position: relative;
}

.contact-us-section.full-width-form .form-text-cont .input-field:focus {
  outline: 0;
  border: 1px #016BE3 solid;
}

.contact-us-section.full-width-form .form-text-cont:last-child {
  margin-bottom: 0;
}

.contact-us-section.full-width-form .form-text-cont.verror small {
  color: #FF1F1F !important;
  opacity: 0.9 !important;
  display: block;
}

.contact-us-section.full-width-form .form-text-cont.verror .input-field {
  border-color: #FF1F1F;
}

.contact-us-section.full-width-form .form-text-cont.width-full .user-input:focus {
  border: 1px #016BE3 solid !important;
}

.contact-us-section.full-width-form .form-text-cont.width-full.verror .user-input {
  border-color: #FF1F1F;
}

.contact-us-section.full-width-form .form-text-cont.verror .nice-select {
  border-color: red;
}

.contact-us-section.full-width-form .form-text-cont.verror .nice-select:focus {
  border-color: red;
}

.contact-us-section.full-width-form .form-text-cont small {
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
  color: #95959f;
  opacity: 0.8;
  opacity: 0;
  z-index: -1;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.contact-us-section.full-width-form .form-text-cont:nth-child(2n) small {
  right: 0;
}

.contact-us-section.full-width-form .form-text-cont.width-full {
  position: relative;
  display: initial;
}

.contact-us-section.full-width-form .form-text-cont .lbl-row-new {
  display: inline-block;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-transform: capitalize;
}

.contact-us-section.full-width-form .form-text-cont .lbl-row {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.contact-us-section.full-width-form .form-text-cont .lbl-row .req-block {
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #95959f;
  opacity: 0.8;
}

.contact-us-section.full-width-form .input-field {
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  padding: 18px 35px 18px 18px;
  border: 0.9px solid #E0E6EA;
  width: 100%;
  color: #253053;
}

.contact-us-section.full-width-form .input-field::placeholder {
  opacity: 0.4;
  font-size: 14px;
  line-height: 19px;
}

.contact-us-section.full-width-form .input-field.input-extension {
  padding-left: 15px;
  padding-right: 15px;
  border: 0.9px solid #d9d9d9 !important;
}

.contact-us-section.full-width-form .comment-input {
  height: 85px;
}

.contact-us-section.full-width-form .comment-input:focus {
  outline: 0 !important;
  border: 0 !important;
}

.contact-us-section.full-width-form #drop-area {
  border: none;
  display: inline-block;
  position: relative;
  bottom: 0;
  padding: 0;
}

.contact-us-section.full-width-form #drop-area .button {
  background: none;
  color: #666E86;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  border: 0.5px solid #E0E6EA;
  font-size: 12px;
  border-radius: 0;
  line-height: 1.6;
  text-transform: capitalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.contact-us-section.full-width-form #drop-area .button:focus {
  background: rgba(76, 76, 76, 0.7);
  color: #fff;
}

.contact-us-section.full-width-form #drop-area small {
  margin-top: 5px;
}

.contact-us-section.full-width-form .drop-input {
  bottom: 80px;
  padding: 0 30px;
}

.contact-us-section.full-width-form .drop-box {
  border: 2px solid rgba(184, 184, 184, 0.64);
  color: #e1e1e1;
  border-radius: 8px;
  padding: 15px;
}

.contact-us-section.full-width-form .user-input.checkout {
  text-align: left;
}

.contact-us-section.full-width-form .user-input .pcode-prefix {
  position: absolute;
  top: 17px;
  left: 0;
  border: 0;
  outline: 0;
  width: 100px;
  background: none;
  padding-left: 44px;
  color: #fff;
}

.contact-us-section.full-width-form .checkout-submit {
  padding: 15px 30px;
  border-radius: 5px;
  background: #016BE3;
  color: #FFFFFF;
  border: 1px solid #016BE3;
  font-size: 16px;
  line-height: 19px;
}

.contact-us-section.full-width-form .checkout-submit:hover, .contact-us-section.full-width-form .checkout-submit:focus {
  background: #ffffff;
  color: #016BE3;
}

.contact-us-section.full-width-form #link-vc-career {
  margin-top: 20px;
  text-decoration: none;
  color: #ffffff;
  display: none;
  transition: all 0.3s ease-in-out;
}

.contact-us-section.full-width-form #link-vc-career:hover {
  color: #bdb7b7;
}

.contact-us-section.full-width-form .note {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  opacity: 0.8;
  margin-top: 15px;
}

.contact-us-section.full-width-form .trusted-logos {
  border-top: 1px solid #747474;
  padding: 44px 180px;
  display: none;
}

.contact-us-section.full-width-form .text-box {
  flex-basis: 20%;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.contact-us-section.full-width-form .width-full .user-input {
  height: 195px;
  border-radius: 10px;
  border: 0.9px solid #E0E6EA;
  padding: 15px 15px;
  background: transparent;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  height: 180px;
  margin-bottom: 30px;
  padding-right: 35px;
}

.contact-us-section.full-width-form .width-full .user-input.success::after {
  top: 27px;
}

.contact-us-section.full-width-form .width-full textarea.input-field {
  border: 0;
}

.contact-us-section.full-width-form .width-full .comment-input {
  padding: 0;
  resize: none;
}

.contact-us-section.full-width-form .width-full .custom-label {
  color: #ffffff;
  font-size: 24px;
  line-height: 42px;
  opacity: 1;
}

.contact-us-section.full-width-form .width-full small {
  right: 0;
}

.contact-us-section.full-width-form .select-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 15px;
  margin-bottom: 30px;
}

.contact-us-section.full-width-form .select-box.active a {
  opacity: 1;
}

.contact-us-section.full-width-form .select-box .select-first {
  opacity: 0.4;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.contact-us-section.full-width-form .select-box .arrow-btn {
  position: relative;
}

.contact-us-section.full-width-form .select-box .arrow-btn::after {
  content: "";
  clear: both;
  display: block;
  background: url(../images/angle-down-icon.png) 0 -46px no-repeat;
  width: 15px;
  height: 10px;
  position: absolute;
  top: 6px;
  right: 0;
  z-index: -1;
}

.contact-us-section.full-width-form .select-box .arrow-btn.rotate::after {
  transform: rotate(180deg);
}

.contact-us-section.full-width-form .select-box.input-field.verror {
  border-color: #FF1F1F;
}

.contact-us-section.full-width-form .select-box small {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.contact-us-section.full-width-form .select-list {
  position: relative;
}

.contact-us-section.full-width-form .select-list ul {
  list-style-type: none;
  background-color: #1d1c39;
  margin-top: -20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;
  box-shadow: 0px 11px 9px rgba(1, 0, 12, 0.12);
}

.contact-us-section.full-width-form .select-list ul li {
  padding: 15px 20px 10px;
  border-bottom: 1px solid #05142b;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.contact-us-section.full-width-form .select-list ul li:hover, .contact-us-section.full-width-form .select-list ul li.active {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 1;
  font-weight: 500;
}

.contact-us-section.full-width-form .select-list ul.open-close {
  display: block;
}

.contact-us-section.full-width-form .select-list ul em {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px #ffffff solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: lowercase;
}

.contact-us-section.full-width-form .select-list ul em:hover ~ .info {
  opacity: 1;
  visibility: visible;
}

.contact-us-section.full-width-form .info-box {
  display: inline-block;
}

.contact-us-section.full-width-form .info {
  position: absolute;
  top: -30px;
  display: inline-block;
  padding: 8px 15px;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  font-weight: normal;
  border: 1px #666E86 solid;
  background: #fff;
}

.contact-us-section.full-width-form .exp-skill-inner {
  background: rgba(29, 28, 57, 0.46);
  padding: 40px;
  margin-top: 10px;
}

.contact-us-section.full-width-form .select-outer {
  margin-top: 40px;
}

.contact-us-section.full-width-form .radio-button-outer .radio-box {
  margin-top: 15px;
}

.contact-us-section.full-width-form .radio-button-outer .radio-button {
  margin-right: 10px;
}

.contact-us-section.full-width-form .radio-button-outer label {
  display: inline-block;
}

.contact-us-section.full-width-form .radio-date-list {
  margin-top: 15px;
}

.contact-us-section.full-width-form .radio-date {
  margin-top: 30px;
}

.contact-us-section.full-width-form .radio-date input[type=radio] {
  cursor: pointer;
}

.contact-us-section.full-width-form .radio-date label {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  padding-left: 32px;
  opacity: 0.8;
}

.contact-us-section.full-width-form .radio-date [type=radio]:checked,
.contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.contact-us-section.full-width-form .radio-date [type=radio]:checked + label:before,
.contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 1px solid #253053;
  border-radius: 100%;
  background: transparent;
}

.contact-us-section.full-width-form .radio-date [type=radio]:checked + label:after,
.contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #a6a6a6;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.contact-us-section.full-width-form .radio-date [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contact-us-section.full-width-form .radio-date [type=radio]:checked + label {
  opacity: 1;
}

.contact-us-section.full-width-form .radio-date [type=radio]:focus ~ label:before {
  border: 1px solid #a1a1a1;
}

.contact-us-section.full-width-form .radio-date [type=radio]:focus ~ label:after {
  background: #a1a1a1;
}

.contact-us-section.full-width-form .nda-button {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-us-section.full-width-form .nda-button .info-box:hover .info {
  opacity: 1;
  visibility: visible;
}

.contact-us-section.full-width-form .nda-button .info {
  font-size: 12px;
  line-height: 20px;
  cursor: default;
  text-transform: initial;
}

.contact-us-section.full-width-form .nda-button em {
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: 1px #666E86 solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 700;
  padding-top: 2px;
  text-transform: lowercase;
}

.contact-us-section.full-width-form .nda-button input[type=checkbox] {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: transparent;
  outline: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.contact-us-section.full-width-form .nda-button label {
  color: #666E86;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: initial;
  opacity: 1;
}

.contact-us-section.full-width-form .nda-button label::before {
  content: "";
  clear: both;
  display: inline-block;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #666E86;
  border-radius: 2px;
  background: #fff !important;
  outline: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 0;
}

.contact-us-section.full-width-form .nda-button label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.contact-us-section.full-width-form .nda-button [type=checkbox]:checked + label:after {
  opacity: 1;
}

.contact-us-section.full-width-form .nda-button input:focus ~ label::before {
  background: rgba(76, 76, 76, 0.7);
}

.contact-us-section.full-width-form .cont_country_section {
  display: flex;
  flex-wrap: nowrap;
}

.contact-us-section.full-width-form .cont_country_section .row-left {
  flex-basis: 100%;
  padding-right: 0;
}

.contact-us-section.full-width-form .cont_country_section .row-right {
  flex-basis: 20%;
}

.contact-us-section.full-width-form .cont_country_section .row-right label {
  color: #fff !important;
}

.contact-us-section.full-width-form .cont_country_section .user-input {
  position: relative;
}

.contact-us-section.full-width-form .cont_country_section input.flg-input {
  padding: 16px 35px 16px 85px;
  padding-left: 120px;
}

.contact-us-section.full-width-form #vc-fstep2 {
  width: 100%;
}

.contact-us-section.full-width-form .nice-select:focus {
  border-color: #016BE3;
}

.contact-us-section.full-width-form .nice-select:focus span {
  color: #666E86;
}

.contact-us-section.full-width-form .step-head-outer {
  margin-bottom: 40px;
}

.contact-us-section.full-width-form .step-one .form-text-cont {
  flex-basis: 100%;
  padding-right: 0;
}

.contact-us-section.full-width-form .step-head {
  border-bottom: 1px solid #E0E6EA;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 15px;
  width: 100%;
}

.contact-us-section.full-width-form .step-head .req-block {
  font-size: 12px;
}

.contact-us-section.full-width-form .step-head h2 {
  color: #253053;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.contact-us-section.full-width-form .step-head span {
  font-size: 14px;
  opacity: 0.8;
}

.contact-us-section.full-width-form .step-head.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-us-section.full-width-form .step-head.contact-info .edit-txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #95959f;
  opacity: 0.5;
}

.contact-us-section.full-width-form .form-text-selected {
  flex-basis: 50%;
  margin-top: 5px;
  opacity: 0.8;
  display: flex;
  padding-right: 10px;
}

.contact-us-section.full-width-form .form-text-selected:nth-child(2n) {
  padding-right: 0;
}

.contact-us-section.full-width-form .form-text-selected label {
  margin: 0;
  display: inline-block;
  flex-basis: 40%;
}

.contact-us-section.full-width-form .form-text-selected .user-input-selected {
  display: inline-block;
  padding-left: 10px;
  background: none;
  opacity: 0.6;
  outline: 0;
  border: 0;
  font-size: 14px;
  flex-basis: 60%;
}

.contact-us-section.full-width-form .form-text-selected.sml-col label {
  max-width: 100px;
}

.contact-us-section.full-width-form .nxt-btn-box {
  flex-basis: 100%;
}

.contact-us-section.full-width-form .nxt-btn {
  font-size: 16px;
  line-height: 22px;
  background: #016BE3;
  color: #fff;
  padding: 16px 40px;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
  text-decoration: none;
  font-family: "Noto Sans";
  border: 1px solid #016BE3;
}

.contact-us-section.full-width-form .nxt-btn:hover, .contact-us-section.full-width-form .nxt-btn:focus {
  background-color: #ffffff;
  text-decoration: none;
  color: #016BE3;
}

.contact-us-section.full-width-form .step-info-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto 30px;
}

.contact-us-section.full-width-form .step-info-box::before {
  content: "";
  clear: both;
  display: block;
  background: #ababab;
  height: 0.5px;
  width: 70%;
  position: absolute;
  top: 20%;
  left: 10px;
  right: 0;
  margin: 0 auto;
}

.contact-us-section.full-width-form .step-info-box .step-box {
  text-align: center;
  cursor: pointer;
}

.contact-us-section.full-width-form .step-info-box .num {
  width: 38px;
  height: 38px;
  background: #6e6d86;
  border-radius: 50%;
  color: #2f2e41;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0 auto;
}

.contact-us-section.full-width-form .step-info-box .step-info {
  margin-top: 10px;
  display: block;
  color: #6e6d86;
}

.contact-us-section.full-width-form .step-info-box .step-active .num {
  background: #ffffff;
  color: #444444;
}

.contact-us-section.full-width-form .step-info-box .step-active .step-info {
  color: #ffffff;
}

.contact-us-section img {
  max-width: 100%;
  height: auto;
}

.contact-us-section .gal-loader {
  position: relative;
  padding: 20px;
  margin-bottom: 15px;
  display: none;
}

.contact-us-section .gal-loader.show-me {
  display: block;
  min-height: 100px;
}

.contact-us-section .loader {
  border: 5px solid #9f9f9f;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 50%;
  display: none;
}

.contact-us-section #gallery {
  margin-bottom: 15px;
}

.contact-us-section #gallery div {
  display: inline-flex;
  margin-right: 10px;
  vertical-align: baseline;
  align-items: flex-start;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.contact-us-section #gallery div button, .contact-us-section #gallery div a {
  text-decoration: none;
  background: #ffb81d;
  padding: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  right: 0;
  cursor: pointer;
  border: 0;
}

.contact-us-section #gallery img {
  width: auto;
  height: 54px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.contact-us-section #file-type-error {
  font-size: 13px;
  color: #dc0019;
  margin-bottom: 10px;
}

.page-template-template-contact-v3 .contact-us-section.full-width-form .head-txt {
  display: block;
}

.page-template-template-contact-v3 .contact-us-section.full-width-form .form-text-cont.cont_country_section {
  display: block !important;
}

.page-template-template-contact-v3 .contact-us-section.full-width-form .form-text-cont.width-full {
  display: block;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont {
  flex-basis: 50%;
  margin-bottom: 35px;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont:nth-child(2n-1) {
  padding-right: 35px;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont.width-full {
  flex-basis: 100%;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont.step-one-select {
  flex-basis: 100%;
  padding-right: 0;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont .user-input {
  position: relative;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .row-left {
  flex-basis: 100%;
  padding-right: 0;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items.has-item {
  display: block;
  height: 170px;
  overflow-y: auto;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.43);
  background: #fff;
  border-radius: 5px;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items.has-item div {
  border: 1px solid #E0E6EA;
  color: #666E86;
  border: 1px solid #E0E6EA;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 15px 20px;
}

.contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items.has-item div.autocomplete-active, .contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items.has-item div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.header-two.sc-down .small {
  opacity: 1;
}

.header-two.sc-down .large {
  opacity: 0;
}

.header-two.sc-up {
  background: #282747;
}

.header-two.sc-up .large {
  opacity: 0;
}

.header-two.sc-up .header-item-center {
  opacity: 0;
}

.header-two .small {
  opacity: 1;
}

.header-two .large {
  opacity: 0;
}

.header-two.header-bg .header-item-center {
  opacity: 0;
}

.header-two.header-bg.sc-up {
  background: #282747;
}

.header-two.header-bg.sc-up .header-item-center {
  opacity: 0;
}

.header-two .header-item-center {
  opacity: 0;
}

.header-two:hover {
  background: #282747;
}

.header-two:hover.sc-down .large {
  opacity: 1;
}

.header-two:hover .large {
  opacity: 1;
}

.header-two:hover.sc-down .small {
  opacity: 0;
}

.header-two:hover .small {
  opacity: 0;
}

.header-two:hover .header-item-center {
  opacity: 1;
}

.header-two .menu ul li.contact-nav a:hover {
  background-color: #ffb81d;
}

.header-two .menu ul li .menu-mega {
  box-shadow: 0 5px 5px #d8d8d8;
}

.header-two .first-inner a {
  color: #6d6d6d;
}

.header-two .inner-list a {
  color: #6d6d6d;
}

.form-footer-section {
  background: rgba(246, 248, 251, 0.54);
  padding: 10px 0 30px;
}

.form-footer-section .container {
  max-width: 1390px;
}

.form-footer-section .form-footer {
  padding: 0;
  align-items: flex-start;
  justify-content: space-between;
}

.form-footer-section .form-footer .mid-block {
  flex-basis: 50%;
}

.form-footer-section .form-footer .mid-block.dis-flex {
  justify-content: space-between;
}

.form-footer-section .form-footer .last-block {
  flex-basis: 45%;
}

.form-footer-section .form-footer a {
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in-out;
}

.form-footer-section .form-footer a:hover {
  opacity: 1;
  color: #253053;
}

.form-footer-section .form-footer a:hover span {
  opacity: 0.8;
}

.form-footer-section .form-footer span,
.form-footer-section .form-footer li,
.form-footer-section .form-footer a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
  opacity: 0.6;
  color: #666E86;
  margin-top: 10px;
}

.form-footer-section .form-footer .title {
  display: block;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.form-footer-section .form-footer strong {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.form-footer-section .form-footer li,
.form-footer-section .form-footer .title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-footer-section .form-footer li {
  transition: all 0.3s ease-in-out;
}

.form-footer-section .form-footer li:hover {
  opacity: 1;
}

.form-footer-section .form-footer li:hover strong {
  opacity: 1;
}

.form-footer-section .form-footer .flex-3 a span:hover {
  color: #253053 !important;
}

.form-footer-section .form-footer .flex-3 .title {
  padding-left: 38px;
  height: 20px;
  background: url("../images/country-flags-sprite.png") 0px 0px no-repeat;
}

.form-footer-section .form-footer .flex-3:nth-child(1) a span {
  color: #253053;
}

.form-footer-section .form-footer .flex-3:nth-child(1) .title {
  background-position: 0 -30px;
}

.form-footer-section .form-footer .flex-3:nth-child(2) .title {
  background-position: 0 -64px;
}

.form-footer-section .form-footer .flex-3:nth-child(3) .title {
  background-position: 0 -100px;
}

.form-footer-section .form-footer .flex-3:nth-child(4) .title {
  background-position: 0 -132px;
}

.form-footer-section .form-footer .flex-3:nth-child(5) .title {
  background-position: 0 -168px;
}

.form-footer-section .form-footer .flex-3:nth-child(6) .title {
  padding-left: 25px;
  background-position: 0px -202px;
}

.footer {
  padding: 0;
}

.footer .footer-copyright {
  margin-top: 0;
}

@media screen and (min-width: 2110px) {
  .contact-wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
  }
}
@media only screen and (min-width: 1800px) {
  .contact-us-section.full-width-form .container {
    max-width: 1680px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-two.header-bg.sc-up .header-item-center {
    opacity: 1;
  }
  .header-two .large {
    opacity: 1;
  }
  .header-two.sc-up .large {
    opacity: 1;
  }
  .header-two .menu ul li .menu-mega {
    box-shadow: none;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .contact-us-section.full-width-form .user-input .pcode-prefix {
      top: 19px;
    }
  }
}
@media only screen and (min-width: 1601px) {
  .contact-us-section.full-width-form .right-box {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1800px) {
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1600px) {
  .contact-us-section.full-width-form form {
    margin-top: 70px;
  }
  .contact-us-section.full-width-form .slider-right {
    padding: 104px 0 0 30px;
  }
  .contact-us-section.full-width-form .right-box {
    padding: 70px 0;
  }
  .contact-us-section.full-width-form .width-full .custom-label {
    font-size: 20px;
    line-height: 36px;
  }
  .contact-us-section.full-width-form .step-info-box .num {
    width: 28px;
    height: 28px;
    font-size: 15px;
  }
  .contact-us-section .padding-b-150 {
    padding-bottom: 50px;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont {
    margin-bottom: 20px;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont:nth-child(2n-1) {
    padding-right: 20px;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont.step-one-select {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .form-footer-section .container {
    max-width: 1240px;
  }
  .form-footer-section .form-footer span,
  .form-footer-section .form-footer li,
  .form-footer-section .form-footer a {
    font-size: 12px;
  }
  .contact-us-section.full-width-form .slider-right {
    padding: 90px 0 0 20px;
  }
  .contact-us-section.full-width-form .input-field {
    padding: 12px 35px 12px 18px;
  }
  .contact-us-section.full-width-form label {
    font-size: 13px;
    margin-bottom: 7px;
  }
  .contact-us-section.full-width-form .head-txt h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .contact-us-section.full-width-form .form-text-selected.sml-col label {
    max-width: 80px;
  }
}
@media only screen and (max-width: 1280px) {
  .contact-us-section {
    padding-top: 50px;
  }
  .contact-us-section.full-width-form:before {
    width: 29%;
  }
  .contact-us-section.full-width-form form {
    margin-top: 35px !important;
  }
  .contact-us-section.full-width-form form .input-field {
    padding: 10px 35px 10px 18px;
  }
  .contact-us-section.full-width-form form .nice-select {
    padding: 10px 35px 10px 18px !important;
  }
  .contact-us-section.full-width-form .form-left {
    padding-right: 90px;
  }
  .contact-us-section.full-width-form .slider-right .client-head {
    margin-bottom: 20px;
  }
  .contact-us-section.full-width-form .slider-right .slide-item {
    margin: 30px 0 0;
  }
  .contact-us-section.full-width-form .slider-right .slide-item p {
    font-size: 13px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact-us-section.full-width-form .input-field {
    padding: 16px 25px 16px 18px;
  }
  .contact-us-section.full-width-form .cont_country_section input.flg-input {
    padding: 16px 25px 16px 62px;
    padding-left: 120px;
  }
  .contact-us-section.full-width-form .cont_country_section .row-left {
    flex-basis: 75%;
    padding-right: 10px;
  }
  .contact-us-section.full-width-form .cont_country_section .row-right {
    flex-basis: 25%;
  }
}
@media only screen and (max-width: 991px) {
  .form-footer-section {
    padding: 30px 0;
  }
  .form-footer-section .form-footer .left-block {
    flex-basis: 50%;
  }
  .form-footer-section .form-footer .mid-block {
    flex-basis: 100%;
  }
  .form-footer-section .form-footer .mid-block .flex-3 {
    flex-basis: 48%;
    margin: 0 0 15px;
  }
  .form-footer-section .form-footer .mid-block .flex-3 .title {
    margin: 5px 0;
  }
  .form-footer-section .form-footer .last-block {
    flex-basis: 100%;
  }
  .contact-us-section.full-width-form {
    margin-top: 0;
    padding-top: 25px;
  }
  .contact-us-section.full-width-form::before {
    display: none;
  }
  .contact-us-section.full-width-form .form-left {
    width: 100%;
  }
  .contact-us-section.full-width-form .right-box {
    padding: 60px 0;
  }
  .contact-us-section.full-width-form .slider-right {
    width: 100%;
    padding: 20px 30px;
    position: static;
  }
  .contact-us-section.full-width-form form {
    margin-top: 50px !important;
  }
  .contact-us-section.full-width-form .trusted-logos {
    padding: 40px;
  }
  .contact-us-section.full-width-form .user-input.checkout {
    text-align: left;
  }
  .contact-us-section.full-width-form .head-txt h1 {
    font-size: 34px;
    line-height: 30px;
  }
  .contact-us-section.full-width-form .head-txt p {
    margin-top: 5px;
  }
  .contact-us-section.full-width-form .drop-box {
    padding: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .form-footer-section .form-footer {
    margin-top: 0;
  }
  .form-footer-section .form-footer li,
  .form-footer-section .form-footer .title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .contact-us-section.full-width-form .step-head {
    margin-bottom: 23px;
  }
  .contact-us-section.full-width-form .slider-right {
    padding: 20px 15px;
    margin-top: 0;
  }
  .contact-us-section.full-width-form .slider-right::before {
    display: none;
  }
  .contact-us-section.full-width-form .right-box {
    padding: 30px 0;
  }
  .contact-us-section.full-width-form form {
    margin-top: 30px !important;
  }
  .contact-us-section.full-width-form .form-left {
    padding-right: 0;
  }
  .contact-us-section.full-width-form .head-txt {
    align-items: center;
  }
  .contact-us-section.full-width-form .head-txt h1 {
    font-size: 24px;
  }
  .contact-us-section.full-width-form .head-txt p {
    font-size: 14px;
  }
  .contact-us-section.full-width-form .input-field {
    padding: 12px 25px 12px 12px;
    border-radius: 5px;
  }
  .contact-us-section.full-width-form #drop-area .button {
    padding: 5px 6px;
    font-size: 10px;
  }
  .contact-us-section.full-width-form .drop-input {
    bottom: 50px;
    padding: 0 15px;
  }
  .contact-us-section.full-width-form .trusted-logos {
    padding: 30px 15px;
  }
  .contact-us-section.full-width-form .text-box {
    flex-basis: 100%;
    font-size: 16px;
  }
  .contact-us-section.full-width-form .checkout-submit {
    padding: 15px 20px;
    font-size: 15px;
  }
  .contact-us-section.full-width-form .note {
    font-size: 12px;
  }
  .contact-us-section.full-width-form .select-box {
    padding-right: 15px;
  }
  .contact-us-section.full-width-form .select-list ul em:hover ~ .info {
    left: 0;
  }
  .contact-us-section.full-width-form .form-text-cont {
    margin-bottom: 25px;
  }
  .contact-us-section.full-width-form .form-text-cont small {
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 0;
    font-size: 10px;
  }
  .contact-us-section.full-width-form .cont_country_section input.flg-input {
    padding: 12px 25px 12px 62px;
    padding-left: 115px;
  }
  .contact-us-section.full-width-form .user-input .pcode-prefix {
    top: 15px;
  }
  .contact-us-section.full-width-form .form-text-selected {
    flex-basis: 100%;
    padding-right: 0;
  }
  .contact-us-section.full-width-form .form-text-selected .user-input-selected {
    padding-left: 5px;
    font-size: 12px;
    flex-basis: 74%;
  }
  .contact-us-section.full-width-form .form-text-selected label {
    flex-basis: 26%;
  }
  .contact-us-section.full-width-form .form-text-selected.sml-col label {
    max-width: 100%;
  }
  .contact-us-section.full-width-form .nda-button label {
    font-size: 14px;
  }
  .contact-us-section.full-width-form .nda-button label::before {
    width: 15px;
    height: 15px;
  }
  .contact-us-section.full-width-form .nda-button label::after {
    left: 6px;
    top: 4px;
    width: 4px;
    height: 9px;
  }
  .contact-us-section.full-width-form .nda-button .info {
    width: 100%;
    left: 0;
    top: 30px;
  }
  .contact-us-section.full-width-form .radio-date-list {
    margin-top: 10px;
  }
  .contact-us-section.full-width-form .radio-date label {
    line-height: 20px;
    padding-left: 26px;
  }
  .contact-us-section.full-width-form .radio-date [type=radio]:checked + label:before,
  .contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) + label:before {
    width: 14px;
    height: 14px;
    top: 2px;
  }
  .contact-us-section.full-width-form .radio-date [type=radio]:checked + label:after,
  .contact-us-section.full-width-form .radio-date [type=radio]:not(:checked) + label:after {
    width: 8px;
    height: 8px;
    top: 6px;
  }
  .contact-us-section.full-width-form .step-head h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .contact-us-section.full-width-form .step-head span {
    font-size: 12px;
  }
  .contact-us-section.full-width-form .step-info-box {
    margin-bottom: 15px;
  }
  .contact-us-section.full-width-form .step-info-box::before {
    width: 55%;
    left: 5px;
  }
  .contact-us-section.full-width-form .step-info-box .step-info {
    margin-top: 5px;
    font-size: 12px;
  }
  .contact-us-section.full-width-form .step-info-box .num {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .contact-us-section.full-width-form label {
    font-size: 12px;
  }
  .contact-us-section.full-width-form .width-full .user-input {
    height: 190px;
  }
  .contact-us-section.full-width-form .nxt-btn-box {
    margin-top: 30px;
  }
  .contact-us-section.full-width-form .form-text-cont .lbl-row-new {
    margin-top: 20px;
  }
  .contact-us-section.full-width-form .form-text-cont small {
    position: relative;
    bottom: -2px;
    float: left;
    width: 100%;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont:nth-child(2n-1) {
    padding-right: 0;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .form-text-cont.step-one-select {
    padding-right: 0;
  }
  .contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items {
    top: 52px;
  }
  .logo img {
    max-width: 230px;
  }
}


/*# sourceMappingURL=contact.css.map */
