.testimonial-section {
  .testlider {
    width: 100%;
    .slide-item {
      display: flex;
    }
    .glide__slides {
      white-space: normal !important;
    }
    .test-row {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .cust-img-box {
        flex-basis: 40%;
        img{width:100%;}
      }
      .client-videos {
        flex-basis: 40%;
        position: relative;
        .client-video-box {
          position: relative;
        }
        iframe {
          border: 0;
          height: 328px;
          width: 536px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 20px;
          display:none;
        }
        .frame-mask {
          display: block;
          height:100%;
          width: 100%;
          position: relative;
          border-radius: 20px;
          img {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 20px;
          }
          .playBtn {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            z-index: 9;
            height: 100%;

            cursor: pointer;
          }
          .playsc {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            width: 58px;
            height: 58px;
            border-radius: 50%;
            margin: 0 auto;
            transition: 0.4s ease-in-out;
            &::before {
              content: "";
              position: absolute;
              top: -11px;
              left: -10px;
              width: 78px;
              height: 78px;
              border-radius: 50%;
              background: $royelblue;
              opacity: 0.5;
              transition: 0.4s ease-in-out;
            }

            .playicon {
              width: 100%;
              height: 100%;
              background: url(../images/playicon.svg) center center/contain
                no-repeat;
              position: absolute;
              top: 0;
              left: 0;
              cursor: pointer;
              z-index: 1;
              transition: 0.4s ease-in-out;
            }

            &:hover .playicon {
              top: 10px;
              transition: 0.4s ease-in-out;
            }

            &:hover {
              &:before {
                width: 85px;
                height: 85px;
                left: -13px;
                top: -5px;
                transition: 0.4s ease-in-out;
              }
            }
          }
        }
      }
      .content-box {
        flex-basis: 54%;
        position: relative;
        p {
          margin: 0 0 20px;
          line-height: 160%;
        }
        h5 {
          margin: 30px 0 5px;
          color: #3f3f3f;
          font-weight: 500;
          font-size: 20px;
        }
        span {
          font-size: 16px;
          font-weight: 300;
          display: block;
          margin: 0 0 10px;
        }
        .star-image {
          width: 96px;
          height: 17px;
          background: url(../images/star-image.png) center center no-repeat;
          background-size: 100%;
        }
        &::before {
          content: "";
          display: block;
          width: 115px;
          height: 100px;
          background: url(../images/dble-quote.png) center center no-repeat;
          border-radius: 50%;
          position: absolute;
          top: -50px;
          left: -25px;
        }
      }
    }

    .glide__bullets {
      display: flex;
      justify-content: center;
      margin: 50px 0 0;
      gap: 30px;
    }

    .glide__bullet {
      position: relative;
      display: flex;
      flex-basis: 33.33%;
      padding: 20px;
      border: 0;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid rgba(5, 22, 77, 0.04);

      background: #fcfcfc;

      .btnsec {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -15px;
          width: 100%;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 4px;
          display: block;
          border-radius: 20px;
          background-color: #e8e6e6;
          transition: transform 5s;
        }

        .btnimg {
          width: 69px;
          img {
            width: 69px;
            height: 69px;
            border-radius: 100%;
          }
        }
        .btncont {
          margin-left: 15px;
          text-align: left;
          p {
            font-weight: 300 !important;
            color: #666;
            margin:0;
          }
          h3{font-weight: 500; font-family: 'Rubik';}
        }
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 21px;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 4px;
        display: block;
        border-radius: 20px;
        background: #e8e6e6;
        opacity: 0;
        transform: translateX(-100%);
        background-color: $royelblue;
        transition: transform 5s;
        z-index: 9;
      }
    }

    .glide__bullet--active {
      background: $white;
      &:before {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .arw {
      width: 26px;
      height: 26px;
      background-size: 100%;
      background: url(../images/left-arw.png) no-repeat;
      position: absolute;
      bottom: 60px;
      left: -55px;
      font-size: 0;
      border: 0;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      &:hover{opacity:0.8}
    }
    .test-player{display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 68%;
      border-radius: 15px;
      z-index: 99;}
  }

  .right {
    left: auto !important;
    right: -55px;
    transform: rotate(180deg);
  }
  .popup-section{
    .popup-wrapper{
      .popup-content{max-width: 800px; width:100%;     padding: 0;
      
      iframe{width: 100%;
        height: 480px;}
        .closeicon{cursor: pointer;
          position: absolute;
          right: -7px;
          top: -10px;
          background: #fff;
          width: 30px;
          height: 29px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;}
      }

      
      }
      
  }  
}

@media only screen and (max-width: 1366px) {
  .testimonial-section {
    .testlider {
      .arw {
        left: -35px;
        background-size: 20px;
      }

      .glide__bullets {
        gap: 20px;
      }
  
      .glide__bullet {
        padding: 15px;
        .btnsec {
  
          .btnimg {
            width: 50px;
            img {
              width: 50px;
              height: 50px;
             
            }
          }
          .btncont {
            margin-left: 12px;
           
            p {
              font-size: 14px;;
            }
          }
        }
  
        &:before {
          bottom: 16px;
        }
      }
  
    }
    .right {
      right: -35px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .testimonial-section {
    .testlider {
      .glide__bullets {
        margin: 30px 0 0;
        gap: 0;
      }

      .glide__bullet {
        width: 12px;
        height: 12px;
        margin: 0 6px;
        flex-basis: auto;
        padding: 0;
        background: #e8e6e6;
        border-radius: 100%;
        cursor: pointer;

        .btnsec {
          display: none;
        }

        &:before {
          display: none;
        }
      }

      .glide__bullet--active {
        background: $yellow;
      }
      .arw {
        display: none;
      }
    }
    .right {
      right: -20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .testimonial-section .testlider .test-player{height:100%;}

}

@media only screen and (max-width: 991px) {
  .testimonial-section {
    .testlider {
      .test-row {
        .content-box {
          &:before {
            width: 95px;
            height: 100px;
            top: -28px;
            left: -15px;
          }
        }
      }
    }
    .popup-section{
      .popup-wrapper{
        .popup-content{max-width:90%;
        iframe{width: 100%;
          height:340px;}
        }
        }
        
    }
  }
}

@media only screen and (max-width: 767px) {
  .testimonial-section {
    .testlider {
      .test-row {
        .cust-img-box {
          flex-basis: 100%;
        }
        .client-videos {
          flex-basis: 100%;
        }
        .content-box {
          flex-basis: 100%;
          margin: 20px 0 0;
          text-align: center;
          p {
            margin: 0 0 15px;
          }
          h5 {
            margin: 20px 0 5px;
            font-size: 18px;
          }
          span {
            font-size: 14px;
          }
          .star-image {
            margin: 0 auto;
          }
          &::before {
            display: none;
          }
        }
      }
      .test-player{width:308px; height: 220px;}
    }
  }
}