.image-content {
  .outer-box {
    .image-box {
    }
    .content-box {
      flex-basis: 40%;
      h3 {
        margin: 35px 0 10px;
        position: relative;
      }
      ul {
        li {
          margin: 10px 0 0;
          position: relative;
          padding-left: 20px;
          margin-top: 10px;
          font-weight: 400;
          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: $royelblue;
            position: absolute;
            left: 0px;
            border-radius: 50%;
            top: 8px;
          }
        }
      }
      .dotted-heading {
        h3 {
          padding-left: 18px;
          &:before {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            left: 0;
            top: 9px;
            background: $royelblue;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .image-content {
    .outer-box {
      .image-box {
        margin:20px 0;
      }
      .content-box {
        flex-basis:100%;
        h3 {
          margin: 30px 0 10px;
        }
        .dotted-heading {
          h3 {
            &:before {
              top: 6px;
            }
          }
        }
      }
    }
  }
}
