.table-list-section {
  .col-box-outer {
    border: 1px solid #e2eeff;
    border-radius: 20px;
    overflow: hidden;
    border-right: 0;
  }
  .table-list {
    .title {
      font-size: 18px;
      font-weight: 500;
      min-height: 80px;

      .sub-title {
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: 100%;
        opacity: 0.8;
        line-height: 1;
      }
      &.pxttl {
        background: $royelblue;
        color: $white;
      }
    }
    .opacity-0 {
      p {
        opacity: 0;
        margin: 0;
      }
    }

    li {
      border-bottom: 1px solid #e2eeff;
      border-right: 1px solid #e2eeff;
      background: $white;
      padding: 20px 30px;
      list-style: none;
      text-align: center;
      min-height: 120px;
      display: flex;
      color: $arsenic-dark;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &:nth-child(n + 7) {
        display: none;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:nth-child(2n) {
        background: #fbfcff;
      }
    }
    .ts {
      color: $royelblue;
      display: block;
      &:hover {
        text-decoration: underline;
        color: #414141;
      }
    }
    .gtstart {
      color: $royelblue;
      border: 1px solid $royelblue;
      border-radius: 5px;
      border-radius: 5px;
      padding: 10px 20px;
      display: inline-block;
      font-size: 18px;
      line-height: initial;
      transition: 0.5s all ease-in-out;
      min-width: 147px;
      font-weight: 500;
      z-index: 9;
      &:hover {
        background: $royelblue;
        color: $white;
      }
    }
    &:first-child {
      ul {
        li {
          text-align: left;
          padding-left: 20px;
          justify-content: flex-start;
          font-weight: 500;
          color: $arsenic-dark;
        }
      }
    }
    .more-spc {
      padding: 40px 30px;
    }
  }
  .view-more {
    position: absolute;
    bottom: 260px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    
  }

  &.show-all {
    .table-list {
      li {
        &:nth-child(n) {
          display: flex;
        }
      }
    }
  }

}


@media only screen and (max-width: 1600px) {
  .table-list-section {
    .table-list {
      ul {
        li {
          padding: 20px 18px;
        }
      }
      .more-spc {
        padding: 40px 18px;
      }
    }
    .view-more {
      bottom: 245px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .table-list-section {
    .table-list {
      ul {
        li {
          padding: 20px 18px;
          min-height: 145px;
        }
      }
      .more-txt {
        //min-height: 145px;
      }
      .more-spc {
        padding: 40px 18px;
      }
    }
    .view-more {
      bottom: 265px;
    }
  }
}

@media only screen and (max-width: 1380px) {
  .table-list-section {
    .table-list {
      ul {
        li {
          padding: 20px 18px;
          min-height: 145px;
        }
      }
      &:first-child {
        ul {
          li {
            padding-left: 11px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .table-list-section {
    .table-list {
      .title {
        font-size: 16px;
        min-height: 50px;
      }

      li {
        font-size: 14px;
        line-height: 26px;
        padding: 15px 15px;
        min-height: 94px;
      }

      .gtstart {
        font-size: 16px;
        min-width: 100px;

        &:first-child {
          ul {
            li {
              padding-left: 10px;
            }
          }
        }
        .more-spc {
          padding: 40px 30px;
        }
      }
    }
    .view-more {
      bottom: 225px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .table-list-section {
    .table-list {
      .more-spc {
        padding: 20px 15px;
      }
      .title {
        font-size: 16px;
        min-height: 90px;
        line-height: 24px;
      }
      .more-txt {
        min-height: 200px;
      }
      ul {
        li {
          font-size: 13px;
          line-height: 24px;
          padding: 12px 10px;
          min-height: 120px;
        }
      }

      &:first-child {
        ul {
          li {
            padding-left: 10px;
          }
        }
      }

      .gtstart {
        font-size: 13px;

        &:first-child {
          ul {
            li {
              padding-left: 10px;
            }
          }
        }
      }
    }
    .view-more {
      bottom: 200px;
    }
  }
}

@media only screen and (max-width: 790px) {
  .table-list-section {
    .table-wrap {
      position: relative;
      overflow-x: auto;
      .col-box-outer {
        overflow: scroll;
        width: 500px;
        flex-wrap: nowrap;
      }
      .table-list {
        .title {
          font-size: 14px;
          line-height: 24px;
        }
        .gtstart {
          padding: 10px 10px;
        }
      }
    }
    .view-more {
      bottom: 210px;
    }
  }
}

@media only screen and (max-width: 767px) {
}
