@import "_default";
@import "footer";
@import "_client-logo";
@import "_glide-core";

.contact-us-section {
  position: relative;
  background: $gradient-bg;

  .contact-logo {
    display: block;
    padding: 15px 0;
  }
  .left-box {
    flex-basis: 40%;

    p {
      margin: 30px 0 0;
      color: $white;
      font-weight: 300;
      opacity: 0.7;
      font-size: 18px;
      line-height: 29px;
      a {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
      }
    }

    .row-box {
      .col-box {
        margin: 40px 0 0;
        align-items: center;
        .icon {
          flex-basis: 8%;
        }
        .desp {
          flex-basis: 92%;
          padding-left: 10px;
          h4 {
            color: $white;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            margin: 5px 0 0;
            line-height: 1.2;
          }
        }
      }
    }

    .slide-logo {
      padding: 80px 0 0;

      .logo-section {
        width: 500px;
        padding: 0;
        border: 0;
      }
      .glide__slides {
        align-items: center;
      }
    }
  }

  .right-box {
    flex-basis: 47%;

    position: relative;
    &:before {
      content: "";

      width: 457px;
      height: 90%;
      border-radius: 0 0 25px 25px;
      background: url(../images/bg-shape.png) 0 0 no-repeat;
      position: absolute;
      top: -14px;
      left: -14px;
    }

    .form-wrap {
      background: #ffffff;
      border-radius: 20px;
      z-index: 1;
      position: relative;

      .form-top {
        padding: 35px 35px 20px;
        background: rgba(248, 249, 250, 1);
        border-radius: 20px 20px 0 0;
        h2 {
          font-weight: 700;

          margin: 0 0 5px;
          font-size: 32px;
          line-height: 38px;
        }

        p {
          font-size: 14px;
          color: rgba(32, 32, 32, 0.9);
          line-height: 1.3;
        }

        .soc-box {
          color: rgba(32, 32, 32, 1);
          font-size: 14px;
          a {
            display: flex;
            align-items: center;
            padding-left: 20px;
            position: relative;
            &:hover {
              text-decoration: underline;
              color: $black;
            }
            &:first-child {
              padding: 0;
              &:before {
                display: none;
              }
            }
            i {
              margin-right: 10px;
              img {
                vertical-align: middle;
              }
            }

            &:before {
              content: "";
              width: 1px;
              height: 25px;
              position: absolute;
              left: 9px;
              top: -2px;
              background: rgba(65, 65, 65, 0.3);
            }
          }
        }
      }

      &:before {
        content: "";

        width: 155px;
        height: 139px;
        background: url(../images/awd-image.png) 0 0 no-repeat;
        position: absolute;
        top: -25px;
        right: 30px;
      }
    }

    .form-bottom {
      padding: 0 35px 35px;
    }

    .form-box {
      margin: 30px 0 0;

      .form-text-cont {
        flex-basis: 48%;
        margin-bottom: 18px;
        position: relative;

        &.width-full {
          flex-basis: 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }
        label {
          color: rgba(40, 54, 70, 1);
          font-size: 15px;
          font-weight: 500;
          margin: 0 0 8px;
          display: block;
        }
        .input-field {
          font-size: 15px;

          padding: 0 15px;
          height: 46px;
          border-radius: 8px;
          background: rgba(248, 249, 250, 1);
          border: 1px solid rgba(236, 238, 240, 1);
          width: 100%;
          color: rgba(79, 90, 104, 1);
          font-family: "Rubik";

          &::placeholder {
            font-size: 14px;
            color: rgba(79, 90, 104, 0.7);
          }

          &:focus {
            outline: #253053;
            border: 0;
            border: 1px solid #253053;
          }
        }

        small {
          font-size: 11px;
          line-height: 12px;
          text-transform: capitalize;
          color: #95959f;
          display: none;
          float: left;
          width: 100%;
          margin-top: 5px;
        }

        &.verror {
          small {
            color: #ff1f1f;
            display: block;
          }
          .input-field {
            border-color: #ff1f1f;
          }
        }

        .comment-input {
          height: 100px;
          padding: 15px;
          &:focus {
            outline: #253053;
            border: 0;
            border: 1px solid #253053;
          }
        }

        .submit-btn {
          min-width: 210px;
          font-size: 16px;
          line-height: 22px;
          background: #016be3;
          color: #fff;
          padding: 15px 30px;
          border: 0;
          outline: 0;
          cursor: pointer;
          border-radius: 5px;
          display: inline-block;
          transition: all 0.3s ease-in-out;
          margin-top: 0;
          text-decoration: none;
          font-family: "Rubik";
          font-weight: 400;
          border: 1px solid #016be3;
          margin-top: 10px;

          &:hover {
            background-color: #ffffff;
            color: #016be3;
          }
        }
      }

      .autocomplete-items {
        &.has-item {
          display: block;
          height: 170px;
          overflow-y: auto;
          position: absolute;
          top: 40px;
          left: 0;
          width: 100%;
          z-index: 1;
          box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.43);
          background: #fff;
          border-radius: 5px;

          div {
            border: 1px solid #e0e6ea;
            color: #666e86;
            border: 1px solid #e0e6ea;
            background-color: #fff;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            padding: 15px 20px;

            &.autocomplete-active,
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }

      .form-conf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        span {
          display: inline-block;
          font-size: 16px;
          &.signnda {
            padding: 0 20px;
            position: relative;
            &:before {
              content: "";
              width: 1px;
              height: 20px;
              position: absolute;
              left: 9px;
              top: 0;
              background: rgba(65, 65, 65, 0.3);
            }
          }
          i {
            margin-right: 3px;
            img {
              vertical-align: middle;
              margin-top: -3px;
            }
          }
        }
      }
    }
  }
}

.globe-around {
  .heading {
    h2 {
      margin: 0 0 10px;
      &:after {
        display: none;
      }
    }
  }
  .dis-flex {
    .flex-5 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;

      .cont-full {
        display: block;
        border: 1px solid rgba(233, 233, 239, 1);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        .box {
          padding: 15px;
          position: relative;
          cursor: pointer;

          .flag-d {
            display: flex;
            color: $arsenic-dark;
            .img {
              width: 30px;
              text-align: center;
            }
            .cont {
              width: calc(100% - 30px);
              padding-left: 10px;
              span {
                display: block;
                font-size: 16px;
                font-weight: 500;
                &.num {
                  font-size: 14px;
                  font-weight: 400;
                  margin: 5px 0 0;
                  line-height: 20px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          &:before {
            content: "";
            width: 14px;
            height: 8px;
            background: url(../images/flag-arrow.png) 0 0 no-repeat;
            position: absolute;
            top: 16px;
            right: 20px;
            transition: all 0.3s ease-in-out;
          }
        }

        .detail-full {
          border-top: 1px solid #e9e9ef;
          display: none;
          transition: all 0.3s ease-in-out;
          .box {
            cursor: default;
            a {
              .flag-d {
                color: #414141;
              }
            }
            .row-div {
              margin: 15px 0 0;
            }
            .num {
              margin: 0 !important;
            }
            &:before {
              display: none;
            }
            .flag-d {
              color: rgba(65, 65, 65, 0.8);
              .wtsapp {
                vertical-align: top;
                margin-top: -5px;
              }
            }
          }
        }

        &:hover {
          .detail-full {
            display: block;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.globe-around .dis-flex .flex-5 .cont-full:hover .box:before {
  transform: rotate(180deg);
}

.award-section {
  .slide-item {
    padding: 0 10px;
  }
  .award-column {
    padding: 20px;
    background: #f8f8fb;
    border-radius: 30px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .glider-dots {
    margin: 20px 0 0;
    display: none;
  }

  .glider-prev {
    background: url(../images/prev-glide.png) no-repeat center;
    width: 128px;
    height: 126px;
    z-index: 9;
    top: 22%;
    left: -51px;
    font-size: 0;
    background-size: 100%;
  }

  .glider-next {
    background: url(../images/next-glide.png) no-repeat center;
    width: 128px;
    height: 126px;
    z-index: 9;
    top: 22%;
    right: -51px;
    font-size: 0;
    background-size: 100%;
  }
}

.footer {
  padding: 0;

  .footer-copyright {
    margin-top: 0;
  }
}

// media for mobile menu

@media screen and (min-width: 1920px) {
  .contact-wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
    .contact-us-section {
      height: 80vh;
    }
    .form-footer-section {
      height: 20vh;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .contact-us-section {
    &.full-width-form {
      .container {
        max-width: 1680px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .contact-us-section {
    .contact-logo {
      padding: 10px 0;
    }
    .left-box {
      p {
        margin: 20px 0 0;
        font-size: 16px;
        line-height: 26px;
        a {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }

    .right-box {
      padding: 20px 40px;
      h2 {
        .clrwhite {
          padding-left: 7px;
          &:before {
            background-size: 100%;
            width: 79px;
            height: 90px;
            top: -19px;
          }
        }
      }

      .form-box {
        margin: 20px 0 0;
        .form-text-cont {
          margin-bottom: 30px;
        }
      }
    }
  }

  .form-footer-section {
    .container {
      max-width: 1240px;
    }
    .form-footer {
      span,
      li,
      a {
        font-size: 12px;
      }
    }
    .form-footer li {
      line-height: 22px;
    }
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
  .contact-us-section {
    .left-box {
      flex-basis: 100%;
    }
    .right-box {
      flex-basis: 100%;
      margin: 30px 0 0;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
      margin: 30px auto 0;
      p {
        color: $white;
        text-align: center;
        margin: 0 0 25px;
        font-size: 12px;
      }
    }
  }

  .form-footer-section {
    padding: 30px 0;
    .form-footer {
      .left-block {
        flex-basis: 50%;
      }
      .mid-block {
        flex-basis: 100%;
        .flex-3 {
          flex-basis: 48%;
          margin: 0 0 15px;
          .title {
            margin: 5px 0;
          }
        }
      }
      .last-block {
        flex-basis: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .form-footer-section {
    .form-footer {
      margin-top: 0;

      .mid-block {
      }

      li,
      .title {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  .contact-us-section {
    .contact-logo {
      padding: 10px 0 0;
      img {
        max-width: 180px;
      }
    }
    .left-box {
      p {
        font-size: 14px;
        line-height: 24px;
        a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .right-box {
      padding: 20px 25px;
      h2 {
        margin: 20px 0 30px;
        .clrwhite {
          &:before {
            width: 70px;
            height: 79px;
          }
        }
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }

      .form-box {
        margin: 20px 0 0;
        .form-text-cont {
          margin-bottom: 15px;
          flex-basis: 100%;
          .input-field {
            font-size: 13px;
            &::placeholder {
              font-size: 13px;
            }
          }

          .submit-btn {
            min-width: auto;
            font-size: 14px;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
