@import "_default";
@import "footer";

.contact-us-section {
  position: relative;
  background: #1a2649;

  .contact-logo {
    display: block;
    padding: 15px 0;
  }
  .left-box {
    flex-basis: 40%;

    p {
      margin: 30px 0 0;
      color: $white;
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;
      a {
        color: $white;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
      }
    }

    .client-logo {
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
      }
      img {
        margin: 30px 0 0;
        display: block;
      }
    }
  }

  .right-box {
    flex-basis: 45%;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 40px;
    h2 {
      font-weight: 700;
      position: relative;
      z-index: 9;
      margin: 30px 0 40px;
      .clrwhite {
        color: $white;
        position: relative;
        padding-left: 10px;
        &:before {
          content: "";
          width: 92px;
          height: 101px;
          background: url(../images/talked-icon.png) 0 0 no-repeat;
          position: absolute;
          top: -25px;
          left: 0;
          z-index: -1;
        }
      }
    }

    .form-box {
      margin: 30px 0 0;

      .form-text-cont {
        flex-basis: 45%;
        margin-bottom: 40px;
        position: relative;

        &.width-full {
          flex-basis: 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .input-field {
          font-size: 14px;
          line-height: 19px;
          padding: 8px 0;
          border: 0;
          border-bottom: 1px solid #cbd3dc;
          width: 100%;
          color: #525f7f;
           font-family: 'Rubik';

          &::placeholder {
            //opacity: 0.4;
            font-size: 14px;
            line-height: 19px;
            color: #525f7f;
          }

          &:focus {
            outline: #253053;
            border: 0;
            border-bottom: 1px solid #253053;
          }
        }

        small {
          font-size: 11px;
          line-height: 12px;
          text-transform: capitalize;
          color: #95959f;
          display: none;
          float: left;
          width: 100%;
          margin-top: 5px;
        }

        &.verror {
          small {
            color: #ff1f1f;
            display: block;
          }
          .input-field {
            border-color: #ff1f1f;
          }
        }

        .comment-input {
          height: 36px;
          resize: none;
          &:focus {
            outline: #253053;
            border: 0;
            border-bottom: 1px solid #253053;
          }
        }

        .submit-btn {
          min-width: 210px;
          font-size: 16px;
          line-height: 22px;
          background: #016be3;
          color: #fff;
          padding: 15px 30px;
          border: 0;
          outline: 0;
          cursor: pointer;
          border-radius: 5px;
          display: inline-block;
          transition: all 0.3s ease-in-out;
          margin-top: 0;
          text-decoration: none;
           font-family: 'Rubik';
          font-weight: 400;
          border: 1px solid #016be3;
          margin-top: 10px;

          &:hover {
            background-color: #ffffff;
            color: #016BE3;
          }
        }
      }

      .autocomplete-items {
        &.has-item {
          display: block;
          height: 170px;
          overflow-y: auto;
          position: absolute;
          top: 40px;
          left: 0;
          width: 100%;
          z-index: 1;
          box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.43);
          background: #fff;
          border-radius: 5px;

          div {
            border: 1px solid #e0e6ea;
            color: #666e86;
            border: 1px solid #e0e6ea;
            background-color: #fff;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            padding: 15px 20px;

            &.autocomplete-active,
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

// for contact menu
.header-two {
  &.sc-down {
    .small {
      opacity: 1;
    }

    .large {
      opacity: 0;
    }
  }

  &.sc-up {
    background: #282747;

    .large {
      opacity: 0;
    }

    .header-item-center {
      opacity: 0;
    }
  }

  .small {
    opacity: 1;
  }

  .large {
    opacity: 0;
  }

  &.header-bg {
    .header-item-center {
      opacity: 0;
    }

    &.sc-up {
      background: #282747;

      .header-item-center {
        opacity: 0;
      }
    }
  }

  .header-item-center {
    opacity: 0;
  }

  &:hover {
    background: #282747;

    &.sc-down .large {
      opacity: 1;
    }

    .large {
      opacity: 1;
    }

    &.sc-down .small {
      opacity: 0;
    }

    .small {
      opacity: 0;
    }

    .header-item-center {
      opacity: 1;
    }
  }

  .menu {
    ul {
      li {
        &.contact-nav a {
          &:hover {
            background-color: #ffb81d;
          }
        }

        .menu-mega {
          box-shadow: 0 5px 5px #d8d8d8;
        }
      }
    }
  }

  .first-inner {
    a {
      color: #6d6d6d;
    }
  }

  .inner-list {
    a {
      color: #6d6d6d;
    }
  }
}

.form-footer-section {
  background: rgba(246, 248, 251, 0.54);
  padding: 10px 0 30px;

  .container {
    max-width: 1390px;
  }

  .form-footer {
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;

    .mid-block {
      flex-basis: 50%;

      &.dis-flex {
        justify-content: space-between;
      }
    }

    .last-block {
      flex-basis: 45%;
    }

    a {
      text-decoration: none;
      display: block;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        color: #253053;

        span {
          opacity: 0.8;
        }
      }
    }

    span,
    li,
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      list-style-type: none;
      opacity: 0.6;
      color: #666e86;
      margin-top: 10px;
    }

    .title {
      display: block;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }

    strong {
      font-weight: 600;
      //   color: #6f6a6a;
      transition: all 0.3s ease-in-out;
      opacity: 0.8;
    }

    li,
    .title {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    li {
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;

        strong {
          opacity: 1;
        }
      }
    }

    .flex-3 {
      a {
        span {
          &:hover {
            color: #253053 !important;
          }
        }
      }
      .title {
        padding-left: 38px;
        height: 20px;
        background: url("../images/country-flags-sprite.png") 0px 0px no-repeat;
      }

      &:nth-child(1) {
        a {
          // color: #253053;
          // opacity: 0.8;

          span {
            color: #253053;
          }
        }
      }

      &:nth-child(1) {
        .title {
          background-position: 0 -30px;
        }
      }

      &:nth-child(2) {
        .title {
          background-position: 0 -64px;
        }
      }

      &:nth-child(3) {
        .title {
          background-position: 0 -100px;
        }
      }

      &:nth-child(4) {
        .title {
          background-position: 0 -132px;
        }
      }

      &:nth-child(5) {
        .title {
          background-position: 0 -168px;
        }
      }
      &:nth-child(6) {
        .title {
          padding-left: 25px;
          background-position: 0px -202px;
        }
      }
    }
  }
}

.footer {
  padding: 0;

  .footer-copyright {
    margin-top: 0;
  }
}

// media for mobile menu

@media screen and (min-width: 1920px) {
  .contact-wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
    .contact-us-section {
      height: 80vh;
    }
    .form-footer-section {
      height: 20vh;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .contact-us-section {
    &.full-width-form {
      .container {
        max-width: 1680px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .contact-us-section {
    .contact-logo {
      padding: 10px 0;
    }
    .left-box {
      p {
        margin: 20px 0 0;
        font-size: 16px;
        line-height: 26px;
        a {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }

    .right-box {
      padding: 20px 40px;
      h2 {
        .clrwhite {
          padding-left: 7px;
          &:before {
            background-size: 100%;
            width: 79px;
            height: 90px;
            top: -19px;
          }
        }
      }

      .form-box {
        margin: 20px 0 0;
        .form-text-cont {
          margin-bottom: 30px;
        }
      }
    }
  }

  .form-footer-section {
    .container {
      max-width: 1240px;
    }
    .form-footer {
      span,
      li,
      a {
        font-size: 12px;
      }
    }
    .form-footer li {
      line-height: 22px;
    }
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
  .contact-us-section {
    .left-box {
      flex-basis: 100%;
    }
    .right-box {
      flex-basis: 100%;
      margin: 30px 0 0;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
      margin: 30px auto 0;
      p {
        color: $white;
        text-align: center;
        margin: 0 0 25px;
        font-size: 12px;
      }
    }
  }

  .form-footer-section {
    padding: 30px 0;
    .form-footer {
      .left-block {
        flex-basis: 50%;
      }
      .mid-block {
        flex-basis: 100%;
        .flex-3 {
          flex-basis: 48%;
          margin: 0 0 15px;
          .title {
            margin: 5px 0;
          }
        }
      }
      .last-block {
        flex-basis: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .form-footer-section {
    .form-footer {
      margin-top: 0;

      .mid-block {
      }

      li,
      .title {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  .contact-us-section {
    .contact-logo {
      padding: 10px 0 0;
      img {
        max-width: 180px;
      }
    }
    .left-box {
      p {
        font-size: 14px;
        line-height: 24px;
        a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .right-box {
      padding: 20px 25px;
      h2 {
        margin: 20px 0 30px;
        .clrwhite {
          &:before {
            width: 70px;
            height: 79px;
          }
        }
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }

      .form-box {
        margin: 20px 0 0;
        .form-text-cont {
          margin-bottom: 15px;
          flex-basis: 100%;
          .input-field {
            font-size: 13px;
            &::placeholder {
              font-size: 13px;
            }
          }

          .submit-btn {
            min-width: auto;
            font-size: 14px;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
