.footer-form-section {
  position: relative;
  background-color: #021652;

  ::placeholder {
    color: rgba(50, 50, 50, 0.5);
  }

  .left-box {
    flex-basis: 40%;
    padding-right: 45px;
    background: #021652;
    color: #fff;
    position: relative;
    z-index: 1;

    p {
      color: #DFDFDF;
      font-size: 18px;
      line-height: 29px;
    }

    h2 {
      color: #fff;
      margin-bottom: 30px;
    }

    h3 {
      color: #fff;
      margin-bottom: 10px;
    }

    .profile-outer {
      margin-top: 20px;
    }

    .profile-pic {
      margin-right: 10px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      .pic2 {
        background-position: -68px 4px;
      }
      i {
        background: url(../images/hire/acc-prof.png) 2px 4px no-repeat;
        width: 60px;
        height: 60px;
        display: block;
      }
      .pic3 {
        background-position: -137px 4px;
      }
      .pic4 {
        background-position: -207px 4px;
      }
      span {
        display: block;
        margin-top: 7px;
        }
      }
  }

  #ffile-type-error {
    color: #FF0000;
    font-size: 12px;
  }

  .list-box {
    padding-left: 60px;
    position: relative;
    padding-top: 25px;
    &::before {
      clear: both;
      background: #016BE3;
      box-shadow: 0 0 10px rgba(9, 39, 149, 0.25);
      color: #fff;
      font-size: 18px;
      line-height: 21.09px;
      border-radius: 50px;
      height: 40px;
      width: 40px;
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      justify-content: center;
      display: flex;
      align-items: center;
      z-index: 1;
    }
  }

  .side-dash1 {
    p {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    &::before {
      content: "1";
    }

    &::after {
      content: "";
      clear: both;
      display: block;
      height: 100%;
      border-left: 0.8px dashed rgba(223,223,223,0.5);
      width: 4px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 0;
    }
  }

  .side-dash2 {
    &::before {
      content: "2";
    }
  }

  .contact-form-box {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 40px 65px;
  }

  .right-box {
    flex-basis: 60%;
    padding-left: 40px;
    border-radius: 0 10px 10px 0;
  }

  .form-text-cont {
    flex-basis: 50%;
    margin-top: 20px;
    position: relative;

    &:nth-child(2n -1) {
      padding-right: 20px;
    }

    .dis-flex {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .input-field {
    padding: 18px 30px 18px 15px;
    background: transparent;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    border: 0.5px solid #E2E2E2;
    border-radius: 5px;
    color: #323232;
    font-weight: normal;
    font-family: 'Noto Sans';
    outline: 0;
    resize: none;

    &:focus {
      border: 0.5px solid #010101;
    }
  }

  small {
    display: none;
    color: #FF0000;
    font-size: 12px;
  }

  .verror {
    small {
      display: block;
    }

    .input-field,
    .user-input {
      border-color: #FF0000 !important;
    }
  }

  .verror {
    &.user-input {
      small {
        margin-top:5px;
      }
    }
  }

  .comment-input {
    min-height: 165px;
    border: 0;
    outline: 0;
    width: 100%;
    resize: none;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    font-family: 'Noto Sans';
    font-weight: normal;
  }

  .drop-input {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .drop-box {
    text-decoration: none;
    padding: 5px 10px;
    border: 0.5px solid #fff;
    font-size: 12px;
  }

  .checkout {
    flex-basis: 34%;
    text-align: right;
    .checkout-submit {
      background: #60AC0B;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      padding: 14px 24px;
      border-radius: 4px;
      letter-spacing: 0.05em;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease-in-out;
  
      &:focus,
      &:hover {
        background-color: #082eb5;
      }
    }

  }

  .form-text-cont.width-full {
    flex-basis: 100%;
    padding-right: 0;
  }

  .drop-area-box {
    display: inline-block;
    background: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    border-radius: 0;
    cursor: pointer;
    color: #323232;

    input {
      display: none;
    }

    button {
      cursor: pointer;
      position: relative;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: inline-block;
      border: 0.5px solid #E2E2E2;
      padding: 6px 10px;
      background: none;
      color: #767676;
    }
  }

  .for-two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  // autocomplete country
  .autocomplete-items {
    display: none;
    &.has-data {
        background: #fff;
        display: block;
        height: 140px;
        overflow-y: auto;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        max-width: 280px;
        box-shadow: 0px 6px 9px rgba(1,0,12,0.4);
        border-radius: 5px;
        z-index: 2;
        div {
            color: #444444;
            background: #fff;
            border-bottom: 1px solid #444444;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            padding: 15px 20px;
            &.autocomplete-active,
            &:hover {
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
  }

  // loader Img
  .gal-loader {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    display: none;
    &.active {
      display: block;
      background: rgba(0,0,0,0.1);
      margin-top: 30px;
      .loader {
        display: block;
      }
    }
    &.show-me {
      display: block;
      min-height: 100px;
    }
    .loader {
      border: 5px solid #9F9F9F;
      border-radius: 50%;
      border-top: 5px solid #016BE3;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      margin-bottom: 10px;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      top: 22px;
      left: 50%;
      display: none;
    }
  }
  .gallery {
    div {
      display: inline-flex;
      margin-right: 10px;
      vertical-align: baseline;
      align-items: flex-start;
      position: relative;
      transition: all 0.3s ease-in-out;
      button,
      a {
        text-decoration: none;
        background: #FFB81D;
        padding: 4px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        vertical-align: middle;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        position: absolute;
        right: 4px;
        cursor: pointer;
        border: 0;
        outline: 0;
      }
      button:focus,
      a:focus {
        background: #f30909;
      }
    }
    img {
      width: auto;
      height: 45px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  // quiz
  .form-quiz-group {
    display: flex;
    align-items: center;
    flex-basis: 66%;

    .quizQ {
      border: 1px dashed #C4C4C4;
      border-radius: 4px;
      padding: 13px 30px;
      background: url('../images/quiz-bg.png') 5px center no-repeat;
      height: 50px;
    }
    .equal {
      margin: 0 15px;
    }
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #4A4C55;
    }
    .refreshbtn {
      background: url(../images/refresh-icon.png) top center no-repeat;
      background-size: 100%;
      width: 24px;
      height: 21px;
      margin-left: 35px;
      cursor: pointer;
      transition: all .5s ease 0s;
      display: inline-block;
      vertical-align: bottom;

      &:active {
        transform: rotate(360deg);
      }
    }

    .quizAns {
      input {
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        height: 50px;
        max-width: 67px;
        text-align: center;
        padding: 10px 20px;
      }
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FF0000;
      }
    }
  }

  // country flag
  .user-input {
    .pcode-prefix {
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: 0;
      border: 0;
      outline: 0;
      width: 100px;
      background: none;
      padding-left: 44px;
      color: #737373;
    }
  }

  .flag-box {
    flex-basis: 26%;
  }

  .phone-flag-box {
    .user-input {
      &:last-child {
        flex-basis: 74%;
        padding-left: 20px;
      }
    }
  }
}

// media query

@media screen and (max-width: 1320px) {
  .footer-form-section {
    .input-field {
      padding: 14px 30px 14px 14px;
    }
    .form-quiz-group {
      .equal {
        margin: 0 5px;
      }
      .quizQ{
        padding: 13px 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer-form-section {
    .right-box {
      padding-left: 0;
    }
    .contact-form-box {
      border-radius: 10px;
      padding: 40px 20px;
    }

  }
}

@media screen and (max-width: 991px) {
  .footer-form-section {
    .left-box {
      flex-basis: 100%;
      padding-right: 0;

      h2 {
        margin-bottom: 30px;
      }
    }
    .right-box {
      flex-basis: 100%;
      margin-top: 40px;
    }
  }
}


@media screen and (max-width: 767px) {
  .footer-form-section {
    .phone-flag-box {
      .user-input {
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  
    .user-input {
      .pcode-prefix {
        top: 25px;
      }
    }

    .form-text-cont {
      flex-basis: 100%;

      &:nth-child(2n-1) {
        padding-right: 0px;
      }
    }

    .contact-form-box {
      padding: 40px 20px;
    }

    .for-two-col {
      margin-top: 30px;

      .attachment-box {
        flex-basis: 100%;
      }

      .checkout {
        flex-basis: 100%;
        text-align: left;
        margin-top: 40px;
      }
    }

    .left-box {
      h2 {
        br {
          display: none;
        }
      }

      .profile-pic img {
        max-width: 45px;
      }
    }

    .side-dash1 {
      &::after {
        left: 15px;
      }
    }

    .list-box {
      padding-left: 45px;

      &::before {
        height: 30px;
        width: 30px;
      }
    }

    .right-box {
      .form-text-cont {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .comment-input {
      min-height: 85px;
    }

    .drop-area-box {
      label {
        &::before {
          background-position: 4px 6px;
          background-size: 70%;
          width: 28px;
          height: 28px;
          top: -5px;
        }
      }
    }
    .form-quiz-group {
      flex-basis: 100%;
      .quizQ {min-width: 150px;
        padding: 12px 20px;
      }
      span{font-size: 16px;}
      .refreshbtn {
        margin-left: 10px;
        width:20px;
      }
    }
  }
}