@import "_default";
@import "menu-v2";
@import "_client-logo";
@import "_glide-core";
@import "_service-card";
@import "_get-started";
@import "_overcome-started";
@import "_client-section";
@import "_counter-column-section";
@import "_service-casestudy";
@import "_glide-core";
@import "_industry-section";
@import "guide-topic";
@import "_case-studies";
@import "faq";
@import "testimonial";
@import "video-with-banner";
@import "footer";
@import "cta-v3";

.slide-logo {
  padding-bottom: 0;
}

.banner-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  min-height: 100vh;

  &:after {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #0b147c 0%, #4b1bac 100%);
  }
  .banner-wrap {
    position: relative;
    z-index: 9;

    .left-sec {
      flex-basis: 50%;

      .breadcrumbs {
        position: initial;
        font-weight: 400;
        margin: 0 0 30px;
      }
      .badges {
        margin: 0 0 20px;
      }
      .banner-content {
        h1 {
          font-size: 60px;
          color: $white;
          margin: 0 0 30px;
        }
        p {
          color: $white;
          font-size: 18px;
          margin: 0 0 15px;
          line-height: 29px;
        }
      }
      .banner-form {
        display: flex;
        .input-field {
          flex-basis: 53%;
          padding: 0 20px;
          background: transparent;
          width: 100%;
          height: 59px;
          font-size: 16px;
          line-height: 20px;
          border: 1px solid rgba(205, 205, 205, 0.8);
          border-radius: 5px;
          color: #f0f0f0;
          font-weight: normal;
          font-family: Rubik;
        }
        .submit-btn {
          background: $white;
          height: 59px;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $royelblue;
          padding: 0 30px;
          border-radius: 4px;
          cursor: pointer;
          font-family: Rubik;
          border: none;
          margin-left: 15px;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: $royelblue;
            color: $white;
          }
        }

        ::placeholder {
          color: rgba(240, 240, 240, 0.5);
          font-weight: 400;
        }
      }
    }

    .right-sec {
      flex-basis: 31%;
      .flip-section {
        display: flex;
        gap: 16px;
        margin-bottom: -10px;
      }
      .flip-card {
        width: 164px;
        height: 164px;
        perspective: 1000px;

        &.flip-card-two {
          width: 211px;
          height: 211px;

          .flip-card-front,
          .flip-card-back {
            background-color: rgba(0, 135, 85, 1);
          }
        }
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(1, 107, 227, 1);
        border-radius: 100%;
      }

      .flip-round {
        color: $white;
        padding: 10px;
        .value {
          font-size: 42px;
          font-family: "RobotoSerif";
          line-height: 1.2;
          margin: 0 0 8px;
        }
        .title {
          font-size: 13px;
          font-weight: 500;
          display: block;
          text-transform: uppercase;
          display: block;
          margin: 0 0 5px;
        }
        .desc {
          font-style: italic;
          font-size: 12px;
          line-height: 14px;
          color: $white;
          margin: 0;
        }
      }

      .flip-card-back {
        transform: rotateY(180deg);

        .title {
          margin: 0 0 10px;
          padding-top: 15px;
        }
      }

      .hero-card {
        width: 100%;
        background: $white;
        border-radius: 15px;
        padding: 25px;
        .strt-sec {
          display: flex;
          justify-content: space-between;
          margin: 0 0 15px;
          .img-div {
            width: 88px;
          }
          .cont-div {
            width: calc(100% - 98px);
            padding-right: 30px;
            p {
              font-size: 14px;
              line-height: 19px;
              font-style: italic;
              margin: 0 0 8px;
            }
            strong {
              color: $royelblue;
            }
            h3 {
              font-size: 13px;
              font-weight: 600;
              line-height: 1;
            }
          }
        }
        .clb {
          display: flex;
          align-items: center;
          color: rgba(19, 30, 41, 0.4);
          font-weight: 500;
          img {
            margin-right: 10px;
          }
        }

        .ratings {
          display: flex;
          flex-direction: column;
          margin: 20px 0 0;
          padding: 20px 0 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          gap: 10px;
          .rating {
            img {
              margin-right: 10px;
            }
            span {
              color: rgba(19, 30, 41, 0.8);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            }
          }
        }
      }
    }
  }
}

.services-two-column-section {
  counter-reset: section;

  .threebox {
    .flex-2 {
      padding: 0 10px;
      margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 20px;
      padding: 30px;
      transition: all 0.3s ease-in-out;
      position: relative;
      .image-box {
        position: absolute;
        right: 50px;
        top: 40%;
      }
      p {
        margin: 0 0 20px;
        // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left: 30px;
          position: relative;

          &:before {
            content: "";
            background: url(../images/check-list.png) no-repeat center;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
      }
    }

    .flex-4 {
      padding: 0 10px;
      margin-top: 20px;
      .box-3 {
        .image-box {
          position: initial;
          text-align: right;
          margin: 30px 0 0;
        }

        h3 {
          margin: 0 0 20px;
          padding: 0 0 20px;
          border-bottom: 1px solid rgba(217, 217, 217, 1);
        }
      }
    }
  }

  .know-more-link {
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid rgba(217, 217, 217, 1);
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center
          no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }
}

.services-three-column-section {
  counter-reset: section;

  .threebox {
    .flex-2 {
      padding: 0 10px;
      margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 30px;
      transition: all 0.3s ease-in-out;

      p {
        margin: 0 0 20px;
        // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left: 20px;
          position: relative;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 8px;
          }
        }
      }
    }
  }

  .twobox {
    .img-box {
      flex-basis: 35%;
    }
    .content-box {
      flex-basis: 60%;
    }
  }

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center
          no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }
}


.glider.draggable .glider-slide img.ytcover {
  pointer-events: inherit;
}
.ytcover {
  z-index: 999;
}
.yt-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}



@media only screen and (max-width: 1600px) {
  
}

@media only screen and (max-width: 1366px) {
  .banner-section {
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }

        .banner-content {
          h1 {
            font-size: 50px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }

  .services-two-column-section {
    .threebox {
      .flex-4 {
        .box-3 {
          padding: 20px;
          .image-box {
            margin: 20px 0 0;
          }
        }
      }
    }

    .know-more-link {
      margin: 30px 0 0;
      padding: 30px 0 0;
      border-top: 1px solid rgba(217, 217, 217, 1);
      a {
        color: #016be3;
        display: block;
        font-size: 16px;
        line-height: 19px;

        &::after {
          content: "";
          background: url(../images/service/know-more-arrow-icon.png) top center
            no-repeat;
          position: relative;
          width: 15px;
          height: 11px;
          background-size: 100%;
          top: 0;
          left: 6px;
          display: inline-block;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            left: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
}

@media screen and (max-width: 991px) {
  .banner-section {
    width: 100%;
    min-height: initial;

    .banner-wrap {
      .left-sec {
        flex-basis: 100%;
      }

      .right-sec {
        flex-basis: 100%;
        margin: 30px 0 0;

        .flip-round {
          .value {
            font-size: 35px;
          }
        }
      }

      .flip-card-back {
        .title {
          margin: 0 0 10px;
          padding-top: 15px;
        }
      }
    }
  }

  .services-two-column-section {
    .threebox {
      .flex-2 {
        padding: 0;
        margin-top: 15px;
      }

      .box-3 {
        padding: 20px;

        .image-box {
          right: 30px;
        }

        h3 {
          margin: 0 0 15px;
        }
      }

      .flex-4 {
        padding: 0 10px;
        margin-top: 20px;
        .box-3 {
          .image-box {
            margin: 20px 0 0;
          }

          h3 {
            margin: 0 0 15px;
            padding: 0 0 15px;
          }
        }
      }
    }

    .know-more-link {
      margin: 20px 0 0;
      padding: 20px 0 0;
    }
  }

  .services-three-column-section {
    .threebox {
      .box-3 {
        padding: 20px;
        p {
          margin: 0 0 15px;
        }

        h3 {
          margin: 0 0 15px;
        }

        ul {
          margin: 0 0 15px;

          li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;

            &:before {
              content: "";
              width: 9px;
              height: 9px;
              background: #016be3;
              position: absolute;
              left: 0;
              border-radius: 50%;
              top: 8px;
            }
          }
        }
      }
    }

    .twobox {
      .img-box {
        flex-basis: 100%;
      }
      .content-box {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .banner-section {
    background-size: 0;
    background-color: #04237f;
    .banner-wrap {
      .left-sec {
        .breadcrumbs {
          margin: 0 0 20px;
        }
        .badges {
          margin: 0 0 20px;
        }
        .banner-content {
          h1 {
            margin: 0 0 20px;
          }
        }
        .banner-form {
          flex-wrap: wrap;

          .input-field {
            flex-basis: 100%;
            padding: 0 20px;
            height: 50px;
          }
          .submit-btn {
            flex-basis: 100%;
            height: 50px;
            font-size: 16px;
            line-height: 22px;
            padding: 0 20px;
            margin: 15px 0 0;
          }
        }
      }

      .right-sec {
        .flip-section {
          gap: 5px;
        }
        .flip-card {
          width: 160px;
          height: 160px;

          &.flip-card-two {
            width: 180px;
            height: 180px;
          }
          .flip-card-back {
            .title {
              margin: 0 0 10px;
              padding-top: 15px;
              line-height: 1.3;
            }
          }
        }
        .flip-round {
          .value {
            font-size: 30px;
          }
          .desc {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }

  .services-two-column-section {
    .know-more-link {
      a {
        font-size: 14px;
      }
    }
  }
}
