@import "_default";
@import "menu-v2";
@import "_client-logo";
@import "_glide-core";
@import "_get-started";
@import "_develop-section";
@import "_client-section";
@import "_counter-column-section";
@import "_development-phase";
@import "_industry-section";
@import "hiring-model";
@import "guide-topic";
@import "_case-studies";
@import "faq";
@import "testimonial";
@import "banner-with-video";
@import "footer";
@import "cta-v3";

.slide-logo {
  padding-bottom: 0;
}

/*CSS for banner video section*/
.video-banner-section {
  .banner-content {
    width: 100%;
    h1 {
      font-size: 60px;
    }
    p {
      strong {
        font-weight: 500;
      }
    }
  }
}

/*CSS for banner video section Ends Here*/

.services-three-column-section {
  counter-reset: section;

  .threebox {
    .flex-2 {
      padding: 0 10px;
      margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 30px;
      transition: all 0.3s ease-in-out;

      p {
        margin: 0 0 20px;
        // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left: 20px;
          position: relative;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 8px;
          }
        }
      }
    }
  }

  .twobox {
    .img-box {
      flex-basis: 35%;
    }
    .content-box {
      flex-basis: 60%;
    }
  }

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center
          no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }
}

.why-choose-three-column-section {
  counter-reset: section;

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center
          no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }

  .threebox {
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;

      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .flex-4 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;

      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 60px 40px;
      transition: all 0.3s ease-in-out;

      p {
        margin-top: 15px;
        // min-height: 200px;
        opacity: 0.9;
      }

      h3 {
        a {
          color: #444;
        }
      }

      h3 {
        margin-top: 20px;
      }

      ul {
        margin: 20px 0 0;

        li {
          line-height: 26px;
          margin-bottom: 10px;
          opacity: 0.9;
          padding-left: 20px;
          position: relative;
          font-size: 16px;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 5px;
          }
        }
      }
    }
  }

  .offshore-threebox {
    .box-3 {
      border: 1px solid rgba(212, 224, 237, 0.7);
      padding: 40px 30px 35px;
      min-height: 380px;

      p {
        min-height: 175px;
      }
    }

    .flex-3 {
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
  }

  .points {
    h3 {
      position: relative;

      &::before {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: -38px;
        opacity: 0.2;
      }
    }
  }

  .service-custom-software-btn {
    margin-top: 70px;
  }
}

.glider.draggable .glider-slide img.ytcover {
  pointer-events: inherit;
}
.ytcover {
  z-index: 999;
}
.yt-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.result-driven-software-service {
  .heading {
    p {
      margin-bottom: 60px !important;
    }
  }

  .box-3 {
    p {
      //min-height: 182px;
    }
  }
}

.choose-custom-software {
  .heading {
    p {
      margin-bottom: 60px !important;
    }
  }
}

.business-challenge {
  background: #05247e;

  h2,
  p {
    color: #fff;
  }

  .threebox {
    .flex-3 {
      .box-3 {
        border-right: 1px dashed rgba(255, 255, 255, 0.5);
        padding: 10px 40px 0 40px;
        height: 100%;

        h3 {
          color: $white;
          margin-bottom: 20px;
        }

        p {
          color: $white;
          margin-bottom: 20px;
          opacity: 0.9;
        }
      }

      &:last-child {
        .box-3 {
          border: none;
        }
      }
    }
  }
}

.digital-cap {
  .threebox {
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
    }

    .flex-4 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
    }

    .box-3 {
      height: 100%;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 20px;

      transition: all 0.3s ease-in-out;

      .img-section {
        width: 100%;
        img {
          width: 100%;
          display: block;
        }
      }

      .cont-sec {
        padding: 30px 20px 50px;
      }

      h3 {
        margin: 0 0 15px;
      }

      ul {
        margin: 20px 0 0;

        li {
          margin-bottom: 10px;
          padding-left: 28px;
          position: relative;

          &:before {
            content: "";
            background: url(../images/list-icon.png) no-repeat;
            background-size: 100%;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
      }
    }
  }
}

.emerging-tech {
  .threebox {
    .flex-6 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
      flex-basis: 16.66%;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        .show {
          display: flex;
        }
        .hide {
          display: none;
        }

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);

            .show {
              display: none;
            }
            .hide {
              display: flex;
            }
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 20px;
      padding: 25px;
      transition: all 0.3s ease-in-out;
      text-align: center;

      picture {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
      }

      h3 {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        padding: 40px 30px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
  .video-banner-section {
    .banner-content {
      h1 {
        font-size: 50px;
      }
    }
  }
  .emerging-tech {
    .threebox {
      .flex-6 {
        flex-basis:33.33%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-main {
    .hire-content {
      padding: 0;

      .counter-container {
        width: 80%;

        .hire-counter {
          margin: 15px 0;
        }
      }
    }
  }

  .why-choose-three-column-section {
    .threebox {
      .flex-3 {
        padding-right: 0;
        padding-left: 0;

        .box-3 {
          padding: 40px 13px;
          margin: 0 10px 0;
        }
      }
      .flex-4 {
        padding-right: 0;
        padding-left: 0;

        .box-3 {
          padding: 40px 13px;
          margin: 0 10px 0;
        }
      }
    }

    .offshore-threebox {
      .box-3 {
        height: auto;
        padding: 20px 10px !important;
      }
    }
  }

  .business-challenge {
    .threebox {
      .flex-3 {
        flex-basis: 33.33%;

        .box-3 {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .services-three-column-section {
    .threebox {
      .box-3 {
        padding: 20px;
        p {
          margin: 0 0 15px;
        }

        h3 {
          margin: 0 0 15px;
        }

        ul {
          margin: 0 0 15px;

          li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;

            &:before {
              content: "";
              width: 9px;
              height: 9px;
              background: #016be3;
              position: absolute;
              left: 0;
              border-radius: 50%;
              top: 8px;
            }
          }
        }
      }
    }

    .twobox {
      .img-box {
        flex-basis: 100%;
      }
      .content-box {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        min-height: auto;
        height: auto;
      }

      .flex-3 {
        padding-right: 0px;
        padding-left: 0px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .result-driven-software-service {
    .heading {
      p {
        margin-bottom: 20px !important;
      }
    }
    .box-3 {
      p {
        min-height: initial;
      }
    }
  }

  .digital-cap {
    .threebox {
      .box-3 {
        .cont-sec {
          padding: 20px;
        }

        h3 {
          margin: 0 0 10px;
        }

        ul {
          margin: 15px 0 0;

          li {
            padding-left: 25px;
          }
        }
      }
    }
  }

  .emerging-tech {
    .threebox {
      .flex-6 {
        flex-basis:100%;
      }
      .box-3 {
        padding: 20px;
      }
    }
  }
}
