@import "_default";
@import "menu-v2";
@import "_client-logo";
@import "_glide-core";
@import "_service-card";
@import "_get-started";
@import "_client-section";
@import "_counter-column-section";
@import "_service-casestudy";
@import "_glide-core";
@import "_industry-section";
@import "guide-topic";
@import "_case-studies";
@import "faq";
@import "testimonial";
@import "video-with-banner";
@import "footer";
@import "cta-v3";


.slide-logo{padding-bottom:0;}


.banner-section{width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  min-height: 100vh;


  &:after{width:100%; height:100%; opacity:0.9; content:''; position: absolute; top: 0; left:0;   background: linear-gradient(180deg,#0B147C 0%,#4B1BAC 100%);}
.banner-wrap{position: relative; z-index: 9;

  .left-sec{flex-basis: 50%;
  
    .breadcrumbs {
      position: initial;
      font-weight: 400;
      margin: 0 0 30px;
  }
  .badges{margin:0 0 20px;}
  .banner-content{
    h1{font-size: 60px; color:$white; margin:0 0 30px;}
    p{color:$white; font-size: 18px;
      margin: 0 0 15px;
      line-height: 29px;}
  }
  .banner-form{display:flex;
  .input-field{flex-basis: 53%; padding:0 20px;
    background: transparent;
    width: 100%;
    height:59px;
    font-size: 16px;
    line-height: 20px;
    border:1px solid rgba(205, 205, 205, 0.8);
    border-radius: 5px;
    color: #F0F0F0;
    font-weight: normal;
    font-family: Rubik;
}
.submit-btn{background: $white;
  height:59px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $royelblue;
  padding:0 30px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Rubik;
  border: none;
  margin-left:15px;
  transition: all 0.3s ease-in-out;
&:hover{background:$royelblue; color:$white;}
}



::placeholder {
  color:rgba(240, 240, 240, 0.5);
  font-weight: 400;
}


  }
  }


  .right-sec{flex-basis:31%;
.flip-section{    display: flex;
  gap: 16px;     margin-bottom: -10px;}
    .flip-card {
 
      width: 164px;
      height: 164px;
      perspective: 1000px;


&.flip-card-two{width:211px;
  height: 211px;

  .flip-card-front, .flip-card-back {background-color:rgba(0, 135, 85, 1);}

}


    }
    

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(1, 107, 227, 1);
    border-radius: 100%;
   
    }
    
 
    .flip-round {
      color:$white;  padding:10px;
      .value{font-size: 42px;  font-family: 'RobotoSerif'; line-height: 1.2;     margin: 0 0 8px;}
      .title{font-size: 13px;     font-weight: 500;
        display: block;
        text-transform: uppercase;display: block; margin:0 0 5px;}
      .desc{ 
        font-style: italic;
        font-size: 12px;
        line-height: 14px; color:$white; margin:0;}
    }
    

    .flip-card-back {
   
  
      transform: rotateY(180deg);
    
      .title{margin:0 0 10px; padding-top:15px;}
      
    }



  .hero-card{width:100%; background:$white; border-radius: 15px; padding:25px;
  .strt-sec{display: flex; justify-content: space-between; margin:0 0 15px;
 .img-div{ width:88px;}
 .cont-div{width:calc(100% - 98px); padding-right:30px;
p{font-size: 14px; line-height:19px; font-style: italic; margin:0 0 8px;}
strong{color:$royelblue;}
h3{font-size: 13px; font-weight: 600; line-height: 1;}
}

  }
  .clb{display: flex; align-items: center; color:rgba(19, 30, 41, 0.4); font-weight: 500;
    img{margin-right:10px;}
  }

.ratings{display: flex;
  flex-direction: column; margin:20px 0 0; padding:20px 0 0; border-top:1px solid rgba(0, 0, 0, 0.1);
  gap:10px;
  .rating{
    img{margin-right: 10px;}
    span{color: rgba(19, 30, 41, 0.8);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
   }
  }
}
  }
  }

}


}



.services-two-column-section  {
  counter-reset: section;

  .threebox {
    .flex-2 {padding:0 10px;  margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
           
          }
        }
      }
    }
   

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 20px;
      padding:30px;
      transition: all 0.3s ease-in-out;
     position: relative;
     .image-box{position: absolute; right: 50px; top: 40%;}
      p {
        margin:0 0 20px;
      // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left:30px;
          position: relative;

          &:before {
            content: "";
    background: url(../images/check-list.png) no-repeat center;
    width: 18px;
    height:18px;
    position: absolute;
    left: 0;
    top: 4px;
          }
        }
      }
    }


    .flex-4 {padding:0 10px;  margin-top: 20px;
      .box-3 {
        
       .image-box{position: initial; text-align: right; margin:30px 0 0;}
        
  
        h3 {
          margin: 0 0 20px;
          padding:0 0 20px;
          border-bottom: 1px solid rgba(217, 217, 217, 1);
        }
  
        
      }
    }




  }

 

  .know-more-link {margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid rgba(217, 217, 217, 1);
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
    
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }

}




.services-three-column-section  {
  counter-reset: section;

  .threebox {
    .flex-2 {padding:0 10px;  margin-top: 20px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      //min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding:30px;
      transition: all 0.3s ease-in-out;

      p {
        margin:0 0 20px;
      // min-height: 200px;
      }

      h3 {
        margin: 0 0 20px;
        a {
          color: $arsenic-dark;
        }
      }

      ul {
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          padding-left: 20px;
          position: relative;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 8px;
          }
        }
      }
    }
  }

  .twobox{
    .img-box{flex-basis:35%;}
    .content-box{flex-basis:60%;}
  }

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
    
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }

 

}


.why-choose-three-column-section {
  counter-reset: section;

  .know-more-link {
    a {
      color: #016be3;
      display: block;
      font-size: 16px;
      line-height: 19px;

      &::after {
        content: "";
        background: url(../images/service/know-more-arrow-icon.png) top center no-repeat;
        position: relative;
        width: 15px;
        height: 11px;
        background-size: 100%;
        top: 0;
        left: 6px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
    
      }

      &:hover {
        &::after {
          left: 14px;
        }
      }
    }
  }

  .threebox {
    .flex-3 {
      padding-right: 10px;
      margin-top: 20px;
      padding-left: 10px;

      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }

    .box-3 {
      height: 100%;
      min-height: 260px;
      border: 1px solid rgba(212, 224, 237, 0.7);
      border-radius: 5px;
      padding: 60px 40px;
      transition: all 0.3s ease-in-out;

      p {
        margin-top: 15px;
        // min-height: 200px;
        opacity: 0.9;
      }

      h3 {
        a {
          color: #444;
        }
      }

      h3 {
        margin-top: 20px;
      }

      ul {
        margin: 20px 0 0;

        li {
          line-height: 26px;
          margin-bottom: 10px;
          opacity: 0.9;
          padding-left: 20px;
          position: relative;
          font-size: 16px;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: #016be3;
            position: absolute;
            left: 0;
            border-radius: 50%;
            top: 5px;
          }
        }
      }
    }
  }

  .offshore-threebox {
    .box-3 {
      border: 1px solid rgba(212, 224, 237, 0.7);
      padding: 40px 30px 35px;
      min-height: 380px;

      p {
        min-height: 175px;
      }
    }

    .flex-3 {
      &.has-anchor {
        transition: all 0.3s ease-in-out;
        display: block;

        &:hover {
          .box-3 {
            border: 1px solid #016be3;
            box-shadow: 0px 16px 40px rgba(176, 202, 228, 0.2);
            border-radius: 5px;
          }
        }
      }
    }
  }

  .points {
    h3 {
      position: relative;

      &::before {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: -38px;
        opacity: 0.2;
      }
    }
  }

  .service-custom-software-btn {
    margin-top: 70px;
  }
}

.glider.draggable .glider-slide img.ytcover {
  pointer-events: inherit;
}
.ytcover {
  z-index: 999;
}
.yt-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.result-driven-software-service {
  .heading {
    p {
      margin-bottom: 60px !important;
    }
  }

  .box-3 {
    p {
      //min-height: 182px;
    }
  }
}

.choose-custom-software {
  .heading {
    p {
      margin-bottom: 60px !important;
    }
  }
}


.business-challenge {
  background: #05247e;

  h2,
  p {
    color: #fff;
  }

  .threebox {
    .flex-3 {
      .box-3 {
        border-right: 1px dashed rgba(255, 255, 255, 0.5);
        padding: 10px 40px 0 40px;
        height: 100%;

        h3 {
          color: $white;
          margin-bottom: 20px;
        }

        p {
          color: $white;
          margin-bottom: 20px;
          opacity: 0.9;
        }
      }

      &:last-child {
        .box-3 {
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        padding: 40px 30px;
      }
    }
  }

}

@media only screen and (max-width: 1366px) {
  
}

@media screen and (max-width: 1280px) {
  
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-main {
    .hire-content {
      padding: 0;

      .counter-container {
        width: 80%;

        .hire-counter {
          margin: 15px 0;
        }
      }
    }
  }

 

  .why-choose-three-column-section {
    .threebox {
      .flex-3 {
        padding-right: 0;
        padding-left: 0;

        .box-3 {
          padding: 40px 13px;
          margin: 0 10px 0;
        }
      }
    }

    .offshore-threebox {
      .box-3 {
        height: auto;
        padding: 20px 10px !important;
      }
    }
  }

  .business-challenge {
    .threebox {
      .flex-3 {
        flex-basis: 33.33%;

        .box-3 {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
 
  .services-three-column-section  {
    .threebox {
      .box-3 {
        padding:20px;
        p {
          margin:0 0 15px;
        }
  
        h3 {
          margin: 0 0 15px;
        }
  
        ul {
          margin: 0 0 15px;
  
          li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;
  
            &:before {
              content: "";
              width: 9px;
              height: 9px;
              background: #016be3;
              position: absolute;
              left: 0;
              border-radius: 50%;
              top: 8px;
            }
          }
        }
      }
    }
  
    .twobox{
      .img-box{flex-basis:100%;}
      .content-box{flex-basis:100%;}
    }
  }

  

}

@media screen and (max-width: 767px) {
 

  .why-choose-three-column-section {
    .threebox {
      .box-3 {
        min-height: auto;
        height: auto;
      }

      .flex-3 {
        padding-right: 0px;
        padding-left: 0px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

   
  }

  .result-driven-software-service {
    .heading {
      p {
        margin-bottom: 20px !important;
      }
    }
    .box-3{
      p{min-height:initial;}
    }
  }

}


