@import "_default";
@import "menu-v2";
@import "_client-logo";
@import "_glide-core";
@import "faq";
@import "cta-v3";
@import "footer";
.hero-section {
  padding: 117px 0 80px;
  background-size: cover;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  background-color: rgba(4, 12, 23, 0.7);
  min-height: 70vh;
  text-align: center;
  .content-wrap {
    position: relative;
    z-index: 9;
    .breadcrumbs {
      margin: 0 0 60px;
    }
  }

  .left-box {
    flex-basis: 100%;
  }
  h1 {
    margin-bottom: 10px;
    color: $white;
  }
  p {
    margin: 0 0 20px;
    color: $white;
    line-height: 29px;
    &:first-of-type {
      margin-top: 0;
    }

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .dis-flex {
    align-items: center;
  }
  .margin-t-30 {
    margin-top: 30px;
  }

  &:before {
    content: "";
    background: rgba(4, 12, 23, 0.79);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*Sliding Section Start From Here*/

.slide-logo {
  padding: 39px 0;
  text-align: center;
  .dis-flex {
    overflow: hidden;
  }
  .logo-heading {
    flex-basis: 100%;
    margin: 0 0 25px;
    strong{color:$yellow;}
  }

  .logo-section {
    width: 1200px;
    margin: 0 auto;

    .glide {
      &__slide {
        height: 70px;
      }
    }
  }
}

/*Sliding Section Ends Here/

/*Trial Section Start From Here*/

.seven-days-trial {
  width: 100%;
  .trial-wrap {
    width: 100%;
    .trial-sticky {
      overflow: hidden;
      position: relative;
      .left-bar {
        width: 340px;
        text-align: right;
        float: left;
        padding-top:50px;
        &.sticky {
          position: fixed;
          top: 0;
          &.btomfixed {
            bottom:80px;
            top: auto;
            position: absolute;
          }
        }
        .bor-line {
          border-right: 6px solid #f6f6f6;
          padding-right: 20px;
          margin: 20px 0 0;
        }
        h3 {
          color: $headDay;
          margin-right: 20px;
          text-transform: uppercase;
          font-weight: 500;
        }
        ul {
          li {
            margin: 0 0 12px;
            list-style: none;
            color: $arsenic-light;
            a {
              text-decoration: none;
              padding: 10px 20px;
              color: $arsenic-light;
              border-radius: 5px;
              font-weight: 500;
              display: block;
              position: relative;
              font-size: 16px;
              line-height: 24px;
              &.active {
                color: $arsenic-dark;
                font-weight: 500;
                background: aliceblue;
                position: relative;
                display: block;
                &:after {
                  content: "";
                  width: 6px;
                  height: 42px;
                  background: $royelblue;
                  position: absolute;
                  top: 0;
                  right: -26px;
                  border-radius: 10px;
                }
              }
              &:hover {
                color: $headDay;
                font-weight: 500;
                background: aliceblue;
                position: relative;
                display: block;
              }
            }
          }
        }
      }

      .right-bar {
        width: calc(100% - 425px);
        float: right;
        padding-top:50px;
        .trial-answer {
          width: 100%;
          padding: 0 0 100px;
          &:last-child {
            padding: 0;
          }
          h2 {
            font-size: 30px;
            margin: 0 0 20px;
            line-height: 1.5;
            position: relative;
            &:before {
              display: block;
              height: 6rem;
              margin-top: -6.6rem;
              visibility: hidden;
              content: "";
            }
          }
          p {
            margin: 0 0 20px;
          }
          img {
            margin-top: 50px;
            width:100%;
          }

          .trial-row {
            margin: 35px 0 0;
            .trial-col {
              flex-basis: 33.33%;
              padding-right: 19px;
              margin: 0 0 19px;
              display: flex;
              &:nth-child(3n) {
                padding: 0;
              }
              .box {
                background: #f8f8f8;
                padding: 20px 20px 35px;
                img {
                  margin: 0 0 20px;
                  width: auto;
                }
                h3 {
                  border-top: 1px solid #d1d1e1;
                  padding: 20px 0 0;
                  margin: 0 0 10px;
                }
              }
            }
          }

          .process-step {
            position: relative;
            margin: 50px 0 0;
            .step-sec {
              margin: 0 0 40px;
              position: relative;
              .step-icon {
                flex-basis: 70px;
                img {
                  margin: 0;
                  width: auto;
                }
              }
              .step-desc {flex-basis: calc(100% - 70px);
                .step-no {
                  font-size: 12px;
                  text-transform: uppercase;
                  font-weight: 700;
                  color: #3f3f3f;
                  margin: 0 0 10px;
                  display: block;
                }
                h4 {
                  margin: 0 0 10px;
                  color: #3f3f3f;
                  font-size: 20px;
                }
                ul {
                  li {
                   position: relative;
                    flex-basis: 100%;
                    padding-left:15px;
                    margin: 0 0 10px;
                    line-height: 26px;
                    &:before{content: "";
                      width: 5px;
                      height: 5px;
                      background-color: #656565;
                      border-radius: 50%;
                      position: absolute;
                      left: 0;
                      top: 9px;}
                  }
                }
              }

              &:last-child {
                margin: 0;
              }
            }
            &:before {
              content: "";
              position: absolute;
              left: 20px;
              top: 40px;
              border-left: 1px dashed #d1d1e1;
              width: 1px;
              height: 83%;
            }
          }

          .trial-faq-section {
            margin: 50px 0 0;
            .trial-faq-outer {
              .trial-faq-outer {
                margin-top: 60px;
              }

              .trial-accordion-item-outer {
                position: relative;
                margin-top: 30px;

                &.active {
                  .trial-accordion-content {
                    display: block;
                  }
                  .trial-accordion-toggle {
                    border-bottom: 0;
                    &:before {
                      display: none;
                    }
                  }

                  .open-icon {
                    display: none;
                  }

                  .trial-accordion-toggle::after {
                    display: none;
                  }
                }
              }

              .trial-accordion-toggle {
                display: block;
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: 0.3s;
                padding: 0 60px 15px 0;
                position: relative;
                
                border-bottom: 1px solid #d1d1e1;
                a {
                  display: contents;
                }
                &::before {
                  content: "";
                  width: 48px;
                  height: 48px;
                  border: 1px solid #d1d1e1;
                  background: url(../images/arrow-up.png) center no-repeat;
                  border-bottom: 0;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  cursor: pointer;
                  transition: 0.3s;
                }

                &:hover:before {
                  background-color: rgba(255, 173, 0, 0.15);
                  background-position: center 25px;
                  transition: 0.3s;
                }
              }

              .trial-accordion-content {
                display: none;
                padding-top: 5px;
                padding-right: 50px;
                border-bottom: 1px solid #d1d1e1;
                padding-bottom: 20px;
                p {
                  margin: 0 0 10px;
                }

                ul,
                ol {
                  margin:0;
                  padding-left: 0;
                  li {
                    margin: 10px 0 0;
                    position: relative;
                    padding-left: 18px;

                    &:before {
                      content: "";
                      width: 8px;
                      height: 8px;
                      background-color: #ffb81d;
                      border-radius: 50%;
                      position: absolute;
                      left: 0;
                      top: 7px;
                    }
                  }
                }
              }

              .no-list-type {
                ul {
                  list-style-type: none;
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}


.footer-form-section{
  .info-wrap{justify-content: left; margin:0 0 20px;
    .info{
      &:after{top: 0px;     background: url(../images/info-icon2.svg) 0 0 no-repeat;}
    }
  }
}

.info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .info {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      width: 14px;
      height: 15px;
      background: url(../images/info-icon.svg) 0 0 no-repeat;
      position: absolute;
      top: -4px;
      transform: translateY(-50%);
      left: 0;
    }

    .info-content {
      width: 315px;
      border-radius: 10px;
      background: #eaf2ff;
      box-shadow: 4px 4px 30px 0px rgba(227, 233, 245, 0.38);

      padding: 15px;
      position: absolute;

      top: 25px;
      left: -75px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      text-align: left;
      line-height: initial;
      z-index: 9;
      h4 {
        font-size: 14px;
        color: $black;
        margin: 0 0 5px;
      }
      p {
        font-size: 11px;
        color: $black;
        line-height: 160%;
        margin: 0 0 5px;
        font-weight: normal;
      }

      .kmore {
        font-size: 11px;
        margin: 10px 0 0;
        text-decoration: underline;
        position: relative;
        color: $black;
        &:after {
          content: "";
          background: url(../images/know-arrow.png) 0 0 no-repeat;
          width: 8px;
          display: inline-block;
          height: 8px;
          margin-left: 5px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          color: $black;
          &:after {
            margin-left: 10px;
          }
        }
      }

      &:before {
        content: "";
    clear: both;
    display: block;
    background: url(../images/ex-arrow.png) top center no-repeat;
    background-size: 100%;
    width: 17px;
    height: 15px;
    position: absolute;
    top: -11px;
    left: 74px;
      }
    }

    &:hover {
      .info-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.contact-us-section {
  .info-wrap{justify-content: left;
}
  .info {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      width: 14px;
      height: 15px;
      background: url(../images/info-icon2.svg) 0 0 no-repeat;
      position: absolute;
      top: 1px;
      transform: translateY(-50%);
      left: 0;
    }
    .info-content{box-shadow: 4px 4px 30px 0px rgba(227, 233, 245, 0.90);}
  }

}

/*Trial Section Ends Here*/

@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1320px) {
  .seven-days-trial {
    .trial-wrap {
      .trial-sticky { 
        .left-bar {
          padding-top:50px;
          &.sticky {
            &.btomfixed {
              bottom:70px;
            }
          }
        }

        .right-bar {
          width: calc(100% - 400px);
          padding-top:50px;
          .trial-answer {
            padding: 0 0 70px;

            h2 {
              font-size: 26px;
            }

            .trial-row {
              margin: 30px 0 0;
              .trial-col {
                flex-basis: 33.33%;
                padding-right: 15px;
                margin: 0 0 15px;
                display: flex;

                .box {
                  background: #f8f8f8;
                  padding: 20px 20px 30px;
                }
              }
            }

            .process-step {
              position: relative;
              margin: 40px 0 0;
              .step-sec {
                margin: 0 0 30px;
                .step-icon {
                  flex-basis: 70px;
                }
                .step-desc {
                  width: calc(100% - 70px);
                  h4 {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .info-wrap {
    .info {
      .info-content {
        width: 280px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .hero-section p br {
    display: none;
  }

  .seven-days-trial {
    .trial-wrap {
      .trial-sticky {
        .left-bar {
          width: 30%;
        }

        .right-bar {
          width: 65%;

          .trial-answer {
            h2 {
              font-size: 25px;
              margin: 0 0 15px;
            }
            p {
              margin: 0 0 20px;
            }
            img {
              margin-top: 30px;
            }

            .trial-row {
              margin: 30px 0 0;
              .trial-col {
                flex-basis: 50%;
                padding-right: 19px;
                margin: 0 0 19px;
                display: flex;
                &:nth-child(2n) {
                  padding: 0;
                }
                &:nth-child(3n) {
                  padding-right: 19px;
                }
                .box {
                  padding: 20px 20px 30px;
                  img {
                    margin: 0 0 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .hero-section {
    padding: 130px 0 50px;
    background-size: 0;
    background-color: #05164d;
    min-height: initial;

    &:before {
      display: none;
    }
  }
}
@media only screen and (max-width: 767px) {
  .slide-logo {
    padding: 20px 0;
  }
  .seven-days-trial {
    padding: 50px 0;
    .trial-wrap {
      .trial-sticky {
        .left-bar {
          width: 100%;
          padding: 50px 0 0;
          text-align: center;
          border: 3px solid #f6f6f6;
          &.sticky {
            position: fixed;
            top: 0;
            &.btomfixed {
              bottom: 50px;
            }
          }
          .bor-line {
            border-right: 0;
            padding-right: 0;
            margin: 20px 0 0;
          }

          ul {
            li {
              margin: 0 0 12px;
              list-style: none;
              color: rgba(101, 101, 101, 1);
              a {
                font-size: 14px;

                &.active {
                  border-radius: 0;
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .right-bar {
          width: 100%;
          padding-top: 50px;
          .trial-answer {
            padding: 0 0 30px;

            h2 {
              font-size: 22px;
              margin: 0 0 15px;
              line-height: 1.3;

              &:before {
                display: none;
              }
            }
            p {
              margin: 0 0 15px;
            }
            img {
              margin-top: 20px;
            }

            .trial-row {
              margin: 25px 0 0;
              .trial-col {
                flex-basis: 100%;
                padding-right: 0;
                margin: 0 0 15px;
                display: flex;
                &:nth-child(3n) {
                  padding: 0;
                }
                .box {
                  padding: 20px;
                  img {
                    margin: 0 0 15px;
                  }
                  h3 {
                    padding: 15px 0 0;
                  }
                }
              }
            }

            .process-step {
              margin:30px 0 0;
              .step-sec {
                margin: 0 0 30px;
                .step-icon { flex-basis:60px;
                 
                  
                }
                .step-desc {flex-basis: calc(100% - 60px);
                 
                  h4 {
                    font-size: 18px;
                  }
                  ul {
                    li {
                  
                      line-height: 24px;
                      
                    }
                  }
                }
          
               
              }
              
            }

            .trial-faq-section {
              margin: 40px 0 0;
              .trial-faq-outer {
                .trial-faq-outer {
                  margin-top: 40px;
                }

                .trial-accordion-item-outer {
                  margin-top: 30px;
                }

                .trial-accordion-toggle {
                  padding: 0 50px 10px 0;

                  &::before {
                    width: 40px;
                    height: 40px;
                  }
                }

                .trial-accordion-content {
                  padding-right: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .info-wrap{
    .info {
      .info-content{width: 250px; text-align: center;}
    }
  } 
}


