.nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    border-radius: 5px;
    border: 0.9px solid #E0E6EA;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    outline: none;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    padding: 16px 35px 16px 18px;
    outline: 0;
    margin-bottom: 30px;
}
.nice-select:focus {
    border-color: white;
    outline: 1px;
}
.nice-select:focus span.current {
    opacity: 1;
    color: #fff;
}
.day .nice-select:focus {
    border-color: #000;
}
.day .nice-select {
    width: 100%;
    border-color: #1D1C39;
}
.day .nice-select .list{
    box-shadow:0px 1px 7px 5px #ddd;
}
.nice-select .option:last-child {
    border: unset;
}
.day .nice-select:hover{
    border-color: #1D1C39;
}
.day .nice-select .option:hover {
    background: rgba(0,0,0,0.05);
    color: #212121;
}
.day .nice-select .option{
    color: #656565;
}
.day .nice-select .nice-select-dropdown{
    background-color: #fff;
    }
.day .nice-select span.current{
    color: #1D1D1D;
}
.day .form-text-cont.is-selected .nice-select span.current {
    color: #1D1D1D;
}

.nice-select span.current{
    opacity: 0.7;
    text-transform: capitalize;
}
/* .form-text-cont.is-selected .nice-select span.current {
    opacity: 1;
    color: #fff;
} */


.day .nice-select.open .nice-select-dropdown{
    width:100%;
    left:0;
}
.day .nice-select-dropdown .list li em{
    border-color: #656565;
}

.day .nice-select .option:hover em {
    border-color: #212121;
}
.day .nice-select:after {
    filter: brightness(0.5);
}
.nice-select:hover {
    border-color: #dbdbdb;
}
.nice-select .option:hover {
    background-color: #F6F8FB;
    border: 1px solid #F6F8FB;
    color: #253053;
}
.nice-select .option.focus {
    background-color: rgba(0,0,0,0.05);
    opacity: 1;
}

/* .nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999
} */

.nice-select-dropdown .list li em {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px #1D1D1D solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: lowercase;
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform-origin: 66% 66%;
    transition: all .15s ease-in-out;
    background: url(./images/arrow-drop-img.png) 0 0 no-repeat;
    background-size: 100%;
    width: 15px;
    height: 10px;
}

.nice-select.open:after {
    transform: rotate(-180deg);
    right: 16px;
    top: 47%;
}

.nice-select.open .nice-select-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0)
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none
}
.nice-select.disabled:after {
    border-color: #ccc
}
.nice-select.wide {
    width: 100%
}

.nice-select.wide .nice-select-dropdown {
    /* left: 0 !important;
    right: 0 !important */
}

.nice-select.right {
    float: right
}

.nice-select.right .nice-select-dropdown {
    left: auto;
    right: 0
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px
}

.nice-select.small:after {
    height: 4px;
    width: 4px
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .nice-select-dropdown {
    margin-top: 10px;
    background-color: #1D1C39;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(19px);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    opacity: 0;
    width:calc(100% + 2px);
}
.nice-select .list {
    box-sizing: border-box;
    padding: 0;
    max-height: initial;
    background: #FFFFFF;
    border: 1px solid rgba(224, 230, 234, 0.7);
    box-shadow: 0px 3px 9px rgb(84 83 100 / 12%);
    border-radius: 0px 0px 10px 10px;
    color: #666E86;
    
}
.nice-select + small {
    position: relative;
    top: -10px;
    display: none;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important
}
.nice-select .option:hover {
    opacity: 1;
}
.nice-select .list em:hover ~ .info {
    opacity: 1;
    visibility: visible;
    line-height: 18px;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    /* line-height: 40px; */
    font-size: 14px;
    list-style: none;
    outline: none;
    text-align: left;
    transition: all .2s;
    padding: 15px 20px 10px;
    border: 1px solid #E0E6EA;
    color: #666E86;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;

}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #F6F8FB;
    color: #253053;
}

.nice-select .option.selected {
    /* font-weight: bold */
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default
}

.nice-select .optgroup {
    font-weight: bold
}

.no-csspointerevents .nice-select .nice-select-dropdown {
    display: none
}

.no-csspointerevents .nice-select.open .nice-select-dropdown {
    display: block
}

.nice-select .list::-webkit-scrollbar {
    width: 0
}

.nice-select .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px
}

.nice-select .has-multiple span.current {
    border: 1px solid #ccc;
    background: #eee;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px
}

.nice-select .has-multiple .multiple-options {
    display: block;
    line-height: 24px;
    padding: 0
}

.nice-select .nice-select-search-box {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    pointer-events: none;
    border-radius: 5px 5px 0 0
}

.nice-select .nice-select-search {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0 !important;
    font-size: 14px
}

@media only screen and (min-width: 1801px){
    .nice-select + small {
       top: -20px;
    }
    .step-one .nice-select+small {
        top: -30px;
    }    
}

@media only screen and (max-width: 1800px){
    .nice-select {
        margin-bottom: 10px;
    }
    /* .step-two .nice-select {
        margin-bottom: 20px;
    } */
}

@media only screen and (max-width: 767px){

    .nice-select {
        margin-bottom: 2px;
    }
    .step-two .nice-select {
        margin-bottom: 2px;
    }
    .nice-select .list .info {
        display: none;
    }    
    .nice-select {
        padding: 12px 25px 12px 12px;
    }
    .nice-select:after {
        width: 14px;
        height: 9px;
    }
    .list em:hover ~ .info {
        left: 0;
        overflow-x: auto;
        max-width: 305px;
        display: block;
    }
    .nice-select.open:after {
        top: 42%;
    }
}
