.develop-section {
  .dev-cards {
    --cards-text-color: #fff;
    --animation-speed-normal: .3s;
    --animation-speed-fast: .25s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;

    .card {
      flex-basis: 197px;
      position: relative;
      height: 350px;
      z-index: 1;
      transition: all var(--animation-speed-normal) ease-in-out;
      cursor: pointer;
      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        border-radius:10px;
      }
      .card-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        padding: 30px;
        opacity: 0;
        transition: all var(--animation-speed-normal) ease-in-out;

        h3 {
          color: $white;
          margin: 0 0 10px;
        }
        p {
          color: $white;
          &:nth-of-type(1) {
            margin: 0;
          }
        }
      }

      .card-heading {
        position: absolute;
        left: 0;
        bottom: -60px;
        color: rgba(65, 65, 65, 0.6);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
      }
    }
  }
  .dev-cards .card[active] {
    flex-basis: 560px;
    height: 350px;
    .card-info {
      opacity: 1;
    }
    .card-heading {
      color: rgba(65, 65, 65, 1);
    }
  }
  .dev-cards {
    .card {
      &.active{
        flex-basis: 560px;
      height: 350px;
      .card-info {
        opacity: 1;
      }
      .card-heading {
        color: rgba(65, 65, 65, 1);
      }
      }
      
    }
  }
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {

  .develop-section {padding-bottom:80px;
    .dev-cards {
      flex-wrap: wrap;
      gap: 50px;
      .card {
        flex-basis:100%;
        height:100px;
        .card-info {
          padding: 20px;
        }
        .card-heading {
          bottom: -35px;
          font-size: 18px;
        }
      }
    }
    .dev-cards .card[active] {
      flex-basis:100%;
      height:300px;
      .card-info {
        opacity: 1;
      }
    }
  }

}
