.footer-form-section {
  position: relative;
  background: $white;

  ::placeholder {
    color: rgba(50, 50, 50, 0.5);
  }

  &:before {
    content: "";
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background: $royelblue;
    height: 100%;
  }

  .left-box {
    flex-basis: 35%;
    position: relative;
    z-index: 1;

    .soc-box {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      font-weight: 500;
      a {
        display: flex;
        align-items: center;
        padding-left: 20px;
        position: relative;
        color: rgba(255, 255, 255, 0.8);
        line-height: initial;
        &:before {
          content: "";
          width: 1px;
          height: 25px;
          position: absolute;
          left: 9px;
          top: -2px;
          background: rgba(65, 65, 65, 0.3);
        }
        &:hover {
          color: $white;
        }
        &:first-child {
          padding: 0;
          &:before {
            display: none;
          }
        }
        i {
          margin-right: 10px;
          img {
            vertical-align: middle;
          }
        }

        &:before {
          content: "";
          width: 1px;
          height: 25px;
          position: absolute;
          left: 9px;
          top: -2px;
          background: rgba(65, 65, 65, 0.3);
        }
        span {
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: url(../images/home-images/soc-border.svg) 0 0 no-repeat;
            position: absolute;
            bottom: -1px;
            left: 0;
            opacity: 1 !important;
          }
        }
      }
    }

    .award-box {
      width: 100%;
      padding: 30px 0 0;

      p {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        strong {
          font-weight: 700;
        }

        a {
          color: $white;
          text-decoration: underline;
        }
      }

      .row-box {
        .col-box {
          margin: 30px 0 0;
          align-items: self-start;
          .icon {
            flex-basis: 50px;
          }
          .desp {
            flex-basis: 85%;
            padding-left: 0;
            h4 {
              color: #e0e0e0;
              font-weight: 500;
            }
            p {
              font-size: 14px;
              margin: 5px 0 0;
              line-height: 24px;
              color: #c0c0c0;
              font-weight: 400;
            }
          }
        }
      }

      .client-stack {
        margin: 30px 0 0;
        ul {
          display: flex;
          gap: 7px;
          flex-wrap: wrap;
        }
      }
    }
  }

  #ffile-type-error {
    color: #ff0000;
    font-size: 12px;
  }

  .list-box {
    padding-left: 60px;
    position: relative;
    padding-top: 25px;
    &::before {
      clear: both;
      background: #016be3;
      box-shadow: 0 0 10px rgba(9, 39, 149, 0.25);
      color: #fff;
      font-size: 18px;
      line-height: 21.09px;
      border-radius: 50px;
      height: 40px;
      width: 40px;
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      justify-content: center;
      display: flex;
      align-items: center;
      z-index: 1;
    }
  }

  .side-dash1 {
    p {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &::before {
      content: "1";
    }

    &::after {
      content: "";
      clear: both;
      display: block;
      height: 100%;
      border-left: 0.8px dashed rgba(223, 223, 223, 0.5);
      width: 4px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 0;
    }
  }

  .side-dash2 {
    &::before {
      content: "2";
    }
  }

  .contact-form-box {
    background: #ffffff;
    border-radius: 15px;
  }

  .right-box {
    flex-basis: 60%;
    padding-left: 50px;
  }

  .form-text-cont {
    flex-basis: 50%;
    margin-top: 30px;
    position: relative;

    &:nth-child(2n -1) {
      padding-right: 20px;
    }

    .user-input {
      position: relative;

      label {
        position: absolute;
        top: -13px;
        left: 8px;
        font-size: 13px;
        background: #fff;
        padding: 0 8px;
        color: rgba(51, 51, 51, 0.7);
        font-weight: 500;
      }
    }

    .dis-flex {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .input-field {
    border: 1.5px solid #d4e0ed;
    padding: 0 15px;
    height: 54px;
    background: transparent;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    outline: 0;
    color: rgba(51, 51, 51, 0.5);
    line-height: initial;
    &:focus {
      border: 0.5px solid #010101;
    }
  }

  .user-input {
    &.textarea-box {
      .input-field {
        height: initial;
        padding: 15px;
      }
    }
  }

  small {
    display: none;
    color: #ff0000;
    font-size: 12px;
  }

  .verror {
    small {
      display: block;
    }

    .input-field,
    .user-input {
      border-color: #ff0000 !important;
    }
  }

  .verror {
    &.user-input {
      small {
        margin-top: 5px;
      }
    }
  }

  .comment-input {
    min-height: 100px;
    border: 0;
    outline: 0;
    width: 100%;
    resize: none;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    font-family: Lexend Deca;
    font-weight: normal;
  }

  .drop-input {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .drop-box {
    text-decoration: none;
    padding: 5px 10px;
    border: 0.5px solid #fff;
    font-size: 12px;
  }

  .checkout {
    flex-basis: 34%;
    text-align: right;
    .btn-container {
      margin-top: 0;
      .cta-button {
        background: $royelblue url(../images/home-images/white-cta.svg)
          no-repeat right 15px center;
        border: none;
        padding: 16px 50px 16px 20px;
        color: $white;

        &:hover {
          background: #016be3 url(../images/home-images/white-cta.svg) no-repeat
            right 15px center;
        }
      }
    }
  }

  .form-text-cont.width-full {
    flex-basis: 100%;
    padding-right: 0;
  }

  .drop-area-box {
    display: inline-block;
    background: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    border-radius: 0;
    cursor: pointer;
    color: #323232;

    input {
      display: none;
    }

    button {
      background: rgba(217, 217, 217, 0.2);
      color: #414040;
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid #d1d1e1;
      font-size: 12px;
      border-radius: 5px;
      font-weight: 500;
      &:hover {
        background: rgba(217, 217, 217, 0.8);
        opacity: 1;
      }
    }
  }

  .for-two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  // autocomplete country
  .autocomplete-items {
    display: none;
    &.has-data {
      background: #fff;
      display: block;
      height: 140px;
      overflow-y: auto;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      max-width: 280px;
      box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.4);
      border-radius: 5px;
      z-index: 2;
      div {
        color: #444444;
        background: #fff;
        border-bottom: 1px solid #444444;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        padding: 15px 20px;
        &.autocomplete-active,
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  // loader Img
  .gal-loader {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    display: none;
    &.active {
      display: block;
      background: rgba(0, 0, 0, 0.1);
      margin-top: 30px;
      .loader {
        display: block;
      }
    }
    &.show-me {
      display: block;
      min-height: 100px;
    }
    .loader {
      border: 5px solid #9f9f9f;
      border-radius: 50%;
      border-top: 5px solid #016be3;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      margin-bottom: 10px;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      top: 22px;
      left: 50%;
      display: none;
    }
  }
  .gallery {
    div {
      display: inline-flex;
      margin-right: 10px;
      vertical-align: baseline;
      align-items: flex-start;
      position: relative;
      transition: all 0.3s ease-in-out;
      button,
      a {
        text-decoration: none;
        background: #ffb81d;
        padding: 4px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        vertical-align: middle;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        position: absolute;
        right: 4px;
        cursor: pointer;
        border: 0;
        outline: 0;
      }
      button:focus,
      a:focus {
        background: #f30909;
      }
    }
    img {
      width: auto;
      height: 45px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  // quiz
  .form-quiz-group {
    display: flex;
    align-items: center;
    flex-basis: 66%;

    .quizQ {
      border: 1px dashed #c4c4c4;
      border-radius: 4px;
      padding: 13px 30px;
      background: url("../images/quiz-bg.png") 5px center no-repeat;
      height: 50px;
    }
    .equal {
      margin: 0 15px;
    }
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #4a4c55;
    }
    .refreshbtn {
      background: url(../images/home-images/refresh-icon.svg) top center
        no-repeat;
      background-size: 100%;
      width: 24px;
      height: 21px;
      margin-left: 35px;
      cursor: pointer;
      margin-top: -4px;
      transition: all 0.5s ease 0s;
      display: inline-block;
      vertical-align: middle;

      &:active {
        transform: rotate(360deg);
      }
    }

    .quizAns {
      input {
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        height: 50px;
        max-width: 67px;
        text-align: center;
        padding: 10px 20px;
      }
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ff0000;
      }
    }
  }

  // country flag
  .user-input {
    .pcode-prefix {
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: 0;
      border: 0;
      outline: 0;
      width: 100px;
      background: none;
      padding-left: 44px;
      color: #737373;
    }
  }

  .flag-box {
    flex-basis: 26%;
  }

  .phone-flag-box {
    .user-input {
      &:last-child {
        flex-basis: 74%;
        padding-left: 20px;
      }
    }
  }
}

.info-wrap {
  display: flex;
  justify-content: left;
  align-items: center;

  .info {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      width: 14px;
      height: 15px;
      background: url(../images/info-icon2.svg) 0 0 no-repeat;
      position: absolute;
      top: -1px;
      transform: translateY(-50%);
      left: 0;
    }

    .info-content {
      width: 315px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 4px 4px 30px 0px rgba(227, 233, 245, 0.38);

      padding: 15px;
      position: absolute;

      top: 25px;
      left: -75px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      text-align: left;
      line-height: initial;
      z-index: 9;
      h4 {
        font-size: 14px;
        color: #000;
        margin: 0 0 5px;
      }
      p {
        font-size: 11px;
        color: #000;
        line-height: 160%;
        margin: 0 0 5px;
        font-weight: normal;
      }

      .kmore {
        font-size: 11px;
        margin: 10px 0 0;
        text-decoration: underline;
        position: relative;
        color: #000;
        &:after {
          content: "";
          background: url(../images/know-arrow.png) 0 0 no-repeat;
          width: 8px;
          display: inline-block;
          height: 8px;
          margin-left: 5px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          color: #000;
          &:after {
            margin-left: 10px;
          }
        }
      }

      &:before {
        content: "";
        clear: both;
        display: block;
        background: url(../images/poly.svg) 0 0 no-repeat;
        background-size: 100%;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -15px;
        left: 70px;
      }
    }

    &:hover {
      .info-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// media query

@media screen and (max-width: 1320px) {
  .footer-form-section {
    .form-quiz-group {
      .equal {
        margin: 0 5px;
      }
      .refreshbtn {
        margin-left: 20px;
      }
      .quizQ {
        padding: 13px 20px;
      }
    }
    .form-quiz-group {
      flex-basis: 50%;
    }
    .checkout {
      flex-basis: 35%;
      .checkout-submit {
        padding: 12px 15px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer-form-section {
    .right-box {
      //padding-left: 0;
    }
    .contact-form-box {
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer-form-section {
    .left-box {
      flex-basis: 100%;
      padding-right: 0;

      h2 {
        margin-bottom: 30px;
      }

      .award-box {
        .row-box {
          .col-box {
            .icon {
              flex-basis: 50px;
            }
            .desp {
              flex-basis: 80%;
            }
          }
        }
      }
    }
    .right-box {
      flex-basis: 100%;
      margin-top: 60px;
      padding: 0;

      .top-section {
        &.text-left {
          padding: 30px 0;
          text-align: center;
        }
      }
    }
    .contact-form-box {
      padding: 0;
    }
    .input-field {
      height: 50px;
      font-size: 14px;
    }
    .comment-input {
      font-size: 14px;
    }
    .checkout .btn-container {
      text-align: center;
    }
    &:before {
      width: 100%;
      height: 43%;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-form-section {
    .phone-flag-box {
      .user-input {
        &:last-child {
          padding-left: 10px;
        }
      }
    }

    .user-input {
      .pcode-prefix {
        top: 25px;
      }
    }

    .form-text-cont {
      flex-basis: 100%;

      &:nth-child(2n-1) {
        padding-right: 0px;
      }
    }

    .for-two-col {
      margin-top: 30px;

      .attachment-box {
        flex-basis: 100%;
      }

      .checkout {
        flex-basis: 100%;
        text-align: left;
        margin-top: 30px;
      }
    }

    .left-box {
      h2 {
        br {
          display: none;
        }
      }

      .profile-pic img {
        max-width: 45px;
      }
    }

    .side-dash1 {
      &::after {
        left: 15px;
      }
    }

    .list-box {
      padding-left: 45px;

      &::before {
        height: 30px;
        width: 30px;
      }
    }

    .right-box {
      .form-text-cont {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .comment-input {
      min-height: 85px;
    }

    .drop-area-box {
      label {
        &::before {
          background-position: 4px 6px;
          background-size: 70%;
          width: 28px;
          height: 28px;
          top: -5px;
        }
      }
    }
    .form-quiz-group {
      flex-basis: 100%;
      align-items: baseline;
      .quizQ {
        min-width: 130px;
        padding: 12px 15px;
      }
      span {
        font-size: 16px;
      }
      .refreshbtn {
        margin-left: 10px;
        margin-top: 1px;
        width: 20px;
      }
    }
  }

  .footer-form-section .form-quiz-group .quizAns span {
    margin: 5px 0 0;
    display: block;
  }
  .info-wrap .info .info-content {
    width: 250px;
  }
  .footer-form-section:before {
    height: 41%;
  }
}
